Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

Refactor semantic node kind coverage tests for improved clarity and maintainability
  crates/perl-parser/tests/semantic_nodekind_coverage_tests.rs
Due: none

Refactor path validation tests for cross-platform compatibility and improve error handling in parser tests
  crates/perl-dap/src/security.rs
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/security/sandbox.rs
  crates/perl-lsp/tests/common/test_utils.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  crates/perl-lsp/tests/support/test_helpers.rs
  crates/perl-parser/src/lib.rs
  crates/perl-parser/tests/semantic_nodekind_coverage_tests.rs
  scripts/.ignored-baseline
Due: parser, lsp, dap

Enhance error messaging in debugger connection, improve test coverage by removing ignore annotations, and update ignored test descriptions for clarity
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-lsp-code-actions/src/enhanced/mod.rs
  crates/perl-lsp/tests/lsp_full_coverage_user_stories.rs
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser/tests/corpus_gap_tests.rs
  crates/perl-parser/tests/word_operator_precedence_test.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/symbol_perf_test.rs
  justfile
  scripts/.ignored-baseline
  scripts/ignored-test-count.sh
Due: dap

Update repository metadata, enhance Cargo.toml files, and improve grammar rules for Perl parser
  .github/README.md
  .github/settings.yaml
  Cargo.lock
  Cargo.toml
  crates/perl-ast/Cargo.toml
  crates/perl-builtins/Cargo.toml
  crates/perl-dap-breakpoint/Cargo.toml
  crates/perl-dap-eval/Cargo.toml
  crates/perl-dap-stack/Cargo.toml
  crates/perl-dap-variables/Cargo.toml
  crates/perl-dap/Cargo.toml
  crates/perl-diagnostics-codes/Cargo.toml
  crates/perl-edit/Cargo.toml
  crates/perl-error/Cargo.toml
  crates/perl-heredoc/Cargo.toml
  crates/perl-parser-pest/Cargo.toml
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-position-tracking/Cargo.toml
  crates/perl-pragma/Cargo.toml
  crates/perl-quote/Cargo.toml
  crates/perl-regex/Cargo.toml
  crates/perl-symbol-table/Cargo.toml
  crates/perl-token/Cargo.toml
  crates/perl-tokenizer/Cargo.toml
  crates/perl-uri/Cargo.toml
  crates/tree-sitter-perl-c/Cargo.toml
  crates/tree-sitter-perl-rs/Cargo.toml
  crates/tree-sitter-perl-rs/src/grammar.pest
Due: none

Refactor tests and remove ignore annotations for various DAP and LSP features
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_breakpoint_matrix_tests.rs
  crates/perl-dap/tests/dap_dependency_tests.rs
  crates/perl-dap/tests/dap_golden_transcript_tests.rs
  crates/perl-dap/tests/dap_packaging_tests.rs
  crates/perl-dap/tests/dap_performance_tests.rs
  crates/perl-lsp/tests/code_actions_enhanced_tests.rs
  crates/perl-lsp/tests/lsp_code_actions_test.rs
  crates/perl-lsp/tests/lsp_pull_diagnostics_test.rs
  crates/perl-lsp/tests/parameter_validation_tests.rs
  crates/perl-lsp/tests/server_cancellation_test.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser/Cargo.toml
  crates/perl-parser/tests/missing_docs_ac_tests.rs
  crates/perl-refactoring/Cargo.toml
  crates/perl-refactoring/tests/workspace_rename_tests.rs
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  docs/COMMANDS_REFERENCE.md
  docs/CRATE_ARCHITECTURE_GUIDE.md
  docs/LSP_DEVELOPMENT_GUIDE.md
  scripts/.ignored-baseline
Due: none

Add v2 parity and bundle sync gates, enhance lexer preprocessing, and update parser features
  .ci/gate-policy.yaml
  Cargo.lock
  crates/perl-parser-pest/Cargo.toml
  crates/perl-parser-pest/src/error.rs
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/Cargo.toml
  crates/tree-sitter-perl-rs/src/disambiguated_parser.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/iterative_parser.rs
  crates/tree-sitter-perl-rs/src/lexer_adapter.rs
  crates/tree-sitter-perl-rs/src/lib.rs
  crates/tree-sitter-perl-rs/src/parser_benchmark.rs
  crates/tree-sitter-perl-rs/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/src/sexp_formatter.rs
  justfile
  scripts/check-v2-bundle-sync.sh
Due: none

Refactor LexerAdapter to remove preprocessing logic and update tests for passthrough behavior
  crates/tree-sitter-perl-rs/src/disambiguated_parser.rs
  crates/tree-sitter-perl-rs/src/lexer_adapter.rs
Due: none

Enhance parser functionality and tests for tie interface, recursion depth, and S-expression generation
  crates/perl-corpus/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser/tests/hang_risk_deep_nesting_tests.rs
  crates/perl-parser/tests/parser_tie_interface_tests.rs
  crates/perl-tokenizer/src/trivia.rs
  crates/perl-tokenizer/src/trivia_parser.rs
  crates/perl-tokenizer/tests/trivia_edge_cases.rs
  scripts/.ignored-baseline
  xtask/src/main.rs
  xtask/src/tasks/corpus.rs
  xtask/src/tasks/corpus_audit/nodekind_analysis.rs
  xtask/src/types.rs
Due: corpus

Replace bincode with postcard for serialization in Perl parser and update dependencies
  Cargo.lock
  crates/perl-parser-pest/Cargo.toml
  crates/perl-parser-pest/src/error.rs
  crates/tree-sitter-perl-rs/Cargo.toml
  crates/tree-sitter-perl-rs/src/error.rs
  crates/tree-sitter-perl-rs/src/scanner/c_scanner.rs
  crates/tree-sitter-perl-rs/src/scanner/mod.rs
  crates/tree-sitter-perl-rs/src/scanner/rust_scanner.rs
  crates/tree-sitter-perl-rs/src/tests.rs
Due: none

Add perl-parser-pest dependency and implement bridge modules for v2 Pest parser
  Cargo.lock
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/Cargo.toml
  crates/tree-sitter-perl-rs/README.md
  crates/tree-sitter-perl-rs/src/lib.rs
  crates/tree-sitter-perl-rs/src/parser_benchmark.rs
  crates/tree-sitter-perl-rs/src/pratt_parser_bridge.rs
  crates/tree-sitter-perl-rs/src/pure_rust_parser_bridge.rs
  crates/tree-sitter-perl-rs/src/sexp_formatter_bridge.rs
  scripts/.ignored-baseline
Due: none

Refactor benchmark and test files, remove unused imports, and update ignored test baseline
  crates/perl-dap/benches/dap_native_benchmarks.rs
  crates/perl-dap/tests/tcp_attach_tests.rs
  crates/perl-lsp/tests/lsp_code_actions_tests.rs
  crates/perl-parser/tests/corpus_gap_tests.rs
  crates/perl-parser/tests/word_operator_precedence_test.rs
  scripts/.ignored-baseline
Due: none

Refactor S-expression formatter and enhance parsing capabilities
  Cargo.lock
  crates/perl-parser-pest/Cargo.toml
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-parser-pest/src/pratt_parser.rs
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/perl-parser-pest/src/sexp_formatter.rs
  xtask/Cargo.toml
  xtask/src/tasks/corpus.rs
  xtask/src/types.rs
Due: none

style: apply rustfmt formatting
  crates/perl-parser-pest/src/error.rs
  crates/perl-parser/tests/quote_parser_final_hardening.rs
  crates/perl-parser/tests/substitution_fuzz_tests.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
  crates/tree-sitter-perl-rs/src/error.rs
  crates/tree-sitter-perl-rs/src/lexer_adapter.rs
  crates/tree-sitter-perl-rs/src/scanner/c_scanner.rs
Due: none

Enhance lexer and parser functionality, improve test coverage, and update documentation for corpus comparison
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-tokenizer/src/trivia_parser.rs
  crates/perl-tokenizer/tests/trivia_edge_cases.rs
  docs/COMMANDS_REFERENCE.md
  docs/CRATE_ARCHITECTURE_GUIDE.md
  docs/LSP_DEVELOPMENT_GUIDE.md
  scripts/.ignored-baseline
  xtask/src/tasks/corpus.rs
Due: lexer

⚡ Bolt: Optimize symbol extraction for interpolated strings
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/string_interpolation_perf.rs
Due: none

Fix safe evaluation bypass for package-qualified dangerous operations
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

Refactor parser tests and improve error handling
  corpus_audit_report.json
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/lexer_adapter.rs
  docs/CURRENT_STATUS.md
Due: none

⚡ Bolt: Use PHF for builtin detection in semantic analyzer
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/builtin_coverage.rs
Due: none

feat: update CI gate policy and test commands to exclude internal tree-sitter harness
  .ci/gate-policy.yaml
  docs/CURRENT_STATUS.md
  justfile
  scripts/update-current-status.py
Due: none

feat(vscode): make status menu items context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat: enhance LSP functionality with improved selection range and declaration handling, add unsafe syntax checks
  ci/check_unsafe_prod.sh
  ci/unsafe_prod_baseline.txt
  crates/perl-lsp-providers/src/ide/lsp_compat/selection_range.rs
  crates/perl-lsp/tests/lsp_capabilities_snapshot.rs
  crates/perl-parser-core/src/engine/parser/format_comprehensive_tests.rs
  crates/perl-parser-core/src/engine/parser/loop_control_tests.rs
  crates/perl-parser/tests/corpus_gap_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
  crates/perl-semantic-analyzer/tests/symbol_perf_test.rs
  docs/CURRENT_STATUS.md
  justfile
  scripts/.ignored-baseline
Due: none

perf(semantic-analyzer): optimize extract_vars_from_string using OnceLock
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

feat: implement unwrap/panic-family ratchet checks and update baselines to zero
  ci/check_unsafe_prod.sh
  ci/check_unwraps_prod.sh
  ci/panic_prod_baseline.txt
  ci/unsafe_prod_baseline.txt
  crates/perl-dap/src/platform.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lsp/src/util/uri.rs
  crates/perl-parser/src/ide/lsp_compat/type_hierarchy.rs
  crates/perl-position-tracking/src/wire.rs
  docs/CURRENT_STATUS.md
  justfile
Due: parser, lsp, lexer, dap

Fix infinite redirect DoS and relative URL crash in BinaryDownloader
  .jules/sentinel.md
  vscode-extension/src/downloader.ts
Due: none

feat(vscode): make status menu context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

perf(semantic-analyzer): optimize interpolated string regex with OnceLock
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

chore: Update corpus audit report and improve documentation
  CHANGELOG.md
  corpus_audit_report.json
  crates/perl-lsp-providers/src/ide/lsp_compat/selection_range.rs
  crates/perl-lsp-tooling/src/performance.rs
  crates/perl-parser-core/src/engine/parser/mod.rs
  crates/perl-parser/src/ide/lsp_compat/code_actions.rs
  crates/perl-parser/src/ide/lsp_compat/completion.rs
  crates/perl-parser/src/ide/lsp_compat/diagnostics.rs
  crates/perl-parser/src/ide/lsp_compat/inlay_hints.rs
  crates/perl-parser/src/ide/lsp_compat/references.rs
  crates/perl-parser/src/ide/lsp_compat/rename.rs
  crates/perl-parser/src/ide/lsp_compat/semantic_tokens.rs
  crates/perl-parser/src/ide/lsp_compat/type_hierarchy.rs
  crates/perl-parser/src/lib.rs
  crates/perl-parser/tests/missing_docs_ac_tests.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/tree-sitter-perl-rs/src/fuzz_tests.rs
  crates/tree-sitter-perl-rs/src/stateful_parser.rs
  docs/CURRENT_STATUS.md
  docs/ROADMAP.md
  docs/START_HERE.md
  docs/TODO.md
Due: parser

⚡ Bolt: Optimize known function check using PHF
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/builtin_coverage.rs
Due: none

feat: enhance compatibility by deprecating legacy modules and improving documentation for microcrate exports
  crates/perl-lsp-providers/README.md
  crates/perl-lsp-providers/src/ide/lsp_compat/code_actions.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/completion.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/diagnostics.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/formatting.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/inlay_hints.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/mod.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/rename.rs
  crates/perl-lsp-providers/src/lib.rs
  crates/perl-lsp-providers/tests/microcrate_reexports_compatibility.rs
  crates/perl-lsp/tests/execute_command_mutation_hardening_public_api_tests.rs
  docs/CURRENT_STATUS.md
  docs/HONEST_ASSESSMENT.md
  docs/ROADMAP.md
  features.toml
  plans/production_readiness_roadmap.md
Due: none

UX: Make status menu context-aware for test files
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Fix path traversal vulnerability in inlineValues request
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/security_inline_values_tests.rs
Due: dap

feat: add perl-dap modules and enhance debug adapter functionality with recent output handling
  Cargo.lock
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/debug_adapter.rs
  docs/ROADMAP.md
  plans/production_readiness_roadmap.md
Due: dap

Enhance DAP Testing and Documentation
  CHANGELOG.md
  Cargo.lock
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/main.rs
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_breakpoint_matrix_tests.rs
  crates/perl-dap/tests/dap_dependency_tests.rs
  crates/perl-dap/tests/dap_edge_cases_test.rs
  crates/perl-dap/tests/dap_golden_transcript_tests.rs
  crates/perl-dap/tests/dap_packaging_tests.rs
  crates/perl-dap/tests/dap_performance_tests.rs
  docs/CURRENT_STATUS.md
  docs/HONEST_ASSESSMENT.md
  docs/ROADMAP.md
  docs/START_HERE.md
  features.toml
Due: dap

feat(lsp): enhance hover information with synthesized framework attributes
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/common/test_utils.rs
  crates/perl-lsp/tests/lsp_smoke_e2e.rs
  crates/perl-lsp/tests/moo_semantics_e2e.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_moo.rs
  justfile
Due: lsp, dap

feat(tests): update parsing functions to return Result for better error handling
  crates/perl-lsp-providers/tests/microcrate_reexports_compatibility.rs
Due: none

feat(dap): implement setVariable handling and validation, add terminate request support
  LICENSE-APACHE
  LICENSE-MIT
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
Due: dap

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
