Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(perl-parser-core): expand loop control parsing coverage (#0000) (#7716)
  crates/perl-parser-core/src/engine/parser/loop_control_tests.rs
Due: none

test(perl-parser): add parser gap coverage for do/switch forms (#0000)
  crates/perl-parser/tests/corpus_gap_tests.rs
Due: none

test(perl-lexer): add lexer config unit coverage (#0000)
  crates/perl-lexer/src/config.rs
Due: lexer

test(perl-workspace): close document-store unit-test gaps (#0000)
  crates/perl-workspace-index/src/workspace/document_store.rs
Due: none

refactor(perl-dap): extract server lifecycle module (#0000)
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/server/config.rs
  crates/perl-dap/src/server/lifecycle.rs
  crates/perl-dap/src/server/mod.rs
  crates/perl-dap/src/server/mode.rs
Due: dap

refactor(perl-corpus): extract metadata and loading facade modules (#0000)
  crates/perl-corpus/src/api.rs
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/loading/dir.rs
  crates/perl-corpus/src/loading/file.rs
  crates/perl-corpus/src/loading/mod.rs
  crates/perl-corpus/src/meta.rs
  crates/perl-corpus/src/metadata/ids.rs
  crates/perl-corpus/src/metadata/mod.rs
  crates/perl-corpus/src/metadata/parser.rs
  crates/perl-corpus/src/metadata/query.rs
  crates/perl-corpus/src/metadata/section.rs
  crates/perl-corpus/src/prelude.rs
Due: corpus

refactor(perl-lexer): extract lexer state and constructors to internal module (#0000)
  crates/perl-lexer/src/lexer/driver.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lexer/state.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

docs(readme): switch to behavioral status signals (#0000)
  README.md
Due: none

refactor(perl-lsp-rs): split text sync helper concerns (#0000)
  crates/perl-lsp-rs/src/runtime/text_sync.rs
  crates/perl-lsp-rs/src/runtime/text_sync/srp_helpers.rs
Due: none

test(perl-lexer): add lexer config unit coverage (#0000) (#7697)
  crates/perl-lexer/src/config.rs
Due: lexer

test(perl-workspace): close document-store unit-test gaps (#0000) (#7699)
  crates/perl-workspace-index/src/workspace/document_store.rs
Due: none

refactor(perl-dap): extract server lifecycle module (#0000) (#7776)
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/server/config.rs
  crates/perl-dap/src/server/lifecycle.rs
  crates/perl-dap/src/server/mod.rs
  crates/perl-dap/src/server/mode.rs
Due: dap

refactor(perl-corpus): extract metadata and loading facade modules (#0000) (#7790)
  crates/perl-corpus/src/api.rs
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/loading/dir.rs
  crates/perl-corpus/src/loading/file.rs
  crates/perl-corpus/src/loading/mod.rs
  crates/perl-corpus/src/meta.rs
  crates/perl-corpus/src/metadata/ids.rs
  crates/perl-corpus/src/metadata/mod.rs
  crates/perl-corpus/src/metadata/parser.rs
  crates/perl-corpus/src/metadata/query.rs
  crates/perl-corpus/src/metadata/section.rs
  crates/perl-corpus/src/prelude.rs
Due: corpus

refactor(perl-lexer): extract lexer state and constructors to internal module (#0000) (#7780)
  crates/perl-lexer/src/lexer/driver.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lexer/state.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(perl-regex): split regex logic into SRP modules (#0000)
  crates/perl-regex/README.md
  crates/perl-regex/src/analyzer/capture.rs
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/src/analyzer/mod.rs
  crates/perl-regex/src/analyzer/modifiers.rs
  crates/perl-regex/src/analyzer/parser.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/prelude.rs
  crates/perl-regex/src/syntax/cursor.rs
  crates/perl-regex/src/syntax/mod.rs
  crates/perl-regex/src/validator/code_execution.rs
  crates/perl-regex/src/validator/complexity.rs
  crates/perl-regex/src/validator/config.rs
  crates/perl-regex/src/validator/group.rs
  crates/perl-regex/src/validator/mod.rs
  crates/perl-regex/src/validator/nested_quantifier.rs
Due: none

docs(readme): switch to behavioral status signals (#0000) (#7669)
  README.md
Due: none

refactor(completion): extract lexical context helpers into submodule (#0000)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/lexical_context.rs
Due: none

refactor(hover): extract method modifier hover builders (#0000)
  crates/perl-lsp-rs/src/runtime/language/hover.rs
Due: none

refactor(perl-lsp-rs): split text sync helper concerns (#0000) (#7720)
  crates/perl-lsp-rs/src/runtime/text_sync.rs
  crates/perl-lsp-rs/src/runtime/text_sync/srp_helpers.rs
Due: none

refactor(perl-regex): split regex logic into SRP modules (#0000) (#7784)
  crates/perl-regex/README.md
  crates/perl-regex/src/analyzer/capture.rs
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/src/analyzer/mod.rs
  crates/perl-regex/src/analyzer/modifiers.rs
  crates/perl-regex/src/analyzer/parser.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/prelude.rs
  crates/perl-regex/src/syntax/cursor.rs
  crates/perl-regex/src/syntax/mod.rs
  crates/perl-regex/src/validator/code_execution.rs
  crates/perl-regex/src/validator/complexity.rs
  crates/perl-regex/src/validator/config.rs
  crates/perl-regex/src/validator/group.rs
  crates/perl-regex/src/validator/mod.rs
  crates/perl-regex/src/validator/nested_quantifier.rs
Due: none

refactor(perl-lsp-rs): split call hierarchy inference submodule (#0000)
  crates/perl-lsp-rs/src/call_hierarchy_provider/inference.rs
  crates/perl-lsp-rs/src/call_hierarchy_provider/mod.rs
Due: none

refactor(completion): extract lexical context helpers into submodule (#0000) (#7724)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/lexical_context.rs
Due: none

refactor(hover): extract method modifier hover builders (#0000) (#7725)
  crates/perl-lsp-rs/src/runtime/language/hover.rs
Due: none

refactor(completion): split completion tests into srp submodule (#0000)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/tests.rs
Due: none

refactor(perl-subprocess-runtime): split runtime into srp submodules (#0000)
  crates/perl-subprocess-runtime/src/error.rs
  crates/perl-subprocess-runtime/src/lib.rs
  crates/perl-subprocess-runtime/src/mock.rs
  crates/perl-subprocess-runtime/src/os_runtime.rs
  crates/perl-subprocess-runtime/src/output.rs
  crates/perl-subprocess-runtime/src/tests.rs
Due: none

refactor(perl-lsp-rs): split call hierarchy inference submodule (#0000) (#7754)
  crates/perl-lsp-rs/src/call_hierarchy_provider/inference.rs
  crates/perl-lsp-rs/src/call_hierarchy_provider/mod.rs
Due: none

refactor(perl-dead-code): split dead-branch and report into SRP modules (#0000)
  crates/perl-dead-code/src/dead_branches.rs
  crates/perl-dead-code/src/lib.rs
  crates/perl-dead-code/src/report.rs
Due: none

refactor(perl-lexer): split lexer helpers into srp submodules (#0000)
  crates/perl-lexer/src/lexer/helpers/file_normalization.rs
  crates/perl-lexer/src/lexer/helpers/heredoc_delimiter.rs
  crates/perl-lexer/src/lexer/helpers/line_scanning.rs
  crates/perl-lexer/src/lexer/helpers/mod.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(completion): split completion tests into srp submodule (#0000) (#7721)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/tests.rs
Due: none

refactor(perl-subprocess-runtime): split runtime into srp submodules (#0000) (#7759)
  crates/perl-subprocess-runtime/src/error.rs
  crates/perl-subprocess-runtime/src/lib.rs
  crates/perl-subprocess-runtime/src/mock.rs
  crates/perl-subprocess-runtime/src/os_runtime.rs
  crates/perl-subprocess-runtime/src/output.rs
  crates/perl-subprocess-runtime/src/tests.rs
Due: none

refactor(perl-dap): split debug adapter core helpers into SRP submodules (#0000)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/regexes.rs
  crates/perl-dap/src/debug_adapter/sync_utils.rs
Due: dap

refactor(perl-dead-code): split dead-branch and report into SRP modules (#0000) (#7760)
  crates/perl-dead-code/src/dead_branches.rs
  crates/perl-dead-code/src/lib.rs
  crates/perl-dead-code/src/report.rs
Due: none

refactor(perl-dap): split dispatcher into SRP submodules (#0000)
  crates/perl-dap/src/dispatcher/handlers.rs
  crates/perl-dap/src/dispatcher/mod.rs
  crates/perl-dap/src/dispatcher/state.rs
Due: dap

refactor(perl-lexer): split lexer helpers into srp submodules (#0000) (#7739)
  crates/perl-lexer/src/lexer/helpers/file_normalization.rs
  crates/perl-lexer/src/lexer/helpers/heredoc_delimiter.rs
  crates/perl-lexer/src/lexer/helpers/line_scanning.rs
  crates/perl-lexer/src/lexer/helpers/mod.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(perl-lexer): split lexer unit tests into srp submodule (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/tests.rs
Due: lexer

refactor(perl-lexer): split lexer unit tests into srp submodule (#0000) (#7740)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/tests.rs
Due: lexer

refactor(perl-dap): split debug adapter core helpers into SRP submodules (#0000) (#7745)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/regexes.rs
  crates/perl-dap/src/debug_adapter/sync_utils.rs
Due: dap

refactor(perl-dap): split dispatcher into SRP submodules (#0000) (#7748)
  crates/perl-dap/src/dispatcher/handlers.rs
  crates/perl-dap/src/dispatcher/mod.rs
  crates/perl-dap/src/dispatcher/state.rs
Due: dap

refactor(perl-lexer): split checkpoint/tests into submodules (#0000)
  crates/perl-lexer/src/checkpoint_impl.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(perl-dap): split debug adapter patterns into submodule (#0000)
  crates/perl-dap/src/debug_adapter/execution.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/patterns.rs
Due: dap
