Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(lexer): replace panic catch arms in interpolation tests (#3258)
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: none

test(dap-variables): remove panic match-arm catches (#3258) (#4030)
  crates/perl-dap-variables/tests/extended_unit_tests.rs
Due: none

feat(execute-command): prefer yath for test files (#3533) (#4031)
  crates/perl-lsp/src/execute_command/provider.rs
  crates/perl-lsp/src/execute_command/tests.rs
Due: lsp

fix(xtask): repair feature audit verification (#3284)
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/tasks/features.rs
Due: none

test(lexer): replace panic catch arms in interpolation tests (#3258) (#4032)
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: none

fix(xtask): repair feature audit verification (#3284) (#4033)
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/tasks/features.rs
Due: none

test(quality): burn down match-arm panic asserts (#3258)
  crates/perl-error/tests/extended_unit_tests.rs
  crates/perl-lsp-feature-contracts/tests/extended_unit_tests.rs
  crates/perl-lsp-protocol/tests/protocol_unit_tests.rs
Due: none

test(dap-variables): burn down match-arm panic asserts (#3258)
  crates/perl-dap-variables/tests/extended_unit_tests.rs
Due: none

test(quality): burn down match-arm panic asserts (#3258) (#4035)
  crates/perl-error/tests/extended_unit_tests.rs
  crates/perl-lsp-feature-contracts/tests/extended_unit_tests.rs
  crates/perl-lsp-protocol/tests/protocol_unit_tests.rs
Due: none

fix(semantic): track Const::Fast readonly declarations (#3392)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: none

test(lsp): regenerate capability snapshots (#4039)
  crates/perl-lsp/tests/snapshots/all_capabilities.json
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
Due: none

test(lsp): regenerate capability snapshots (#4039) (#4041)
  crates/perl-lsp/tests/snapshots/all_capabilities.json
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
Due: none

fix(semantic): track Const::Fast readonly declarations (#3392) (#4040)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: none

fix(semantic): scope Const::Fast imports by package (#3392)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: none

fix(semantic): track Readonly wrapper declarations (#3393)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: none

test(semantic): remove duplicate Readonly regressions (#3393)
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
Due: none

feat(incremental-parsing): implement segment-based token cache and two-sided checkpoint window (#3527) (#4029)
  crates/perl-incremental-parsing/BENCHMARK_REPORT.md
  crates/perl-incremental-parsing/benches/README.md
  crates/perl-incremental-parsing/benches/incremental_parsing_benchmarks.rs
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/tests/segment_cache_checkpoint_window_tests.rs
  crates/perl-lexer/src/checkpoint.rs
  docs/project/ISSUE_3527_RESCOPE.md
Due: lexer

fix(semantic): track Readonly wrapper declarations (#3393) (#4043)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/comprehensive_unit_tests.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: none

docs(readme): scope metric framing, add entry-points table, list known UX gaps (#4045)
  README.md
Due: none

docs(announcement): scope metric framing in v0.13.0 draft (#4045)
  docs/articles/drafts/PERL_DESERVES_BETTER_TOOLING.md
Due: none

docs(marketplace): scope metric framing in VSCode listing (#4045)
  vscode-extension/README.md
Due: none

test(parser): wire orphaned unclosed-block recovery tests and add edge cases (#3496)
  crates/perl-parser-core/src/engine/parser/mod.rs
  crates/perl-parser-core/src/engine/parser/unclosed_block_recovery_tests.rs
Due: none

fix(incremental-parsing): preserve prefix correctness at checkpoint boundaries (#3527)
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/tests/segment_cache_checkpoint_window_tests.rs
Due: none

fix(pragma): track conditional use-if pragmas (#3485)
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(incremental-parsing): reset fallback checkpoints (#3527)
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
Due: none

feat(workspace): add cross-file safe-delete reference checks
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

feat(workspace): add safe-delete cross-file reference checks (#3522)
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

feat(workspace): add safe-delete cross-file reference warnings (#3522)
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_workspace_file_ops_tests.rs
Due: lsp

feat(workspace): strengthen cross-file file-ops refactoring support (#3522)
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_file_operations_tests.rs
Due: lsp

docs(readme): add UX confidence row and swap demo-assets for multi-root (#4045)
  README.md
Due: none

feat(workspace): tolerate non-file workspace URIs (#3521)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

feat(workspace): preserve non-file workspace URIs (#3521)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/src/runtime/workspace_folder.rs
Due: lsp

fix(workspace): handle non-file URIs in folder/root resolution
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

feat(workspace): add VFS-aware URI handling (#3521)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-uri/src/lib.rs
Due: lsp

fix(pragma): narrow conditional target matching (#3485)
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(semantic-analyzer): descend into Error partial nodes for symbol extraction (#3499)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/error_node_symbol_visibility.rs
Due: none

fix(incremental-parsing): preserve prefix correctness at checkpoint boundaries (#3527) (#4048)
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/tests/segment_cache_checkpoint_window_tests.rs
Due: none

fix(ci-hygiene): skip doc-only code gates (#4047)
  crates/perl-ci-hygiene/src/main.rs
Due: none
