Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(perl-lsp-ux-tests): add fixture-backed editor UX scorecard scenario (#0000)
  Cargo.lock
  crates/perl-lsp-ux-tests/Cargo.toml
  crates/perl-lsp-ux-tests/README.md
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/fixtures/lsp_editor_intelligence_fixture.json
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_18_fixture_scorecard.rs
  docs/reference/UX_TESTING.md
Due: none

fix(lsp): accept initializationOptions roots for workspace init (#0000)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: none

test(perl-lsp-rs): verify top-level rootUri takes precedence over initializationOptions (#0000)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: none

test(perl-lsp-rs): add five-deep inheritance goto fixture (#0000)
  crates/perl-lsp-rs/tests/cross_file_goto_definition_tests.rs
Due: none

fix(vscode-extension): improve Firebase Studio binary resolution (#0000)
  vscode-extension/src/extension.ts
Due: none

refactor(incremental): make perl-parser the source of truth (#0000)
  Cargo.lock
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-incremental-parsing/src/incremental/incremental_advanced_reuse.rs
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/src/incremental/incremental_document.rs
  crates/perl-incremental-parsing/src/incremental/incremental_edit.rs
  crates/perl-incremental-parsing/src/incremental/incremental_handler_v2.rs
  crates/perl-incremental-parsing/src/incremental/incremental_integration.rs
  crates/perl-incremental-parsing/src/incremental/incremental_simple.rs
  crates/perl-incremental-parsing/src/incremental/incremental_v2.rs
  crates/perl-incremental-parsing/src/incremental/mod.rs
  crates/perl-incremental-parsing/src/lib.rs
Due: none

refactor(incremental): make one crate the source of truth for incremental parsing (#0000)
  Cargo.lock
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-incremental-parsing/README.md
  crates/perl-incremental-parsing/src/incremental/incremental_advanced_reuse.rs
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/src/incremental/incremental_document.rs
  crates/perl-incremental-parsing/src/incremental/incremental_edit.rs
  crates/perl-incremental-parsing/src/incremental/incremental_handler_v2.rs
  crates/perl-incremental-parsing/src/incremental/incremental_integration.rs
  crates/perl-incremental-parsing/src/incremental/incremental_simple.rs
  crates/perl-incremental-parsing/src/incremental/incremental_v2.rs
  crates/perl-incremental-parsing/src/incremental/mod.rs
  crates/perl-incremental-parsing/src/lib.rs
  crates/perl-incremental-parsing/tests/comprehensive_unit_tests.rs
  crates/perl-incremental-parsing/tests/extended_unit_tests.rs
Due: none

feat(ci): emit first agent-facing receipt slice (#5020)
  .github/workflows/ci.yml
  xtask/src/tasks/gates.rs
Due: none

rebase: rename scenario 18→19 to resolve collision with goto_declaration test
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_fixture_scorecard.rs
Due: none

rebase: use master's lib.rs with internal version tracking
  crates/perl-lsp-ux-tests/src/lib.rs
Due: none

docs(editors): add Claude Code LSP setup guide (#0000)
  docs/EDITORS/CLAUDE_CODE_SETUP.md
  docs/how-to/EDITOR_SETUP.md
  docs/reference/CONFIG.md
Due: none

fix(ux-tests): adapt scenario 19 fixture test to master's harness API
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_fixture_scorecard.rs
Due: none

fix(ux-tests): skip references test — method not in harness API
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_fixture_scorecard.rs
Due: none

fix(ux-tests): add confidence_signals to fixture matrix
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
Due: none

fix(parser): correct transliteration part extraction and expand regressions (#0000)
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser/tests/fuzz_transliteration_crash_repro.rs
Due: none

fix(clippy): remove unnecessary clone on Copy type Range
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

docs(work-16616f43): add docstrings to navigation.rs helper functions
  crates/perl-lsp/src/runtime/language/navigation.rs
Due: lsp

refactor(perl-workspace): extract insert_export_entry helper to reduce duplication
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(fmt): restore master formatting (#0000)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/keywords_classification.rs
  crates/perl-lsp-perltidy/src/lib.rs
  crates/perl-lsp-perltidy/tests/config_tests.rs
  crates/perl-lsp-rs-core/src/config/mod.rs
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/common_mistakes.rs
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/mod.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/src/tooling/perl_critic/built_in.rs
  crates/perl-lsp-rs/src/execute_command/tests.rs
  crates/perl-lsp-rs/src/features/workspace_rename.rs
  crates/perl-lsp-rs/src/runtime/diagnostics.rs
  crates/perl-lsp-rs/src/runtime/dispatch/mod.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/module_resolution.rs
  crates/perl-lsp-rs/src/runtime/text_sync.rs
  crates/perl-lsp-rs/src/runtime/workspace.rs
  crates/perl-lsp-rs/tests/cross_file_goto_definition_tests.rs
  crates/perl-lsp-ux-tests/tests/editor_ux_fixture_matrix.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_23_rename_workflow.rs
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/fix_transliteration_strict_parsing.rs
  crates/perl-parser/src/incremental/mod.rs
  crates/perl-uri/src/classify.rs
  crates/tree-sitter-perl-rs/src/lib.rs
  xtask/src/tasks/benchmarks.rs
  xtask/src/tasks/gates.rs
Due: parser, lexer

style(fmt): apply rustfmt to export resolution code
  .hermes/conveyor/work-441c03d6/snapshot-agent-findings.md
  ci-trigger.txt
  crates/perl-diagnostics-codes/tests/snapshot_tests.rs
  crates/perl-diagnostics-codes/tests/snapshots/snapshot_tests__diagnostic_code_as_str_all_variants.snap
  crates/perl-diagnostics-codes/tests/snapshots/snapshot_tests__diagnostic_code_documentation_url_known_codes.snap
  crates/perl-diagnostics-codes/tests/snapshots/snapshot_tests__diagnostic_severity_to_lsp_value.snap
  crates/perl-diagnostics/tests/semver_hygiene_property_tests.rs
  crates/perl-diagnostics/tests/snapshot_tests.rs
  crates/perl-diagnostics/tests/snapshots/snapshot_tests__diagnostic_code_as_str_all_variants.snap
  crates/perl-diagnostics/tests/snapshots/snapshot_tests__diagnostic_code_documentation_url_known_codes.snap
  crates/perl-diagnostics/tests/snapshots/snapshot_tests__diagnostic_severity_to_lsp_value.snap
  crates/perl-lsp-rs/tests/pull_diagnostics_snapshots.rs
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__diagnostic_data_missing_strict.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__diagnostic_data_parse_error.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__diagnostic_data_pl701.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__full_report.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__full_report_multiple_diagnostics.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__parse_error_unclosed_block.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__parse_error_unclosed_string.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__pl701_include_path_with_spaces.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__pl701_single_include_path.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__pl701_with_empty_include_paths.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__pl701_with_include_paths.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__pl701_without_include_paths.snap
  crates/perl-lsp-rs/tests/snapshots/pull_diagnostics_snapshots__unchanged_report.snap
  crates/perl-lsp/tests/pull_diagnostics_property_tests.rs
  crates/perl-parser-core/tests/use_import_pattern_tests.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
  crates/perl-workspace-index/tests/export_resolution_tests.rs
  xtask/tests/quality_property_tests.rs
  xtask/tests/status_doc_consistency_tests.rs
Due: none

feat(ci): emit first agent-facing receipt slice (#5020)
  .ci/receipt.schema.json
  .github/workflows/ci.yml
  xtask/src/tasks/gates.rs
Due: none

docs(editors): add Kilo Code setup guide (#0000)
  docs/how-to/EDITOR_SETUP.md
Due: none

feat(ci): emit first agent-facing receipt slice (#5020)
  .ci/receipt.schema.json
  xtask/src/tasks/gates.rs
Due: none

refactor(incremental): make perl-parser the source of truth (#0000)
  Cargo.lock
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-incremental-parsing/README.md
  crates/perl-incremental-parsing/src/incremental/incremental_advanced_reuse.rs
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
  crates/perl-incremental-parsing/src/incremental/incremental_document.rs
  crates/perl-incremental-parsing/src/incremental/incremental_edit.rs
  crates/perl-incremental-parsing/src/incremental/incremental_handler_v2.rs
  crates/perl-incremental-parsing/src/incremental/incremental_integration.rs
  crates/perl-incremental-parsing/src/incremental/incremental_simple.rs
  crates/perl-incremental-parsing/src/incremental/incremental_v2.rs
  crates/perl-incremental-parsing/src/incremental/mod.rs
  crates/perl-incremental-parsing/src/lib.rs
Due: none

refactor(incremental-checkpoint): tighten checkpoint window and segment invalidation (#0000)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
Due: parser

docs(editors): add PearAI setup guidance (#0000)
  docs/EDITORS/PEARAI_SETUP.md
  docs/how-to/EDITOR_SETUP.md
Due: none

fix(incremental-checkpoint): tighten relex window + segment invalidation (#0000)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
Due: parser

refactor(incremental-checkpoint): tighten relex window and segment invalidation (#0000)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
Due: parser

feat(incremental-v2): improve safe shifted-node reuse across batch edits (#0000)
  crates/perl-parser/src/incremental/incremental_advanced_reuse.rs
  crates/perl-parser/src/incremental/incremental_v2.rs
Due: parser

fix(fmt): restore master formatting (#0000) (#5965)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/keywords_classification.rs
  crates/perl-lsp-perltidy/src/lib.rs
  crates/perl-lsp-perltidy/tests/config_tests.rs
  crates/perl-lsp-rs-core/src/config/mod.rs
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/common_mistakes.rs
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/mod.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/src/tooling/perl_critic/built_in.rs
  crates/perl-lsp-rs/src/execute_command/tests.rs
  crates/perl-lsp-rs/src/features/workspace_rename.rs
  crates/perl-lsp-rs/src/runtime/diagnostics.rs
  crates/perl-lsp-rs/src/runtime/dispatch/mod.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/module_resolution.rs
  crates/perl-lsp-rs/src/runtime/text_sync.rs
  crates/perl-lsp-rs/src/runtime/workspace.rs
  crates/perl-lsp-rs/tests/cross_file_goto_definition_tests.rs
  crates/perl-lsp-ux-tests/tests/editor_ux_fixture_matrix.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_23_rename_workflow.rs
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/fix_transliteration_strict_parsing.rs
  crates/perl-parser/src/incremental/mod.rs
  crates/perl-uri/src/classify.rs
  crates/tree-sitter-perl-rs/src/lib.rs
  xtask/src/tasks/benchmarks.rs
  xtask/src/tasks/gates.rs
Due: parser, lexer

fix(parser): correct transliteration part extraction and expand regressions (#0000)
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser/tests/fuzz_transliteration_crash_repro.rs
  crates/perl-parser/tests/quote_transliteration_regression_bank.rs
Due: none

perf(incremental-v2): improve shifted-node reuse matching (#0000)
  crates/perl-parser/src/incremental/incremental_advanced_reuse.rs
  crates/perl-parser/tests/incremental_v2_reuse_regression.rs
Due: parser

fix(incremental): harden batch edit normalization and UTF-8 fallback (#0000)
  crates/perl-parser/src/incremental/incremental_document.rs
  crates/perl-parser/src/incremental/incremental_edit.rs
  crates/perl-parser/tests/incremental_batch_boundary_regressions.rs
Due: parser

fix(incremental): harden batch edit normalization and UTF-8 boundary fallback (#0000)
  crates/perl-parser/src/incremental/incremental_boundary_regressions.rs
  crates/perl-parser/src/incremental/incremental_document.rs
  crates/perl-parser/src/incremental/incremental_edit.rs
  crates/perl-parser/src/incremental/mod.rs
Due: parser

feat(parser-metrics): publish parser performance scorecard from existing benches (#0000)
  crates/perl-parser/benches/common/scorecard.rs
  crates/perl-parser/benches/incremental_benchmark.rs
  crates/perl-parser/benches/parser_benchmark.rs
  docs/project/status/parser-performance-scorecard.json
  docs/project/status/parser.md
  xtask/src/tasks/update_status/parser.rs
  xtask/tests/post_merge_status_regen_tests.rs
Due: none

feat(parser-metrics): publish parser performance scorecard from existing benches (#0000)
  crates/perl-parser/benches/incremental_benchmark.rs
  crates/perl-parser/benches/parser_benchmark.rs
  docs/project/status/parser.md
  xtask/src/tasks/update_status/parser.rs
  xtask/tests/post_merge_status_regen_tests.rs
Due: none
