Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

fix(parser): improve mojibake decoding fallback (#0000) (#5736)
  crates/perl-parser/src/bin/perl-parse.rs
Due: parser

fix(code-actions): improve UTF-8 pragma suggestions (#0000) (#5735)
  crates/perl-lsp-rs-core/src/providers/code_actions/enhanced/mod.rs
Due: none

fix(position-tracking): clamp UTF-8 mid-codepoint offsets (#0000) (#5733)
  crates/perl-position-tracking/src/line_index.rs
  crates/perl-position-tracking/tests/extended_unit_tests.rs
Due: none

fix(uri): improve UTF-8 URI parsing (#0000) (#5732)
  crates/perl-lsp-rs-core/src/uri/mod.rs
  crates/perl-lsp-rs-core/tests/uri_module_shape.rs
Due: none

fix(perl-semantic-analyzer): resolve goto label definitions (#0000) (#5731)
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

fix(navigation): resolve goto LABEL definitions (#0000) (#5730)
  crates/perl-lsp-rs/src/runtime/language/navigation.rs
  crates/perl-lsp-rs/tests/lsp_definition_tests.rs
Due: none

fix(goto): resolve goto labels in declaration lookup (#0000) (#5729)
  crates/perl-parser/tests/declaration_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
Due: none

fix(rename): improve token detection around sigils (#0000) (#5726)
  crates/perl-lsp-rs/src/runtime/language/rename.rs
Due: none

feat(perl-critic): add builtin bareword filehandle policy (#0000) (#5712)
  crates/perl-lsp-rs-core/src/tooling/perl_critic/built_in.rs
Due: none

test(perl-lsp-rs-core): add regression guards for URI scheme allowlist refactor (#0000)
  crates/perl-lsp-rs-core/src/runtime/input_validation/mod.rs
Due: none

fix(parser-core): harden transliteration parsing and whitespace support (#0000) (#5709)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/fix_transliteration_strict_parsing.rs
Due: lexer

feat(perl-lexer): complete modern keyword LSP completion coverage (#0000) (#5708)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/keywords_classification.rs
Due: lexer

feat(perl-lexer): add __SUB__ to canonical keyword inventory (#0000) (#5707)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/keywords_comprehensive_unit_tests.rs
Due: lexer

feat(perl-lexer): add ADJUST/isa keyword coverage (#0000) (#5706)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/keywords_classification.rs
  crates/perl-lexer/tests/keywords_comprehensive_unit_tests.rs
Due: lexer

feat(lsp): advertise inline and rewrite refactor kinds (#0000) (#5704)
  crates/perl-lsp-rs-core/src/protocol/capabilities.rs
  crates/perl-lsp-rs/tests/snapshots/all_capabilities.json
  crates/perl-lsp-rs/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp-rs/tests/snapshots/production_capabilities.json
Due: none

fix(code-actions): normalize refactor selections (#0000) (#5702)
  crates/perl-lsp-rs-core/src/providers/code_actions/enhanced/mod.rs
Due: none

fix(ci): skip Rust lanes for docs-as-code diffs (#0000) (#5701)
  .github/workflows/ci.yml
Due: none

fix(file-completion): improve docs-as-code path metadata (#0000) (#5699)
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
Due: none

test(perl-lsp-rs-core): verify ANSI env var detection logic (#0000)
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
Due: none

fix(fmt): flip back to empty-parens-newline-arrow form for rustfmt
  crates/perl-parser-core/tests/parser_tests.rs
Due: none

fix(clippy): resolve doc_lazy_continuation warning in statements.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
Due: none

fix(fmt): apply rustfmt to perl-parser incremental_v2.rs
  crates/perl-parser/src/incremental/incremental_v2.rs
Due: parser

test(cli): verify --mcp alias is documented consistently
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
Due: none

fix(execute-command): gate Unix path assertions behind #[cfg(unix)]
  crates/perl-lsp-rs/src/execute_command/tests.rs
Due: none

test(cli): guard TERM_PROGRAM=vscode against Warp ANSI path
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
Due: none

test(workspace): add empty-file and BOM-only edge case tests for read_text_with_encoding_fallback
  crates/perl-lsp-rs/src/runtime/workspace.rs
Due: none

fix(position-tracking): clamp mid-codepoint UTF-16 offsets (#0000)
  crates/perl-position-tracking/src/convert.rs
Due: none

fix(perl-symbol): improve UTF-16 surrogate offset mapping (#0000)
  crates/perl-symbol/src/cursor/mod.rs
Due: none

fix(perl-position-tracking): clamp UTF-16 mid-surrogate positions (#0000)
  crates/perl-position-tracking/src/mapper.rs
Due: none

feat(textdoc): improve UTF-32 position conversion support (#0000)
  crates/perl-lsp-rs/src/textdoc.rs
Due: none

feat(textdoc): add UTF-32 position conversion support (#0000)
  crates/perl-lsp-rs/src/textdoc.rs
Due: none

feat(textdoc): add UTF-32 position encoding support (#0000)
  crates/perl-lsp-rs/src/textdoc.rs
  crates/perl-lsp-rs/tests/utf32_position_validation.rs
Due: none

fix(rename): enforce ASCII-only rename identifiers (#0000)
  crates/perl-lsp-rs-core/src/providers/rename/mod.rs
  crates/perl-lsp-rs-core/src/providers/rename/validate.rs
Due: none

fix(perl-parser): improve ASCII rename validation (#0000)
  crates/perl-parser/src/ide/lsp_compat/rename.rs
Due: parser

fix(perl-module): support legacy ASCII separators in parent/base references (#0000)
  crates/perl-module/src/reference/mod.rs
  crates/perl-module/tests/module_reference_integration.rs
Due: none

fix(perl-module): support ASCII legacy separators in parent/base scan (#0000)
  crates/perl-module/src/reference/mod.rs
  crates/perl-module/tests/module_reference_integration.rs
Due: none

fix(perl-pragma): normalize GB18030 encoding aliases (#0000)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(perl-parser): decode GB18030 source files (#0000)
  Cargo.lock
  Cargo.toml
  crates/perl-parser/Cargo.toml
  crates/perl-parser/src/bin/perl-parse.rs
Due: parser

fix(perl-pragma): improve GB18030 pragma parsing (#0000)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

feat(perl-parser): improve GB18030 source decoding (#0000)
  Cargo.lock
  crates/perl-parser/Cargo.toml
  crates/perl-parser/src/bin/perl-parse.rs
Due: parser
