Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(ux): make status menu items context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat(security): block package-qualified dangerous ops and expand blocklist
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

Optimize `is_builtin_function` using PHF for O(1) detection and better coverage
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/semantic_perf_test.rs
Due: none

security: Restrict perltidyConfig to machine scope
  vscode-extension/package.json
Due: none

Optimize regex compilation in symbol extraction
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/string_interpolation_perf.rs
Due: none

feat: context-aware status menu with disabled states
  vscode-extension/src/extension.ts
Due: none

feat(vscode): make status menu actions context-aware
  vscode-extension/src/extension.ts
Due: none

feat(dap): harden safe evaluation and fix test race conditions
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

Refactor `extract_documentation` to use O(1) manual backward scanning.
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/doc_extraction_test.rs
Due: none

perf(semantic-analyzer): optimize regex compilation in string interpolation
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/symbol_perf_test.rs
Due: none

feat(vscode): make status menu context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Enforce fail-closed security in ExecuteCommandProvider
  .jules/sentinel.md
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/tests/execute_command_mutation_hardening_public_api_tests.rs
Due: lsp

feat(vscode): make status menu actions context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Sentinel: Prevent infinite redirects in binary downloader
  .jules/sentinel.md
  vscode-extension/src/downloader.ts
Due: none

docs: update CLAUDE.md with additional guidance and commands
  CLAUDE.md
Due: none

fix: resolve additional clippy warnings in perl-dap and perl-lsp-navigation
  crates/perl-dap/src/debug_adapter.rs
Due: dap

docs: remove redundant reference to Claude Code website in guidance
  CLAUDE.md
  crates/perl-builtins/CLAUDE.md
Due: none

style: apply rustfmt formatting
  crates/perl-dap/src/debug_adapter.rs
Due: dap

fix(corpus): use to_ascii_uppercase() instead of to_uppercase() iterator
  crates/perl-corpus/src/gen/builtins.rs
Due: corpus

fix: restore deny.toml, format proptests, mark flaky tests as ignored
  crates/perl-corpus/src/gen/program.rs
  crates/perl-parser/tests/prop_complete_programs.rs
  crates/perl-parser/tests/prop_corpus_invariants.rs
  crates/perl-parser/tests/prop_round_trip.rs
Due: corpus

docs: update CLAUDE.md and CURRENT_STATUS.md with tier structure and test metrics improvements
  CLAUDE.md
Due: none

docs: remove redundant reference to Claude Code website in guidance
  crates/perl-builtins/CLAUDE.md
Due: none

Add property tests for parser invariants and round-trip stability
  crates/perl-corpus/src/gen/builtins.rs
  crates/perl-corpus/src/gen/program.rs
  crates/perl-parser/tests/prop_complete_programs.rs
  crates/perl-parser/tests/prop_corpus_invariants.rs
  crates/perl-parser/tests/prop_round_trip.rs
Due: corpus

feat: Add comprehensive CI workflows for Rust projects
  ci/todo_baseline.txt
  crates/perl-lsp/tests/large_file_edit.rs
  crates/perl-lsp/tests/lsp_document_highlight_comprehensive_tests.rs
  crates/tree-sitter-perl-rs/src/understanding_parser.rs
Due: none

feat(governance): implement ignored test guardian and enable guardrail tests (#364)
  crates/perl-tdd-support/src/governance.rs
Due: none

Add nightly deep tests, property tests, and strict quality checks workflows
  corpus_audit_report.json
  crates/perl-lsp/tests/lsp_document_highlight_comprehensive_tests.rs
  crates/perl-tdd-support/src/governance.rs
  crates/tree-sitter-perl-rs/src/runtime_heredoc_handler.rs
  crates/tree-sitter-perl-rs/src/understanding_parser.rs
Due: none

fix: update corpus audit report with new generated timestamp and adjust risk categories
  corpus_audit_report.json
Due: none

Refactor code structure for improved readability and maintainability
  .github/ISSUE_TEMPLATE/documentation_issue.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/security_issue.md
  .github/release_template.md
  .github/v1.0.0_release.md
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  README.md
  RELEASE_NOTES.md
  SECURITY.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
  crates/perl-dap/tests/tcp_attach_tests.rs
  crates/perl-lsp-tooling/src/perl_critic.rs
  crates/perl-lsp-tooling/src/perltidy.rs
  crates/perl-refactoring/src/refactor/refactoring.rs
  crates/perl-refactoring/src/refactor/scoped_rename_tests.rs
  crates/perl-refactoring/src/refactor/workspace_refactor.rs
  crates/tree-sitter-perl-rs/src/bin/benchmark_parsers.rs
  distribution/build-packages.sh
  distribution/chocolatey/perl-lsp.nuspec
  distribution/chocolatey/tools/chocolateyinstall.ps1
  distribution/homebrew/perl-lsp.rb
  distribution/scoop/perl-lsp.json
  distribution/test-release.sh
  docs/INDEX.md
  docs/INSTALLATION.md
  docs/MAINTENANCE.md
  docs/README.md
  docs/RELEASE_DISTRIBUTION_PROCESS.md
  docs/issue_bulk_closure_script.md
  docs/issue_closure_script.md
  docs/issue_triage_script.md
  install.ps1
  install.sh
  plans/release_roadmap_v1.0.md
  scripts/production-gates-validation.sh
Due: dap

Add test script for validating Perl parser with real-world files
  crates/perl-parser/examples/basic_usage.rs
  crates/perl-parser/examples/file_parser.rs
  docs/PERL_COVERAGE_REPORT.md
  test_real_world_parser.rs
Due: none

feat: integrate production coordinator module and add comprehensive tests
  crates/perl-workspace-index/src/workspace/mod.rs
  crates/perl-workspace-index/tests/production_readiness_tests.rs
Due: none

release: v0.9.0 — fix compilation errors, restore workspace members, bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/perl-ast/Cargo.toml
  crates/perl-builtins/Cargo.toml
  crates/perl-corpus/Cargo.toml
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/tcp_attach.rs
  crates/perl-diagnostics-codes/Cargo.toml
  crates/perl-edit/Cargo.toml
  crates/perl-error/Cargo.toml
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-lexer/Cargo.toml
  crates/perl-lsp-protocol/Cargo.toml
  crates/perl-lsp-providers/Cargo.toml
  crates/perl-lsp-transport/Cargo.toml
  crates/perl-lsp/Cargo.toml
  crates/perl-parser-core/Cargo.toml
  crates/perl-parser-pest/Cargo.toml
  crates/perl-parser/Cargo.toml
  crates/perl-position-tracking/Cargo.toml
  crates/perl-pragma/Cargo.toml
  crates/perl-quote/Cargo.toml
  crates/perl-refactoring/Cargo.toml
  crates/perl-regex/Cargo.toml
  crates/perl-semantic-analyzer/Cargo.toml
  crates/perl-symbol-table/Cargo.toml
  crates/perl-symbol-types/Cargo.toml
  crates/perl-tdd-support/Cargo.toml
  crates/perl-token/Cargo.toml
  crates/perl-tokenizer/Cargo.toml
  crates/perl-uri/Cargo.toml
  crates/perl-workspace-index/Cargo.toml
  crates/perl-workspace-index/src/workspace/cache.rs
  crates/perl-workspace-index/src/workspace/production_coordinator.rs
  crates/perl-workspace-index/src/workspace/slo.rs
  crates/perl-workspace-index/src/workspace/state_machine.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
  crates/perl-workspace-index/tests/production_readiness_tests.rs
  docs/CURRENT_STATUS.md
Due: dap

chore: fix formatting, clippy lint, and update baselines
  ci/todo_baseline.txt
  crates/tree-sitter-perl-rs/tests/complex_heredoc_edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/modern_perl_syntax_comprehensive_tests.rs
Due: none

style: reorder use statements for consistency and readability
  crates/perl-dap/benches/dap_native_benchmarks.rs
  crates/perl-dap/tests/tcp_attach_tests.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-workspace-index/src/workspace/mod.rs
  xtask/src/tasks/corpus.rs
Due: none

feat: add changelog generation instructions and settings for post-tool hooks
  crates/perl-lsp/tests/large_file_edit.rs
  crates/tree-sitter-perl-rs/src/runtime_heredoc_handler.rs
  crates/tree-sitter-perl-rs/tests/complex_heredoc_edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/modern_perl_syntax_comprehensive_tests.rs
Due: none

Refactor parser tests and improve handling of ambiguous syntax
  crates/perl-parser/examples/basic_usage.rs
  crates/perl-parser/examples/file_parser.rs
  crates/perl-parser/tests/extreme_input_edge_cases.rs
  crates/perl-parser/tests/nodekind_combination_control_flow.rs
  crates/perl-parser/tests/nodekind_combination_data_structures.rs
  crates/perl-parser/tests/nodekind_combination_error_handling_edge_cases.rs
  crates/perl-parser/tests/nodekind_combination_io_operations.rs
  crates/perl-parser/tests/nodekind_combination_modern_perl_features.rs
  crates/perl-parser/tests/nodekind_combination_regex_pattern_matching.rs
  crates/perl-parser/tests/parser_boundary_validation_tests.rs
  crates/perl-parser/tests/parser_concurrent_access_tests.rs
  crates/perl-parser/tests/parser_continue_redo_tests.rs
  crates/perl-parser/tests/parser_memory_pressure_tests.rs
  crates/perl-parser/tests/parser_performance_boundary_tests.rs
  crates/perl-parser/tests/parser_resource_exhaustion_tests.rs
  crates/perl-parser/tests/performance_stress_edge_cases.rs
  crates/perl-parser/tests/prop_complete_programs.rs
  crates/perl-parser/tests/prop_round_trip.rs
Due: none

refactor: update foreach pattern matching to ignore continue_block
  crates/perl-lsp-code-actions/src/enhanced/loop_conversion.rs
  crates/perl-lsp/src/call_hierarchy_provider.rs
  crates/perl-lsp/src/features/document_highlight.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-parser-core/src/engine/parser/enhanced_recovery.rs
  crates/perl-parser-core/src/engine/parser/mod.rs
  crates/perl-parser/src/lib.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: parser, lsp
