Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

test(lsp-ux): expand harness ux workflow coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_ux_harness_coverage.rs
Due: none

test(perl-lsp-ux-tests): add incremental didChange churn coverage (#0000)
  crates/perl-lsp-ux-tests/README.md
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_incremental_symbol_churn.rs
Due: none

test(lsp-ux): expand harness-driven UX workflows (#0000)
  crates/perl-lsp-rs/tests/lsp_ux_harness_workflow_tests.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
Due: none

test(perl-lsp-rs): add BDD UX navigation harness coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_ux_navigation_bdd_tests.rs
  crates/perl-lsp-rs/tests/support/lsp_ux_harness.rs
  crates/perl-lsp-rs/tests/support/mod.rs
Due: none

test(perl-lsp-ux-tests): cover diagnostics edit lifecycle in harness (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/diagnostics.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_diagnostics_lifecycle.rs
Due: none

test(lsp-ux): expand linked editing BDD harness coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_linked_editing_bdd_ux_tests.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
Due: none

test(perl-lsp-ux-tests): expand workspace folder churn UX coverage (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_workspace_folder_addition.rs
Due: none

test(perl-lsp-ux-tests): add didChange diagnostics refresh UX flow (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_diagnostics_edit_refresh.rs
Due: none

test(perl-lsp-ux-tests): expand live diagnostics UX harness coverage (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_13_document_symbols.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_18_goto_declaration.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_diagnostics_live_editing.rs
Due: none

test(perl-lsp-ux-tests): add incremental diagnostics UX scenario (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_incremental_diagnostics.rs
Due: none

test(perl-lsp-ux-tests): add BDD diagnostics edit lifecycle coverage (#0000)
  crates/perl-lsp-ux-tests/README.md
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_diagnostics_edit_lifecycle.rs
Due: none

test(lsp-ux): add linked-editing BDD harness coverage (#0000)
  crates/perl-lsp-rs-core/tests/lsp_ux_linked_editing_bdd.rs
Due: none

test(perl-lsp-ux-tests): deepen completion UX editing coverage (#0000)
  crates/perl-lsp-ux-tests/README.md
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_completion_editing.rs
Due: none

test(lsp-ux): add BDD completion lifecycle coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_completion_ux_bdd.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
  crates/perl-lsp-rs/tests/support/mod.rs
  crates/perl-lsp-rs/tests/support/ux_bdd.rs
Due: none

feat(perl-lsp-ux-tests): add didChange edit cycle scenario (#0000) (#5269)
  crates/perl-lsp-ux-tests/README.md
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/client.rs
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_18_diagnostics_after_edit.rs
Due: none

test(lsp-ux): strengthen pull diagnostic BDD harness coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_bdd_workflows.rs
  crates/perl-lsp-rs/tests/support/bdd_diagnostics.rs
  crates/perl-lsp-rs/tests/support/mod.rs
Due: none

test(lsp-ux): deepen progress harness bdd coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_progress_tests.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
Due: none

test(perl-lsp-ux-tests): deepen goto-declaration UX BDD coverage (#0000)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/src/lib.rs
  crates/perl-lsp-ux-tests/src/navigation.rs
  crates/perl-lsp-ux-tests/tests/ux_scenario_18_goto_declaration.rs
Due: none

test(lsp-ux): deepen code lens BDD workflow coverage (#0000)
  crates/perl-lsp-rs/tests/lsp_bdd_workflows.rs
Due: none

test(dap): add reference-client conformance sweep (#0000) (#5254)
  crates/perl-dap/src/protocol.rs
  crates/perl-dap/tests/dap_protocol_serde_tests.rs
  crates/perl-dap/tests/dap_reference_client_conformance_tests.rs
  crates/perl-dap/tests/fixtures/reference_clients/vscode_mock_debug_smoke.json
Due: dap

test(perl-parser): expand corpus gap parser coverage (#0000)
  crates/perl-parser/tests/corpus_gap_tests.rs
Due: none

test(perl-parser): improve bdd parser coverage (#0000)
  crates/perl-parser/tests/parser_bdd_scenarios.rs
Due: none

test(perl-parser-core): cover trailing package separators (#0000)
  crates/perl-parser-core/tests/parser_tests.rs
Due: none

test(parser): add clean goto corpus fixture (#0000)
  test_corpus/goto_clean_coverage.pl
Due: none

test(corpus): add goto fixture for clean coverage (#0000)
  test_corpus/goto_statements_comprehensive.pl
Due: none

test(perl-corpus): add caller-context corpus fixture (#0000)
  test_corpus/README.md
  test_corpus/caller_context_comprehensive.pl
Due: none

test(perl-corpus): expand corpus discovery coverage (#0000)
  crates/perl-corpus/src/continue_redo.rs
  crates/perl-corpus/src/files.rs
  crates/perl-corpus/src/glob_expressions.rs
Due: corpus

fix(perl-lexer): broaden s/tr/y delimiter detection (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/tokenizer_edge_case_tests.rs
Due: lexer

refactor(perl-lexer): preserve boundary checkpoints during cache trim (#0000)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

refactor(perl-lexer): prefilter data marker scans (#0000)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

fix(metrics): preserve editor UX rates from current receipts (#0000) (#5303)
  xtask/src/tasks/metrics/lsp_stats.rs
Due: none

refactor(perl-parser): cache import optimizer regexes (#0000)
  crates/perl-parser/src/refactor/import_optimizer.rs
Due: parser

fix(perl-parser): scope workspace inline by package (#0000)
  crates/perl-parser/src/refactor/workspace_refactor.rs
Due: parser

fix(perl-dap): quote all whitespace-delimited args (#0000)
  crates/perl-dap/src/command_args/mod.rs
Due: dap

fix(perl-dap): preserve empty and whitespace args (#0000)
  crates/perl-dap/src/command_args/mod.rs
  crates/perl-dap/tests/command_args_integration_tests.rs
  crates/perl-dap/tests/platform_comprehensive_unit_tests.rs
Due: dap

feat(perl-regex): improve modifier hover details (#0000)
  crates/perl-regex/src/lib.rs
  crates/perl-regex/tests/named_capture_tests.rs
Due: none

fix(perl-lexer): handle slash inside regex character classes (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
Due: lexer

feat(perl-regex): improve hover modifier coverage (#0000)
  crates/perl-regex/src/lib.rs
  crates/perl-regex/tests/named_capture_tests.rs
Due: none

feat(perl-regex): improve regex modifier hover details (#0000)
  crates/perl-regex/src/lib.rs
  crates/perl-regex/tests/behavior_spec_tests.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
