Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(parser,semantic): Perl 5.38 class version + :isa attribute support
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/src/lib.rs
  crates/perl-parser-core/tests/perl538_class_syntax_tests.rs
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
  crates/perl-semantic-analyzer/tests/native_class_model_tests.rs
Due: none

fix(parser): handle block/hash arg + implicit comma in map/exec/print patterns
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/expressions/precedence.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
Due: none

feat(semantic-analyzer): add phase-aware hover docs for BEGIN/END/CHECK/INIT/UNITCHECK blocks
  crates/perl-semantic-analyzer/src/analysis/semantic/node_analysis.rs
  crates/perl-semantic-analyzer/tests/phase_hover_tests.rs
Due: none

feat(class-model): extend Attribute with builder, coerce, predicate, clearer, trigger
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

feat(semantic): add Moose/Moo type constraint and attribute documentation
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
  crates/perl-semantic-analyzer/tests/moose_type_hover_tests.rs
Due: none

feat(diagnostics): wire Perl::Critic severity, profile config and fix byte offset mapping (#2362)
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp/src/runtime/diagnostics.rs
Due: lsp

feat(lsp): add $/progress notifications during workspace indexing (#2317, #2356)
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  crates/perl-lsp/tests/workspace_indexing_progress_tests.rs
Due: lsp

feat(diagnostics): add context_hint() to DiagnosticCode with catalog surfacing
  crates/perl-diagnostics-codes/src/lib.rs
  crates/perl-diagnostics-codes/tests/context_hint_tests.rs
  crates/perl-lsp-diagnostic-catalog/src/lib.rs
  crates/perl-lsp-diagnostic-catalog/tests/context_hint_catalog_tests.rs
Due: none

fix(lsp): advertise TextDocumentSyncKind::Full instead of Incremental
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/tests/lsp_api_contracts.rs
  crates/perl-lsp/tests/lsp_text_sync_kind_test.rs
  crates/perl-lsp/tests/snapshots/all_capabilities.json
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
Due: lsp

test(lsp): add integration tests for code-lens and color-provider crates
  crates/perl-lsp-code-lens/tests/code_lens_tests.rs
  crates/perl-lsp-color-provider/tests/color_provider_tests.rs
Due: none

feat(completion): auto-import modules on completion selection (#2322)
  Cargo.lock
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/auto_import.rs
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp-completion/tests/auto_import_tests.rs
  crates/perl-lsp/src/runtime/language/completion.rs
Due: lsp

feat(lsp): wire parser cancellation token and debounce file watcher changes (#2457, #2458)
  Cargo.lock
  crates/perl-lsp/src/runtime/constructors.rs
  crates/perl-lsp/src/runtime/file_watcher_debounce.rs
  crates/perl-lsp/src/runtime/language/code_actions.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/scheduler.rs
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_async_perf_tests.rs
Due: lsp

test(semantic-tokens): add DBI/DBIx::Class SQL string awareness tests (Issue #2337)
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
Due: none

test(hover): add test stubs for #2357 type inference in hover
  crates/perl-lsp/tests/hover_provider_coverage.rs
Due: none

chore(swarm): update builder to fix-forward with plan-review routing
  .claude/agents/builder.md
  .claude/commands/builder-read-spec.md
Due: none

perf(lsp): add timeout to perldoc and external command invocations
  crates/perl-lsp/src/execute_command/provider.rs
  crates/perl-lsp/src/runtime/language/virtual_content.rs
  crates/perl-lsp/src/security/sandbox.rs
  crates/perl-lsp/src/util/command_timeout.rs
  crates/perl-lsp/src/util/mod.rs
  crates/perl-lsp/tests/command_timeout_tests.rs
Due: lsp

perf(lsp): make workspace indexing asynchronous and non-blocking (#2352)
  crates/perl-lsp/src/runtime/constructors.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/text_sync.rs
Due: lsp

refactor(tests): extract inline test modules to tests/ directories (#2462-#2466)
  crates/perl-dap-config/Cargo.toml
  crates/perl-dap-config/src/lib.rs
  crates/perl-dap-config/tests/attach_config_tests.rs
  crates/perl-dap-config/tests/launch_config_tests.rs
  crates/perl-lsp-document-highlight/Cargo.toml
  crates/perl-lsp-document-highlight/src/lib.rs
  crates/perl-lsp-document-highlight/tests/document_highlight_tests.rs
  crates/perl-lsp-on-type-formatting/Cargo.toml
  crates/perl-lsp-on-type-formatting/src/lib.rs
  crates/perl-lsp-on-type-formatting/tests/on_type_formatting_tests.rs
  crates/perl-lsp-perltidy/src/lib.rs
  crates/perl-lsp-perltidy/tests/config_tests.rs
  crates/perl-lsp-perltidy/tests/formatting_tests.rs
  crates/perl-lsp-perltidy/tests/subprocess_tests.rs
  crates/perl-pod/src/lib.rs
  crates/perl-pod/tests/pod_extraction_tests.rs
Due: none

feat(semantic): add die/warn exception context and Carp function docs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
  crates/perl-semantic-analyzer/tests/die_warn_exception_context_tests.rs
Due: none

chore(diagnostics): audit and complete diagnostic code usage across all paths
  Cargo.lock
  crates/perl-diagnostics-codes/src/lib.rs
  crates/perl-diagnostics-codes/tests/comprehensive_unit_tests.rs
  crates/perl-diagnostics-codes/tests/diagnostic_code_completeness.rs
  crates/perl-lsp-code-actions/Cargo.toml
  crates/perl-lsp-code-actions/src/code_actions.rs
  crates/perl-lsp-code-actions/src/quick_fixes.rs
  crates/perl-lsp-code-actions/tests/behavior_spec_tests.rs
  crates/perl-lsp-code-actions/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/error_nodes.rs
  crates/perl-lsp-diagnostics/src/heredoc_antipatterns.rs
  crates/perl-lsp-diagnostics/src/lints/common_mistakes.rs
  crates/perl-lsp-diagnostics/src/lints/deprecated.rs
  crates/perl-lsp-diagnostics/src/lints/security.rs
  crates/perl-lsp-diagnostics/src/lints/strict_warnings.rs
  crates/perl-lsp-diagnostics/src/lints/unused_imports.rs
  crates/perl-lsp-diagnostics/src/scope.rs
  crates/perl-lsp-diagnostics/tests/bareword_diagnostics_tests.rs
  crates/perl-lsp-diagnostics/tests/diagnostic_integration_test.rs
  crates/perl-lsp-diagnostics/tests/heredoc_antipattern_tests.rs
  crates/perl-lsp-diagnostics/tests/suggestion_quality_tests.rs
  crates/perl-lsp-diagnostics/tests/unit_tests.rs
  crates/perl-lsp-diagnostics/tests/unused_imports_tests.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/features/code_actions_provider/mod.rs
  crates/perl-lsp/src/features/diagnostics/pull.rs
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/tests/code_actions_enhanced_tests.rs
Due: lsp

fix(lsp): regenerate capability snapshots for documentRangesFormattingProvider and lsp.ranges_formatting
  crates/perl-lsp/src/features/code_actions_provider/mod.rs
  crates/perl-lsp/tests/snapshots/all_capabilities.json
  crates/perl-lsp/tests/snapshots/capability_profile_feature_ids.json
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/special_variable_hover_tests.rs
Due: lsp

review(diagnostics-codes): exhaustive test coverage and safe documentation_url refactor
  crates/perl-diagnostics-codes/src/lib.rs
  crates/perl-diagnostics-codes/tests/comprehensive_unit_tests.rs
  crates/perl-diagnostics-codes/tests/diagnostic_code_completeness.rs
Due: none

fix(lsp): update lsp_code_actions_test to use stable PL diagnostic codes
  crates/perl-lsp/tests/lsp_code_actions_test.rs
Due: none

fix(parser): handle fat arrow after uppercase filehandle in indirect calls (#2402)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/tests/fix_unexpected_fat_arrow_expr_2402.rs
Due: none

fix(diagnostics): add missing DiagnosticCode match arms for new variants
  crates/perl-diagnostics-codes/src/lib.rs
Due: none

chore(swarm): encode multi-pass fix-forward pipeline across all agents and skills
  .claude/agents/builder.md
  .claude/agents/plan-reviewer.md
  .claude/agents/reviewer-deep.md
  .claude/agents/reviewer.md
  .claude/agents/scout.md
  .claude/commands/builder-implement.md
  .claude/commands/builder-self-review.md
  .claude/commands/ops-merge-batch.md
  .claude/commands/plan-review-improve.md
  .claude/commands/plan-review-read.md
  .claude/commands/plan-review-stress.md
  .claude/commands/pr-create.md
  .claude/commands/reviewer-check-diff.md
  .claude/commands/reviewer-decide.md
  .claude/commands/reviewer-deep-analyze.md
  .claude/commands/reviewer-deep-decide.md
  .claude/commands/reviewer-deep-edges.md
  .claude/commands/scout-design.md
  .claude/commands/scout-report.md
  .claude/commands/wisdom-document.md
  CLAUDE.md
Due: none

fix(parser): relex slash as regex at statement start after closing brace
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_unexpected_slash_expr.rs
Due: none

feat(perl): add special variable documentation, hover, and completion (#2347)
  crates/perl-lsp-completion/src/completion/variables.rs
  crates/perl-lsp-completion/tests/extended_unit_tests.rs
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/special_variable_hover_tests.rs
  docs/project/CURRENT_STATUS.md
Due: lsp

review: improve special vars coverage — add $+/$^T/$^A/$^W docs and strengthen tests
  crates/perl-lsp-completion/src/completion/variables.rs
  crates/perl-lsp-completion/tests/extended_unit_tests.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/special_variable_hover_tests.rs
Due: lsp

feat(hover): explain regex patterns in human-readable format (closes #2048)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/regex_hover_tests.rs
Due: lsp

review(hover): fix regex explainer accuracy and add Perl-specific patterns
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/regex_hover_tests.rs
Due: lsp

test: add edge case test for -> in main package
  crates/perl-lsp-completion/src/completion.rs
Due: none

fix: $self-> and $this-> now resolve workspace-indexed methods (#2536)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
Due: none

fix(parser): handle s///e replacement with / inside string literals (#2395)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_substitution_misparse_2395.rs
  crates/perl-quote/src/lib.rs
  crates/perl-quote/tests/comprehensive_unit_tests.rs
Due: lexer

fix(diagnostics): wire lint checks into get_diagnostics() pipeline
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
Due: none

test(parser): add regression tests for expected_left_brace bucket (#2399)
  crates/perl-parser-core/tests/fix_expected_left_brace_2399.rs
Due: none

fix(parser): treat print STDERR => as list call not indirect object
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/tests/fix_fat_arrow_filehandle_tests.rs
Due: none
