Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(perl-parser-core): bound heredoc depth fixture (#0000)
  crates/perl-parser-core/src/engine/parser/heredoc_security_tests.rs
Due: none

refactor(perl-lexer): split core lexer into srp module boundary (#0000)
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lexer/test_format_debug.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(perl-regex): split crate into SRP modules (#0000)
  crates/perl-regex/src/analyzer.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/validator.rs
Due: none

refactor(perl-regex): split crate into srp modules (#0000)
  crates/perl-regex/src/analyzer.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/tests.rs
  crates/perl-regex/src/validator.rs
Due: none

refactor(perl-regex): split crate into SRP submodules (#0000)
  crates/perl-regex/src/analyzer.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/validator.rs
Due: none

refactor(perl-regex): split srp-focused modules (#0000)
  crates/perl-regex/src/analyzer.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/validator.rs
Due: none

refactor(perl-dap): split dispatcher into SRP submodules (#0000)
  crates/perl-dap/src/dispatcher.rs
  crates/perl-dap/src/dispatcher/handlers.rs
  crates/perl-dap/src/dispatcher/mod.rs
  crates/perl-dap/src/dispatcher/response.rs
  crates/perl-dap/src/dispatcher/tests.rs
Due: dap

refactor(perl-corpus): split corpus parsing/query into SRP modules (#0000)
  crates/perl-corpus/src/corpus_parser.rs
  crates/perl-corpus/src/corpus_query.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

refactor(perl-corpus): split parser responsibilities into module (#0000)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/parser.rs
Due: corpus

refactor(perl-corpus): split parsing into srp submodules (#0000)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/parse.rs
  crates/perl-corpus/src/query.rs
Due: corpus

refactor(perl-corpus): split parser APIs into srp module (#0000)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/parser.rs
Due: corpus

refactor(perl-lsp-rs): split text sync classification helpers (#0000)
  crates/perl-lsp-rs/src/runtime/text_sync/classification.rs
  crates/perl-lsp-rs/src/runtime/text_sync/mod.rs
Due: none

refactor(perl-lsp-rs): split call hierarchy into srp submodules (#0000)
  crates/perl-lsp-rs/src/call_hierarchy_provider/json.rs
  crates/perl-lsp-rs/src/call_hierarchy_provider/mod.rs
  crates/perl-lsp-rs/src/call_hierarchy_provider/tests.rs
Due: none

refactor(xtask): separate CLI submodules from main (#0000)
  xtask/src/cli.rs
  xtask/src/main.rs
Due: none

refactor(xtask): separate SRP command submodule (#0000)
  xtask/src/main.rs
Due: none

refactor(xtask): group SRP commands under submodule tree (#0000)
  xtask/src/main.rs
Due: none

refactor(xtask): separate gates SRP submodules (#0000)
  xtask/src/tasks/gates/mod.rs
  xtask/src/tasks/gates/model.rs
Due: none

refactor(xtask): separate gates data types into submodule (#0000)
  xtask/src/tasks/gates.rs
  xtask/src/tasks/gates/types.rs
Due: none

refactor(perl-parser): add facade core/prelude/compat modules (#0000)
  crates/perl-parser/src/compat.rs
  crates/perl-parser/src/core.rs
  crates/perl-parser/src/lib.rs
  crates/perl-parser/src/prelude.rs
Due: parser

refactor(perl-parser): split incremental core modules (#0000)
  crates/perl-parser/src/incremental/checkpoint.rs
  crates/perl-parser/src/incremental/diagnostics.rs
  crates/perl-parser/src/incremental/edit.rs
  crates/perl-parser/src/incremental/mod.rs
  crates/perl-parser/src/incremental/reparse.rs
  crates/perl-parser/src/incremental/state.rs
  crates/perl-parser/src/incremental/strategy.rs
Due: parser

refactor(perl-dap): extract server lifecycle from lib facade (#0000)
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/server/config.rs
  crates/perl-dap/src/server/lifecycle.rs
  crates/perl-dap/src/server/mod.rs
  crates/perl-dap/src/server/mode.rs
Due: dap

refactor(perl-dap): extract server types from lib facade (#0000)
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/server/config.rs
  crates/perl-dap/src/server/lifecycle.rs
  crates/perl-dap/src/server/mod.rs
  crates/perl-dap/src/server/mode.rs
Due: dap

refactor(perl-lexer): move PerlLexer implementation into lexer module (#0000)
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/lexer_error_handling_tests.rs
Due: lexer

refactor(perl-lexer): extract cursor utilities into lexer module (#0000)
  crates/perl-lexer/src/lexer/cursor.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lexer/state.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(perl-lexer): move PerlLexer implementation into lexer module (#0000)
  crates/perl-lexer/src/lexer/driver.rs
  crates/perl-lexer/src/lexer/mod.rs
  crates/perl-lexer/src/lib.rs
Due: lexer

ci(gates): bound merge gate log parsing (#0000)
  .ci/gate-policy.yaml
  .github/workflows/ci.yml
  xtask/src/tasks/ci_scope.rs
  xtask/src/tasks/gates.rs
Due: none

refactor(perl-regex): split lib into SRP modules (#0000)
  crates/perl-regex/README.md
  crates/perl-regex/src/analyzer/capture.rs
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/src/analyzer/mod.rs
  crates/perl-regex/src/analyzer/modifiers.rs
  crates/perl-regex/src/analyzer/parser.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/prelude.rs
  crates/perl-regex/src/syntax/balanced.rs
  crates/perl-regex/src/syntax/char_class.rs
  crates/perl-regex/src/syntax/cursor.rs
  crates/perl-regex/src/syntax/escape.rs
  crates/perl-regex/src/syntax/mod.rs
  crates/perl-regex/src/validator/code_execution.rs
  crates/perl-regex/src/validator/complexity.rs
  crates/perl-regex/src/validator/config.rs
  crates/perl-regex/src/validator/group.rs
  crates/perl-regex/src/validator/mod.rs
  crates/perl-regex/src/validator/nested_quantifier.rs
  crates/perl-regex/src/validator/scanner.rs
  crates/perl-regex/src/validator/unicode_property.rs
Due: none

refactor(perl-regex): split validator/analyzer into SRP modules (#0000)
  crates/perl-regex/README.md
  crates/perl-regex/src/analyzer/capture.rs
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/src/analyzer/mod.rs
  crates/perl-regex/src/analyzer/modifiers.rs
  crates/perl-regex/src/analyzer/parser.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/prelude.rs
  crates/perl-regex/src/syntax/balanced.rs
  crates/perl-regex/src/syntax/char_class.rs
  crates/perl-regex/src/syntax/cursor.rs
  crates/perl-regex/src/syntax/escape.rs
  crates/perl-regex/src/syntax/mod.rs
  crates/perl-regex/src/validator/code_execution.rs
  crates/perl-regex/src/validator/complexity.rs
  crates/perl-regex/src/validator/config.rs
  crates/perl-regex/src/validator/group.rs
  crates/perl-regex/src/validator/mod.rs
  crates/perl-regex/src/validator/nested_quantifier.rs
  crates/perl-regex/src/validator/scanner.rs
  crates/perl-regex/src/validator/unicode_property.rs
Due: none

refactor(perl-regex): split regex lib into SRP modules (#0000)
  crates/perl-regex/README.md
  crates/perl-regex/src/analyzer/capture.rs
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/src/analyzer/mod.rs
  crates/perl-regex/src/analyzer/modifiers.rs
  crates/perl-regex/src/analyzer/parser.rs
  crates/perl-regex/src/error.rs
  crates/perl-regex/src/lib.rs
  crates/perl-regex/src/prelude.rs
  crates/perl-regex/src/syntax/balanced.rs
  crates/perl-regex/src/syntax/char_class.rs
  crates/perl-regex/src/syntax/cursor.rs
  crates/perl-regex/src/syntax/escape.rs
  crates/perl-regex/src/syntax/mod.rs
  crates/perl-regex/src/validator/code_execution.rs
  crates/perl-regex/src/validator/complexity.rs
  crates/perl-regex/src/validator/config.rs
  crates/perl-regex/src/validator/group.rs
  crates/perl-regex/src/validator/mod.rs
  crates/perl-regex/src/validator/nested_quantifier.rs
  crates/perl-regex/src/validator/scanner.rs
  crates/perl-regex/src/validator/unicode_property.rs
Due: none

refactor(perl-corpus): extract metadata and loading modules (#0000)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/loading/dir.rs
  crates/perl-corpus/src/loading/file.rs
  crates/perl-corpus/src/loading/mod.rs
  crates/perl-corpus/src/meta.rs
  crates/perl-corpus/src/metadata/flags.rs
  crates/perl-corpus/src/metadata/ids.rs
  crates/perl-corpus/src/metadata/mod.rs
  crates/perl-corpus/src/metadata/parser.rs
  crates/perl-corpus/src/metadata/query.rs
  crates/perl-corpus/src/metadata/section.rs
  crates/perl-corpus/src/metadata/syntax.rs
  crates/perl-corpus/src/metadata/tags.rs
Due: corpus

refactor(perl-corpus): extract metadata and loading modules (#0000)
  crates/perl-corpus/src/api.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/loading/dir.rs
  crates/perl-corpus/src/loading/file.rs
  crates/perl-corpus/src/loading/mod.rs
  crates/perl-corpus/src/meta.rs
  crates/perl-corpus/src/metadata/flags.rs
  crates/perl-corpus/src/metadata/ids.rs
  crates/perl-corpus/src/metadata/mod.rs
  crates/perl-corpus/src/metadata/parser.rs
  crates/perl-corpus/src/metadata/query.rs
  crates/perl-corpus/src/metadata/section.rs
  crates/perl-corpus/src/metadata/syntax.rs
  crates/perl-corpus/src/metadata/tags.rs
  crates/perl-corpus/src/prelude.rs
Due: corpus

ci(release): harden public-alpha publish channels (#7674)
  .ci/GATE_REGISTRY.toml
  .github/workflows/ci.yml
  .github/workflows/publish-extension.yml
  .github/workflows/release-orchestration.yml
  .github/workflows/ux-regression-gate.yml
  crates/perl-parser-core/src/engine/parser/heredoc_security_tests.rs
  docs/RELEASE_PROCESS.md
  docs/reference/CI_ARCHITECTURE.md
  xtask/src/tasks/gates.rs
Due: none

ci(release): harden public-alpha publish channels (#7674) (#7676)
  .ci/GATE_REGISTRY.toml
  .github/workflows/ci.yml
  .github/workflows/publish-extension.yml
  .github/workflows/release-orchestration.yml
  .github/workflows/ux-regression-gate.yml
  crates/perl-parser-core/src/engine/parser/heredoc_security_tests.rs
  docs/RELEASE_PROCESS.md
  docs/reference/CI_ARCHITECTURE.md
  xtask/src/tasks/gates.rs
Due: none

ci(release): target owned Homebrew tap (#0000)
  .github/workflows/brew-bump.yml
  Formula/perllsp.rb
  distribution/homebrew/perllsp.rb
  docs/RELEASE_PROCESS.md
  scripts/inject-sha-assets.sh
Due: none

ci(tokmd): gate advisory review workflow (#0000)
  .github/workflows/tokmd.yml
Due: none

chore(release): bump public-alpha version to 0.13.1 (#0000)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/perl-ci-hygiene/src/version_sync.rs
  crates/perl-module/Cargo.toml
  docs/project/ROADMAP.md
  features.toml
  vscode-extension/package-lock.json
  vscode-extension/package.json
  xtask/src/tasks/bump_version.rs
  xtask/src/tasks/check_version_sync.rs
Due: none
