Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

extract perl-builtins PHF tables into microcrate (#1167)
  Cargo.lock
  Cargo.toml
  crates/perl-builtins-phf/Cargo.toml
  crates/perl-builtins-phf/README.md
  crates/perl-builtins-phf/src/lib.rs
  crates/perl-builtins/Cargo.toml
  crates/perl-builtins/README.md
  crates/perl-builtins/src/lib.rs
Due: none

extract percentile math into dedicated microcrate (#1174)
  Cargo.lock
  Cargo.toml
  crates/perl-percentile/Cargo.toml
  crates/perl-percentile/README.md
  crates/perl-percentile/src/lib.rs
  crates/perl-percentile/tests/percentile_prop.rs
  crates/perl-workspace-index-slo/src/lib.rs
Due: none

refactor(dap): extract shared PerlValue model into perl-dap-value microcrate (#1185)
  Cargo.lock
  Cargo.toml
  crates/perl-dap-breakpoint/tests/breakpoint_tests.rs
  crates/perl-dap-value/Cargo.toml
  crates/perl-dap-value/LICENSE-APACHE
  crates/perl-dap-value/LICENSE-MIT
  crates/perl-dap-value/README.md
  crates/perl-dap-value/ROADMAP.md
  crates/perl-dap-value/src/lib.rs
  crates/perl-dap-variables/Cargo.toml
  crates/perl-dap-variables/src/lib.rs
  crates/perl-lsp-code-actions/tests/comprehensive_unit_tests.rs
Due: none

split URI parser into perl-lsp-uri microcrate (#1188)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-providers/Cargo.toml
  crates/perl-lsp-providers/src/ide/lsp_compat/uri.rs
  crates/perl-lsp-uri/Cargo.toml
  crates/perl-lsp-uri/README.md
  crates/perl-lsp-uri/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/util/uri.rs
Due: lsp

refactor: extract cursor token helpers into perl-symbol-cursor (#1192)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/util/mod.rs
  crates/perl-symbol-cursor/src/lib.rs
Due: lsp

extract on-type formatting into SRP microcrate (#1196)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-on-type-formatting/Cargo.toml
  crates/perl-lsp-on-type-formatting/README.md
  crates/perl-lsp-on-type-formatting/src/lib.rs
  crates/perl-lsp-providers/Cargo.toml
  crates/perl-lsp-providers/src/ide/lsp_compat/on_type_formatting.rs
Due: none

extract workspace symbol query matching into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-navigation/Cargo.toml
  crates/perl-lsp-navigation/src/workspace_symbols.rs
  crates/perl-lsp-symbol-query/Cargo.toml
  crates/perl-lsp-symbol-query/README.md
  crates/perl-lsp-symbol-query/src/lib.rs
Due: none

extract workspace symbol query matching into SRP microcrate (#1158)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-navigation/Cargo.toml
  crates/perl-lsp-navigation/src/workspace_symbols.rs
  crates/perl-lsp-symbol-query/Cargo.toml
  crates/perl-lsp-symbol-query/README.md
  crates/perl-lsp-symbol-query/src/lib.rs
Due: none

split lsp input validation into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-input-validation/Cargo.toml
  crates/perl-lsp-input-validation/README.md
  crates/perl-lsp-input-validation/ROADMAP.md
  crates/perl-lsp-input-validation/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/security/validation.rs
Due: lsp

split lsp input validation into dedicated microcrate (#1159)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-input-validation/Cargo.toml
  crates/perl-lsp-input-validation/README.md
  crates/perl-lsp-input-validation/ROADMAP.md
  crates/perl-lsp-input-validation/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/security/validation.rs
Due: lsp

refactor: extract symbol index into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-tooling/Cargo.toml
  crates/perl-lsp-tooling/src/performance.rs
  crates/perl-symbol-index/Cargo.toml
  crates/perl-symbol-index/README.md
  crates/perl-symbol-index/src/lib.rs
Due: none

refactor: extract symbol index into dedicated microcrate (#1172)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-tooling/Cargo.toml
  crates/perl-lsp-tooling/src/performance.rs
  crates/perl-symbol-index/Cargo.toml
  crates/perl-symbol-index/README.md
  crates/perl-symbol-index/src/lib.rs
Due: none

Extract LSP runtime configuration into perl-lsp-config
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-config/Cargo.toml
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp/src/state/config.rs
Due: lsp

Extract LSP runtime configuration into perl-lsp-config (#1190)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-config/Cargo.toml
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp/src/state/config.rs
Due: lsp

extract source editing heuristics into microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-code-actions/Cargo.toml
  crates/perl-lsp-code-actions/src/enhanced/helpers.rs
  crates/perl-source-editing/Cargo.toml
  crates/perl-source-editing/README.md
  crates/perl-source-editing/src/lib.rs
  crates/perl-source-editing/tests/source_editing_tests.rs
Due: none

fix source-editing extraction follow-up issues
  crates/perl-lsp-code-actions/src/enhanced/helpers.rs
  crates/perl-lsp-code-actions/src/enhanced/import_management.rs
  crates/perl-source-editing/src/lib.rs
  crates/perl-source-editing/tests/source_editing_tests.rs
Due: none

Extract source-editing heuristics into dedicated SRP microcrate (#1197)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-code-actions/Cargo.toml
  crates/perl-lsp-code-actions/src/enhanced/helpers.rs
  crates/perl-lsp-code-actions/src/enhanced/import_management.rs
  crates/perl-source-editing/Cargo.toml
  crates/perl-source-editing/README.md
  crates/perl-source-editing/src/lib.rs
  crates/perl-source-editing/tests/source_editing_tests.rs
Due: none

split URI classification helpers into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-uri-classify/Cargo.toml
  crates/perl-uri-classify/README.md
  crates/perl-uri-classify/src/lib.rs
  crates/perl-uri/Cargo.toml
  crates/perl-uri/src/lib.rs
Due: none

split URI classification helpers into dedicated microcrate (#1200)
  Cargo.lock
  Cargo.toml
  crates/perl-uri-classify/Cargo.toml
  crates/perl-uri-classify/README.md
  crates/perl-uri-classify/src/lib.rs
  crates/perl-uri/Cargo.toml
  crates/perl-uri/src/lib.rs
Due: none

split dap command arg formatting into microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-dap-command-args/Cargo.toml
  crates/perl-dap-command-args/README.md
  crates/perl-dap-command-args/src/lib.rs
  crates/perl-dap-platform/README.md
  crates/perl-dap-platform/src/lib.rs
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/platform.rs
Due: dap

split dap command arg formatting into microcrate (#1205)
  Cargo.lock
  Cargo.toml
  crates/perl-dap-command-args/Cargo.toml
  crates/perl-dap-command-args/README.md
  crates/perl-dap-command-args/src/lib.rs
  crates/perl-dap-platform/README.md
  crates/perl-dap-platform/src/lib.rs
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/platform.rs
Due: dap

refactor: split workspace-folder event/rootPath parsing helpers
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-workspace-folder/Cargo.toml
  crates/perl-workspace-folder/src/lib.rs
Due: lsp

refactor: split workspace-folder event/rootPath parsing helpers (#1161)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-workspace-folder/Cargo.toml
  crates/perl-workspace-folder/src/lib.rs
Due: lsp

fix follow-up: clean nav deps and pass all-target clippy
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-document-links/Cargo.toml
  crates/perl-lsp-document-links/README.md
  crates/perl-lsp-document-links/src/lib.rs
  crates/perl-lsp-navigation/src/lib.rs
  crates/perl-lsp-navigation/tests/comprehensive_unit_tests.rs
Due: none

fix follow-up: clean nav deps and pass all-target clippy (#1164)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-document-links/Cargo.toml
  crates/perl-lsp-document-links/README.md
  crates/perl-lsp-document-links/src/lib.rs
  crates/perl-lsp-navigation/src/lib.rs
  crates/perl-lsp-navigation/tests/comprehensive_unit_tests.rs
Due: none

Extract LSP import management into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-import-management/Cargo.toml
  crates/perl-lsp-import-management/README.md
  crates/perl-lsp-import-management/src/lib.rs
  crates/perl-lsp-import-management/tests/import_management_tests.rs
Due: none

Extract LSP import management into SRP microcrate (#1168)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-import-management/Cargo.toml
  crates/perl-lsp-import-management/README.md
  crates/perl-lsp-import-management/src/lib.rs
  crates/perl-lsp-import-management/tests/import_management_tests.rs
Due: none

extract lsp diagnostic catalog into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-diagnostic-catalog/Cargo.toml
  crates/perl-lsp-diagnostic-catalog/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/diagnostics_catalog.rs
Due: lsp

extract lsp diagnostic catalog into dedicated microcrate (#1180)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-diagnostic-catalog/Cargo.toml
  crates/perl-lsp-diagnostic-catalog/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/diagnostics_catalog.rs
Due: lsp

split feature-profile CLI parsing into microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-feature-governance/src/lib.rs
  crates/perl-lsp-feature-profile-cli/Cargo.toml
  crates/perl-lsp-feature-profile-cli/README.md
  crates/perl-lsp-feature-profile-cli/src/lib.rs
Due: none

split feature-profile CLI parsing into microcrate (#1181)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-feature-governance/src/lib.rs
  crates/perl-lsp-feature-profile-cli/Cargo.toml
  crates/perl-lsp-feature-profile-cli/README.md
  crates/perl-lsp-feature-profile-cli/src/lib.rs
Due: none

refactor: centralize qualified-name container parsing
  Cargo.lock
  crates/perl-lsp-navigation/src/references.rs
  crates/perl-lsp-navigation/src/workspace_symbols.rs
  crates/perl-qualified-name/src/lib.rs
Due: none

refactor: centralize qualified-name container parsing (#1182)
  Cargo.lock
  crates/perl-lsp-navigation/src/references.rs
  crates/perl-lsp-navigation/src/workspace_symbols.rs
  crates/perl-qualified-name/src/lib.rs
Due: none

refactor: split performance utilities into perl-lsp-performance crate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-performance/Cargo.toml
  crates/perl-lsp-performance/README.md
  crates/perl-lsp-performance/src/lib.rs
  crates/perl-lsp-tooling/src/lib.rs
Due: none

refactor: split performance utilities into perl-lsp-performance crate (#1187)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-performance/Cargo.toml
  crates/perl-lsp-performance/README.md
  crates/perl-lsp-performance/src/lib.rs
  crates/perl-lsp-tooling/src/lib.rs
Due: none

refactor: extract file completion path security helpers
  Cargo.lock
  crates/perl-lsp-completion/Cargo.toml
  crates/perl-lsp-completion/src/completion/file_path.rs
  crates/perl-lsp-completion/tests/comprehensive_unit_tests.rs
  crates/perl-path-security/src/lib.rs
Due: none

refactor: extract file completion path security helpers (#1193)
  Cargo.lock
  crates/perl-lsp-completion/Cargo.toml
  crates/perl-lsp-completion/src/completion/file_path.rs
  crates/perl-lsp-completion/tests/comprehensive_unit_tests.rs
  crates/perl-path-security/src/lib.rs
Due: none

Split DAP shell/env helpers into perl-dap-shell microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-dap-platform/Cargo.toml
  crates/perl-dap-shell/Cargo.toml
  crates/perl-dap-shell/README.md
  crates/perl-dap-shell/src/lib.rs
Due: none

Split DAP shell/env helpers into perl-dap-shell microcrate (#1195)
  Cargo.lock
  Cargo.toml
  crates/perl-dap-platform/Cargo.toml
  crates/perl-dap-shell/Cargo.toml
  crates/perl-dap-shell/README.md
  crates/perl-dap-shell/src/lib.rs
Due: none

refactor(workspace-index): split index state machine into microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-workspace-index-state-machine/Cargo.toml
  crates/perl-workspace-index-state-machine/README.md
  crates/perl-workspace-index-state-machine/src/lib.rs
  crates/perl-workspace-index/Cargo.toml
  crates/perl-workspace-index/src/workspace/state_machine.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
