Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

docs: add maintainer pr thread archaeology
  docs/articles/README.md
  docs/articles/research/BLOG_MATERIAL_INDEX.md
  docs/articles/research/MAINTAINER_PR_THREAD_ARCHAEOLOGY.md
Due: none

docs: add hook reliability archaeology
  docs/articles/README.md
  docs/articles/research/BLOG_MATERIAL_INDEX.md
  docs/articles/research/HOOK_RELIABILITY_ARCHAEOLOGY.md
Due: none

docs: add post-210 governance archaeology
  docs/articles/research/POST_210_GOVERNANCE_ARCHAEOLOGY.md
Due: none

docs: add bot review noise archaeology
  docs/articles/research/BOT_REVIEW_NOISE_ARCHAEOLOGY.md
Due: none

docs: extend intake and memory archaeology
  docs/articles/README.md
  docs/articles/research/BLOG_MATERIAL_INDEX.md
  docs/articles/research/KNOWLEDGE_PROMOTION_ARCHAEOLOGY.md
  docs/articles/research/PUBLIC_VS_SWARM_INTAKE_ARCHAEOLOGY.md
Due: none

docs: correct swarm agent architecture
  .claude/README.md
  .claude/agents/AGENT_CATALOG.md
  .claude/agents/README.md
  .claude/commands/bootstrap-agents.md
  .claude/commands/swarm.md
  .claude/skills/swarm/SKILL.md
Due: none

docs: correct agent-surface archaeology
  docs/articles/research/BLOG_MATERIAL_INDEX.md
  docs/articles/research/CONTROL_PLANE_ARCHAEOLOGY.md
  docs/articles/research/DEVELOPMENT_ARCHAEOLOGY.md
  docs/articles/research/ERA5_MIXED_TOOL_ARCHAEOLOGY.md
  docs/articles/research/KNOWLEDGE_PROMOTION_ARCHAEOLOGY.md
  docs/articles/research/MAINTAINER_VISION_ARCHAEOLOGY.md
  docs/articles/research/five_eras_swarm_methodology.md
  docs/articles/research/swarm_development_methodology.md
Due: none

feat(dist): add cargo-binstall configuration for perl-lsp (#2071) (#2209)
  crates/perl-lsp/Cargo.toml
Due: none

feat(lsp): add graceful degradation tiers for partial parse results (#2219)
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/state/document.rs
Due: lsp

perf(completion): reduce unnecessary clones in completion hot path (#2073) (#2220)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp/src/runtime/language/completion.rs
Due: lsp

fix(parser): accept complex expressions in use/no import lists (#2184) (#2221)
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/use_import_pattern_tests.rs
Due: none

fix(parser): audit fat arrow expressions and add regression tests (#1651) (#2171)
  crates/perl-parser-core/tests/fix_fat_arrow_expr.rs
Due: none

perf: establish performance baselines for 0.12.0 (#1654) (#2166)
  Cargo.lock
  benchmarks/scripts/run-benchmarks.sh
  crates/perl-lsp-completion/Cargo.toml
  crates/perl-lsp-completion/benches/completion_benchmark.rs
  crates/perl-lsp-navigation/Cargo.toml
  crates/perl-lsp-navigation/benches/navigation_benchmark.rs
  docs/project/PERFORMANCE_BASELINES.md
  justfile
Due: none

test(lsp): add core server behavior specification tests (#2155)
  crates/perl-lsp/tests/lsp_core_behavior_tests.rs
Due: none

fix(hover): clear code actions clippy warnings
  crates/perl-lsp/src/runtime/language/code_actions.rs
Due: lsp

feat(hover): show resolved module path on use statement hover (#2211)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/semantic_hover.rs
Due: lsp

docs: add README badges and GitHub FUNDING.yml (#2167)
  .github/FUNDING.yml
  README.md
Due: none

chore: add pre-push hook to update test counts in CURRENT_STATUS.md (#2128)
  .claude/hooks/task-completed.sh
  crates/perl-ci-hygiene/src/main.rs
Due: none

test(parser): add block-list function in parenthesized args tests (#1897) (#2127)
  crates/perl-parser-core/tests/block_list_in_parens_tests.rs
Due: none

docs: add rustdoc for public APIs of key crates (#2122)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/token.rs
Due: lexer

docs: add cycle 5 orchestration learnings to CLAUDE.md (#2120)
  CLAUDE.md
Due: none

ci: add release gate checklist for 0.12.0 (#1655) (#2069)
  docs/project/RELEASE_CHECKLIST.md
  justfile
Due: none

fix(parser): handle for/foreach without explicit loop variable (#1700) (#2040)
  crates/perl-parser-core/src/engine/parser/control_flow.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/fix_foreach_no_variable_tests.rs
Due: none

test(vscode): add unit and integration tests (#1660) (#2034)
  vscode-extension/jest.config.js
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/test/__mocks__/vscode.ts
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/src/test/debugAdapter.test.ts
  vscode-extension/src/test/downloader.test.ts
Due: none

docs(vscode): polish extension for 0.12.0 public alpha (#2032)
  vscode-extension/CHANGELOG.md
  vscode-extension/README.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
Due: none

feat(vscode): add test explorer integration for Perl .t files (#2033)
  vscode-extension/src/extension.ts
  vscode-extension/src/testAdapter.ts
Due: none

test(dap): add P1 security boundary tests for DAP crates (#1969)
  Cargo.lock
  crates/perl-dap-platform/Cargo.toml
  crates/perl-dap-platform/tests/perl_path_edge_cases.rs
  crates/perl-dap-security/tests/path_traversal_tests.rs
  crates/perl-quote/tests/edge_cases.rs
Due: none

test(perl-lsp): comprehensive code actions provider coverage (#1966)
  crates/perl-lsp/src/features/code_actions_provider/fixes.rs
  crates/perl-lsp/src/features/code_actions_provider/mod.rs
  crates/perl-lsp/src/features/code_actions_provider/source_utils.rs
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/language/code_actions.rs
  crates/perl-lsp/tests/code_actions_enhanced_tests.rs
  crates/perl-lsp/tests/lsp_code_actions_tests.rs
  docs/project/CURRENT_STATUS.md
Due: lsp

perf(lsp): use linear dedup for small highlight sets, eliminate clone (#1928)
  crates/perl-lsp/src/features/document_highlight.rs
Due: lsp

test(perl-dap-breakpoint): add edge case tests for breakpoint validation (#1926)
  crates/perl-dap-breakpoint/tests/edge_case_tests.rs
Due: none

fix(parser): handle ternary after named-unary operators in statement context
  crates/perl-parser-core/src/engine/parser/expressions/precedence.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/named_unary_ternary_tests.rs
Due: none

feat(parser): add helpful fix suggestions to error messages (#441)
  crates/perl-error/src/lib.rs
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/tests/suggestion_quality_tests.rs
  crates/perl-lsp-diagnostics/tests/unit_tests.rs
Due: none

test(cli): fix completion smoke test
  crates/perl-lsp/tests/cli_smoke.rs
Due: none

feat(cli): add PowerShell completion generation for perl-lsp (#2075)
  crates/perl-lsp-launcher/src/lib.rs
  crates/perl-lsp/src/main.rs
Due: lsp

docs: refresh current status metrics
  docs/project/CURRENT_STATUS.md
Due: none

test(parser): add heredoc edge case tests from scout findings (#1912)
  crates/perl-parser/tests/sprint_a_heredoc_body_tests.rs
Due: none

test(perl-parser-core): variable declaration edge case coverage (#1905)
  crates/perl-parser-core/tests/variable_declaration_edge_tests.rs
Due: none

perf(lsp): reduce allocations in workspace symbol search
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
