Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

Improve README visualization
  README.md
Due: none

Centralize CLI logging setup
  Cargo.lock
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/main.rs
  crates/perl-lsp-launcher/Cargo.toml
  crates/perl-lsp-launcher/src/lib.rs
  crates/perl-lsp/src/main.rs
Due: lsp, dap

Centralize server logging setup
  Cargo.lock
  crates/perl-dap/src/main.rs
  crates/perl-lsp-launcher/Cargo.toml
  crates/perl-lsp-launcher/src/lib.rs
  crates/perl-lsp/src/main.rs
Due: lsp, dap

Improve perl-lsp startup logging
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/main.rs
Due: lsp

Improve workspace discovery logging
  crates/perl-workspace-discovery/src/lib.rs
Due: none

Improve perl-lsp startup logging
  crates/perl-lsp/src/main.rs
Due: lsp

test: expand perl-builtins-phf coverage
  crates/perl-builtins-phf/tests/comprehensive_unit_tests.rs
Due: none

Add path normalization coverage
  crates/perl-path-normalize/src/lib.rs
Due: none

Add perl-lexer unit coverage for unicode and quote helpers
  crates/perl-lexer/src/quote_handler.rs
  crates/perl-lexer/src/unicode.rs
Due: lexer

test: expand perl-source-editing coverage
  crates/perl-source-editing/src/lib.rs
Due: none

Refine centralized logging helper usage
  crates/perl-dap/src/main.rs
  crates/perl-lsp-launcher/src/lib.rs
  crates/perl-lsp/src/main.rs
Due: lsp, dap

Fix perl-lsp test harness clippy assertions
  crates/perl-lsp/tests/support/notification_queue.rs
Due: none

Improve LSP async read scheduling
  crates/perl-lsp/src/runtime/scheduler.rs
Due: lsp

Improve async LSP read scheduling
  crates/perl-lsp/src/runtime/scheduler.rs
  crates/perl-lsp/src/runtime/serving.rs
Due: lsp

perf(lsp): streamline async read scheduler
  crates/perl-lsp/src/runtime/scheduler.rs
Due: lsp

docs: improve documentation navigation
  README.md
  docs/README.md
Due: none

docs: improve documentation navigation
  docs/README.md
  docs/reference/DOCUMENTATION_GUIDE.md
Due: none

docs: add documentation entry points
  docs/INDEX.md
  docs/how-to/INSTALLATION.md
  docs/tutorials/GETTING_STARTED.md
Due: none

docs: add codebase curiosities guide
  docs/README.md
  docs/reference/CODEBASE_CURIOSITIES.md
Due: none

docs: add codebase field notes
  docs/README.md
  docs/project/CODEBASE_FIELD_NOTES.md
Due: none

docs: refresh codebase curiosities with source-grounded learnings
  docs/README.md
  docs/project/CODEBASE_CURIOSITIES.md
Due: none

docs: add ADR for custom LSP runtime
  docs/adr/0034-custom-lsp-runtime.md
  docs/adr/README.md
  docs/project/CUSTOM_LSP_RUNTIME.md
  docs/reference/ARCHITECTURE_OVERVIEW.md
Due: none

Refactor perl critic tooling internals
  crates/perl-lsp-tooling/src/perl_critic.rs
  crates/perl-lsp-tooling/src/perl_critic/analyzer.rs
  crates/perl-lsp-tooling/src/perl_critic/built_in.rs
  crates/perl-lsp-tooling/src/perl_critic/mod.rs
  crates/perl-lsp-tooling/src/perl_critic/quick_fix.rs
  crates/perl-lsp-tooling/src/perl_critic/types.rs
Due: none

Refactor code actions provider internals
  crates/perl-lsp/src/features/code_actions_provider.rs
  crates/perl-lsp/src/features/code_actions_provider/fixes.rs
  crates/perl-lsp/src/features/code_actions_provider/mod.rs
  crates/perl-lsp/src/features/code_actions_provider/source_utils.rs
Due: lsp

Refactor execute command module layout
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/execute_command/executor.rs
  crates/perl-lsp/src/execute_command/mod.rs
  crates/perl-lsp/src/execute_command/tests.rs
Due: lsp

Refactor execute command modules
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/execute_command/executor.rs
  crates/perl-lsp/src/execute_command/mod.rs
  crates/perl-lsp/src/execute_command/provider.rs
  crates/perl-lsp/src/execute_command/test_support.rs
  crates/perl-lsp/src/execute_command/tests.rs
  crates/perl-lsp/src/execute_command/types.rs
Due: lsp

Improve feature profile normalization
  crates/perl-lsp-feature-policy/src/lib.rs
  crates/perl-lsp-feature-policy/tests/extended_unit_tests.rs
Due: none

Improve feature flag profile handling
  crates/perl-lsp-feature-flags/src/lib.rs
  crates/perl-lsp-feature-policy/src/lib.rs
  crates/perl-lsp-feature-policy/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-policy/tests/extended_unit_tests.rs
Due: none

Tighten LSP capability feature gating
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp-protocol/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-protocol/tests/protocol_unit_tests.rs
Due: none

Improve runtime feature flag overrides
  crates/perl-lsp-feature-flags/src/lib.rs
  crates/perl-lsp-feature-governance/src/lib.rs
  crates/perl-lsp-feature-policy/src/lib.rs
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
Due: lsp

Improve Open VSX publishing flow
  .github/workflows/publish-extension.yml
  CONTRIBUTING.md
  vscode-extension/PUBLISHING.md
Due: none

Improve VS Code extension controls
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

Improve pest delimiter parsing
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
Due: none

Improve lexer version string tokenization
  crates/perl-lexer/src/lib.rs
Due: lexer

Support class field declarations in parser
  crates/perl-keywords/src/lib.rs
  crates/perl-parser-core/src/engine/error/context_impls.rs
  crates/perl-parser-core/src/engine/error/recovery_parser.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/field_declaration_tests.rs
  crates/perl-token/src/lib.rs
  crates/perl-tokenizer/src/token_stream.rs
  crates/perl-tokenizer/src/trivia_parser.rs
  crates/perl-tokenizer/tests/comprehensive_unit_tests.rs
Due: none

docs(adr): document apparent codebase decisions
  docs/adr/0034-cancellation-microcrate-extraction.md
  docs/adr/README.md
Due: none

docs(adr): document custom lsp runtime decision
  README.md
  docs/STRATEGIC_DOCUMENTATION.md
  docs/adr/0034-custom-lsp-runtime-and-protocol-stack.md
  docs/adr/README.md
Due: none

Improve namespaced class parsing
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/parser_tests.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
