Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

feat(perl-workspace): add deterministic definition candidate multimap (#0000) (#7360)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

feat(xtask): emit semantic scorecard v1 fact rows (#7367) (#7367)
  Cargo.lock
  crates/perl-semantic-analyzer/Cargo.toml
  crates/perl-semantic-analyzer/src/analysis/export_analyzer.rs
  crates/perl-semantic-analyzer/tests/export_set_adapter.rs
  crates/perl-semantic-facts/src/lib.rs
  xtask/src/tasks/semantic_scorecard.rs
Due: none

docs(semantic): update Wave 2 substrate migration notes (#0000)
  docs/project/ROADMAP.md
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

fix(docs): correct stale Wave 2 implementation status claims
  docs/project/ROADMAP.md
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

docs(semantic): update Wave 2 substrate migration notes (#7372) (#7372)
  docs/project/ROADMAP.md
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

docs(project): merge Wave 2 execution discipline into substrate plan
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

docs(project): merge Wave 2 execution discipline into substrate plan (#7402)
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

test(dap): add feature-gate and functional tests for function breakpoints with condition expressions (#5498)
  crates/perl-dap/tests/dap_feature_flag_coverage_tests.rs
Due: none

fix(perl-pragma): split whitespace-delimited quoted pragma args (#0000) (#7197)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

feat(tree-sitter-perl-c): add typed parser-reuse parse APIs (#0000) (#7260)
  crates/tree-sitter-perl-c/src/lib.rs
Due: none

fix(fmt): apply rustfmt after cascade on PR #7199
  crates/perl-pragma/src/lib.rs
Due: none

fix(perl-parser): apply clippy-safe perf scorecard math (#0000) (#7192)
  crates/perl-parser/benches/support/perf_scorecard.rs
Due: none

fix(perl-parser): validate edits before apply_to_string (#0000) (#7191)
  crates/perl-parser/src/incremental/incremental_edit.rs
Due: parser

fix(perl-pragma): normalize conditional pragma updates (#0000) (#7199)
  crates/perl-pragma/src/lib.rs
Due: none

fix(docs): clarify Wave 1 item 2 — UX receipt classifier already in master (#7386, #7394)
  docs/project/CI_HARDENING_NEXT_WAVES.md
Due: none

docs(ci): capture next-wave CI hardening plan (#0000) (#7396)
  docs/project/CI_HARDENING_NEXT_WAVES.md
Due: none

fix(fmt): remove double blank line
  crates/perl-lsp-rs/src/runtime/language/completion.rs
Due: none

fix(fmt): remove double blank line
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

fix(perl-lsp-rs-core): harden @INC probe parsing (#0000) (#7185)
  crates/perl-lsp-rs-core/src/config/mod.rs
Due: none

refactor(perl-lexer): remove unwrap from find_after doctest (#0000) (#7194)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

feat(perl-lexer): add code/data split helper (#0000) (#7196)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

fix(module-resolution): normalize system @INC dedupe and dot filtering (#0000) (#7187)
  crates/perl-lsp-rs/src/runtime/lifecycle/module_resolution.rs
Due: none

fix(completion): include system @INC for non-workspace URIs (#0000) (#7188)
  crates/perl-lsp-rs/src/runtime/language/completion.rs
Due: none

test(perl-lsp-ux-tests): lock system @INC conformance assertions (#0000) (#7186)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
Due: none

fix(perl-lexer): avoid intermediate unicode error-token allocation (#0000) (#7201)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/lexer_error_handling_tests.rs
Due: lexer

refactor(perl-lexer): optimize checkpoint cache insertion (#0000) (#7203)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

feat(perl-lexer): add optional builtin signature lookup API (#0000) (#7204)
  crates/perl-lexer/src/builtins/phf_lookup.rs
Due: lexer

refactor(xtask): expose parser corpus sweep primitives (#0000)
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

feat(perl-corpus): add parser fixture expectation sidecars (#0000)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/sidecar.rs
  crates/perl-corpus/tests/sidecar_expectations.rs
  tests/perl-corpus/ambiguity/regex_vs_division.pl
  tests/perl-corpus/heredoc/data_section.meta.toml
  tests/perl-corpus/heredoc/data_section.pl
  tests/perl-corpus/position/utf16_crlf_span.meta.toml
  tests/perl-corpus/position/utf16_crlf_span.pl
  tests/perl-corpus/quote_like/custom_delimiter.meta.toml
  tests/perl-corpus/quote_like/custom_delimiter.pl
  tests/perl-corpus/recovery/missing_closing_brace.pl
Due: corpus

feat(completion): implement LSP 3.17+ labelDetails support
  crates/perl-lsp-rs-core/src/protocol/capabilities.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/builtins.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/functions.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/keywords.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/methods.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/packages.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/regex_patterns.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/snippets.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/test_more.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/variables.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/workspace.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/xs_api.rs
  crates/perl-lsp-rs-core/src/providers/completion_item/mod.rs
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
  crates/perl-lsp-rs-core/tests/green_tdd_wave_g1a_edge_cases.rs
  crates/perl-lsp-rs-core/tests/providers_module_shape.rs
  crates/perl-lsp-rs/src/runtime/language/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/state/document.rs
  crates/perl-lsp-rs/tests/snapshots/lsp_cap_snap__server_capabilities_full_client.snap
  crates/perl-lsp-rs/tests/snapshots/lsp_cap_snap__server_capabilities_minimal_client.snap
  crates/perl-lsp-rs/tests/wired_crates_integration_test.rs
Due: none

feat(ci-scope): emit parser ratchet lane decision (#0000)
  xtask/src/tasks/ci_scope.rs
Due: none

refactor(xtask): expose parser corpus sweep primitives (#0000) (#7154)
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

feat(ci-scope): emit parser ratchet lane decision (#0000) (#7152)
  xtask/src/tasks/ci_scope.rs
Due: none

feat(perl-corpus): add parser fixture expectation sidecars (#0000) (#7153)
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/sidecar.rs
  crates/perl-corpus/tests/sidecar_expectations.rs
  tests/perl-corpus/ambiguity/regex_vs_division.pl
  tests/perl-corpus/heredoc/data_section.meta.toml
  tests/perl-corpus/heredoc/data_section.pl
  tests/perl-corpus/position/utf16_crlf_span.meta.toml
  tests/perl-corpus/position/utf16_crlf_span.pl
  tests/perl-corpus/quote_like/custom_delimiter.meta.toml
  tests/perl-corpus/quote_like/custom_delimiter.pl
  tests/perl-corpus/recovery/missing_closing_brace.pl
Due: corpus

feat(xtask): scaffold parser-ratchet producer command (#0000)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lsp-rs-core/src/config/mod.rs
  crates/perl-lsp-rs/src/runtime/language/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/module_resolution.rs
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
  xtask/tests/parser_ratchet_cli.rs
Due: lexer

feat(xtask): scaffold parser-ratchet producer command (#0000) (#7155)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lsp-rs-core/src/config/mod.rs
  crates/perl-lsp-rs/src/runtime/language/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/module_resolution.rs
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
  xtask/tests/parser_ratchet_cli.rs
Due: lexer

test(dap): add feature-gate coverage for dap.breakpoints.function (#5498)
  crates/perl-dap/tests/dap_feature_flag_coverage_tests.rs
  features.toml
Due: none

test(dap): add feature-gate and functional tests for function breakpoints with condition expressions (#5498) (#7406)
  crates/perl-dap/tests/dap_feature_flag_coverage_tests.rs
Due: none

test(perl-corpus): remove unwraps in gold tests (#0000) (#7205)
  crates/perl-corpus/src/gold.rs
Due: corpus

test(perl-corpus): guard env var restoration in file-discovery tests (#0000) (#7206)
  crates/perl-corpus/src/files.rs
Due: corpus

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
