Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(plack): navigate builder middleware modules (#3581)
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
  crates/perl-semantic-analyzer/tests/frameworks_web.rs
Due: lsp

fix(parser): support Attribute::Handlers custom attrs (#3388)
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/src/engine/parser/mod.rs
  crates/perl-parser-core/tests/fix_attribute_validation_3357.rs
Due: none

fix(parser): support Attribute::Handlers custom attrs (#3388) (#3776)
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/src/engine/parser/mod.rs
  crates/perl-parser-core/tests/fix_attribute_validation_3357.rs
Due: none

feat(plack): navigate builder middleware modules (#3581) (#3777)
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
  crates/perl-semantic-analyzer/tests/frameworks_web.rs
Due: lsp

feat(module-import): distinguish empty import lists (#3473)
  crates/perl-module-import/src/lib.rs
  crates/perl-module-import/tests/dispatch_semantics.rs
Due: none

fix(ux): surface onboarding startup diagnostic (#3451)
  vscode-extension/src/extension.ts
  vscode-extension/src/startupDiagnosis.ts
  vscode-extension/src/test/startupError.test.ts
Due: none

fix(module-import): collapse import-list classifier (#3473)
  crates/perl-module-import/src/lib.rs
Due: none

feat(navigation): add XS bootstrap goto-definition (#3570)
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
Due: lsp

ci(clippy): derive MethodResolutionOrder default (#3780)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

fix(semantic-tokens): classify PL_sv_* as special variables (#3542)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
Due: none

test: Add BDD scenarios for goto-def, hover, diagnostics, and document-symbols
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
Due: none

ci(clippy): derive MethodResolutionOrder default (#3780) (#3783)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

fix(ux): surface onboarding startup diagnostic (#3451) (#3779)
  vscode-extension/src/extension.ts
  vscode-extension/src/startupDiagnosis.ts
  vscode-extension/src/test/startupError.test.ts
Due: none

feat(vscode): add XS directive highlighting (#3568)
  vscode-extension/README.md
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/syntaxes/perl.tmLanguage.json
Due: none

feat(navigation): add XS bootstrap goto-definition (#3570) (#3782)
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
Due: lsp

feat(diagnostics): add FFI::CheckLib hints (#3574)
  Cargo.lock
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/lints/ffi_checklib.rs
  crates/perl-lsp-diagnostics/src/lints/mod.rs
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
Due: none

fix(module-resolution): honor lexical use lib reinsertion precedence (#3720)
  crates/perl-module-resolution/src/use_lib.rs
Due: none

fix(module-resolution): honor use lib reinsertion precedence
  crates/perl-module-resolution/src/use_lib.rs
Due: none

fix(module-resolution): restore use lib reinsertion precedence (#3720)
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution/src/use_lib.rs
Due: lsp

fix(module-resolution): reinsert repeated use lib paths to preserve precedence
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution/src/use_lib.rs
Due: lsp

feat(tree-sitter): add Inline::CPP heredoc injection (#3567)
  crates/perl-corpus/src/cases.rs
  crates/tree-sitter-perl-c/src/lib.rs
  tree-sitter-perl/queries/injections.scm
Due: corpus

feat(module-import): distinguish empty import lists (#3473) (#3778)
  crates/perl-module-import/src/lib.rs
  crates/perl-module-import/tests/dispatch_semantics.rs
Due: none

fix(semantic-tokens): classify PL_sv_* as special variables (#3542) (#3784)
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
Due: none

feat(vscode): add XS directive highlighting (#3568) (#3786)
  vscode-extension/README.md
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/syntaxes/perl.tmLanguage.json
Due: none

test(lsp): cover use lib reordering of existing include paths
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
Due: lsp

fix(module-resolution): restore use lib reinsertion precedence (#3720) (#3791)
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution/src/use_lib.rs
Due: lsp

feat(tree-sitter): add Inline::CPP heredoc injection (#3567) (#3793)
  crates/perl-corpus/src/cases.rs
  crates/tree-sitter-perl-c/src/lib.rs
  tree-sitter-perl/queries/injections.scm
Due: corpus

fix(diagnostics): include multiarch FFI fallback roots
  crates/perl-lsp-diagnostics/src/lints/ffi_checklib.rs
Due: none

feat(hover): show variable declaration line and scope context (#3467) (#3759)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/lsp_hover_tests.rs
Due: lsp

fix(diagnostics): narrow FFI::CheckLib call matching
  crates/perl-lsp-diagnostics/src/lints/ffi_checklib.rs
Due: none

test(bdd): format core workflow scenarios
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
Due: none

feat(vscode): add SWIG interface highlighting (#3569)
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/syntaxes/perl.tmLanguage.json
Due: none

test(vscode): tighten SWIG grammar contract check (#3569)
  vscode-extension/src/test/configuration.test.ts
Due: none

feat(diagnostics): add FFI::CheckLib hints (#3574) (#3788)
  Cargo.lock
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/lints/ffi_checklib.rs
  crates/perl-lsp-diagnostics/src/lints/mod.rs
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
Due: none

feat(vscode): add SWIG interface highlighting (#3569) (#3795)
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/syntaxes/perl.tmLanguage.json
Due: none

test: Add BDD test scenarios for core LSP behaviors (#3472)
  Cargo.lock
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/lints/ffi_checklib.rs
  crates/perl-lsp-diagnostics/src/lints/mod.rs
  crates/perl-lsp-diagnostics/tests/lint_pipeline_integration_tests.rs
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
Due: none
