Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

Improve mutation subset configuration for quote parsing
  .cargo/mutants.toml
Due: none

Improve mutation testing fallback coverage
  justfile
Due: none

Fix hash literal arrow parsing and add mutation hardening tests
  crates/perl-parser-core/src/engine/parser/expressions/hashes.rs
  crates/perl-parser-core/tests/hash_literal_mutation_hardening.rs
Due: none

docs: add storybooking workflow to casebook
  book/src/process/casebook.md
  docs/project/CASEBOOK.md
Due: none

Improve user storybook context in LSP story tests
  crates/perl-lsp/tests/lsp_full_coverage_user_stories.rs
Due: none

docs(book): improve storybooking guidance in casebook
  book/src/introduction.md
  book/src/process/casebook.md
Due: none

docs: improve storybooking guidance for e2e tests
  crates/perl-parser/tests/README_e2e_tests.md
Due: none

chore: align tree-sitter crate deps to 0.26.6
  crates/tree-sitter-perl-c/Cargo.toml
  crates/tree-sitter-perl-rs/Cargo.toml
Due: none

Fix real-world tie hash deref parsing regressions
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser/tests/parser_tie_interface_tests.rs
Due: none

Fix parsing of qualified indirect constructors
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser/tests/parser_regressions.rs
Due: none

test(parser-core): cover real-world tie local $/ pattern
  crates/perl-parser-core/src/engine/parser/tie_tests.rs
Due: none

Add real-world CPAN distribution corpus fixture
  crates/perl-parser/tests/corpus_gap_tests.rs
  test_corpus/real_world/cpan_distribution_patterns.pl
Due: none

Add CPAN tooling real-world corpus fixture
  crates/perl-parser/tests/corpus_gap_tests.rs
  test_corpus/README.md
  test_corpus/real_world/cpan_distribution_tooling.pl
Due: none

Add real-world CPAN release automation corpus fixture
  crates/perl-parser/tests/corpus_gap_tests.rs
  test_corpus/README.md
  test_corpus/real_world/cpan_release_automation.pl
Due: none

Add real-world CPAN corpus fixture coverage
  crates/perl-parser/tests/corpus_gap_tests.rs
  test_corpus/README.md
  test_corpus/real_world_cpan_patterns.pl
Due: none

parser: accept non-UTF8 source in perl-parse CLI
  crates/perl-parser/src/bin/perl-parse.rs
Due: parser

Fix fat-arrow bareword keys for builtin names
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser/tests/parser_regressions.rs
Due: none

Fix fat-arrow bareword keys in parenthesized call args
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/tests.rs
Due: none

Strengthen breakpoint validator edge-case assertions
  crates/perl-dap-breakpoint/tests/extended_unit_tests.rs
Due: none

strengthen workspace discovery assertions
  crates/perl-workspace-discovery/src/lib.rs
Due: none

Strengthen enhanced parser test assertions
  crates/perl-ts-advanced-parsers/src/enhanced_full_parser.rs
Due: none

test: strengthen workspace discovery assertions
  crates/perl-workspace-discovery/src/lib.rs
Due: none

test: update LSP feature capability snapshot
  crates/perl-lsp/tests/snapshots/lsp_features_snapshot_test__advertised_vs_caps.snap
Due: none

test: refresh lsp features capabilities snapshot
  crates/perl-lsp/tests/snapshots/lsp_features_snapshot_test__advertised_vs_caps.snap
Due: none

Fix hash literal arrow parsing and add mutation hardening tests (#1424)
  crates/perl-parser-core/src/engine/parser/expressions/hashes.rs
  crates/perl-parser-core/tests/hash_literal_mutation_hardening.rs
Due: none

Fix fat-arrow bareword keys for builtin names (#1437)
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser/tests/parser_regressions.rs
Due: none

Fix parsing of qualified indirect constructors (#1430)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser/tests/parser_regressions.rs
Due: none

fix(parser-core): add fallback heredoc body attachment (#1354)
  crates/perl-parser-core/src/engine/parser/heredoc.rs
Due: none

Respect lexer max_lookahead in peek helpers (#1414)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: lexer

Improve lexer support for underscored exponent literals (#1417)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: lexer

Fix single-quote quote-operator lexing in perl-lexer (#1416)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_integration_tests.rs
Due: lexer

Improve lexer Unicode identifier continuation for emoji sequences (#1415)
  crates/perl-lexer/src/unicode.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: lexer

parser: accept non-UTF8 source in perl-parse CLI (#1436)
  crates/perl-parser/src/bin/perl-parse.rs
Due: parser

Improve sandbox error context and cleanup logging (#1403)
  crates/perl-lsp/src/security/sandbox.rs
Due: lsp

Improve regex initialization error handling in navigation (#1404)
  crates/perl-lsp/src/runtime/language/navigation.rs
Due: lsp

Improve parse diagnostic error messages and ranges (#1384)
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/tests/unit_tests.rs
Due: none

Improve socket transport error handling (#1405)
  crates/perl-lsp/src/main.rs
Due: lsp

Improve transport logging context and payload previews (#1408)
  crates/perl-lsp-transport/src/framing.rs
Due: none

Improve CLI error messages for missing and invalid values (#1399)
  crates/perl-lsp-launcher/src/lib.rs
  crates/perl-lsp-launcher/tests/comprehensive_unit_tests.rs
Due: none

test(lsp): strengthen BDD rename edit assertions (#1371)
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
