Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(code-actions): remove panic-prone test helpers (#8197) (#9277)
  crates/perl-lsp-rs-core/src/providers/code_actions/code_actions.rs
Due: none

fix(parser-core): guard empty-source error classification (#8197)
  crates/perl-parser-core/src/syntax/error/classifier.rs
  crates/perl-parser-core/tests/error_classifier_tests.rs
Due: none

test(critic-parser): use must_some assertions (#0000) (#9276)
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
Due: none

test(perl-diagnostics): DRY catalog coverage tests (#8197)
  crates/perl-diagnostics/tests/catalog_coverage.rs
Due: none

fix(parser-core): guard empty-source error classification (#8197) (#9082)
  crates/perl-parser-core/src/syntax/error/classifier.rs
  crates/perl-parser-core/tests/error_classifier_tests.rs
Due: none

fix(parser): scan byte zero in find_statement_start (#8197)
  crates/perl-parser/src/ast_utils.rs
Due: parser

test(perl-diagnostics): DRY catalog coverage tests (#8197) (#9268)
  crates/perl-diagnostics/tests/catalog_coverage.rs
Due: none

refactor(corpus): replace legacy python metadata tools (#0000) (#9202)
  crates/perl-corpus/README.md
  crates/perl-corpus/src/bin/main.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/metadata_backfill.rs
  docs/policy/NON_RUST_INVENTORY.md
  tools/add_metadata.py
  tools/corpus_index.py
  tools/corpus_lint.py
Due: corpus

fix(parser): scan byte zero in find_statement_start (#8197) (#9020)
  crates/perl-parser/src/ast_utils.rs
Due: parser

refactor(gates): delegate legacy scripts to xtask (#8197) (#9201)
  scripts/README.md
  scripts/execute-gate.sh
  scripts/list-gates.py
  scripts/run-gates.sh
Due: none

docs(spec): lock receiver fallback semantics (#8197)
  docs/specs/PLSP-SPEC-0005-receiver-expression-facts.md
Due: none

sync: import source master after queue drain (#8197) (#9)
  CONTRIBUTING.md
  crates/perl-corpus/README.md
  crates/perl-corpus/src/bin/main.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/src/metadata_backfill.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-diagnostics/tests/catalog_coverage.rs
  crates/perl-lsp-perltidy/src/native.rs
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
  crates/perl-lsp-rs-core/src/providers/code_actions/code_actions.rs
  crates/perl-parser-core/src/syntax/error/classifier.rs
  crates/perl-parser-core/tests/error_classifier_tests.rs
  crates/perl-parser-pest/tests/error_and_pratt_coverage.rs
  crates/perl-parser/src/ast_utils.rs
  crates/perl-parser/tests/parser_ast_shape_expansion_tests.rs
  crates/perl-workspace/src/folder/mod.rs
  crates/perl-workspace/tests/discovery_coverage_tests.rs
  crates/perl-workspace/tests/discovery_property_tests.rs
  crates/perl-workspace/tests/workspace_folder_bdd.rs
  crates/perllsp/tests/cli_smoke.rs
  docs/policy/NON_RUST_INVENTORY.md
  justfile
  tools/add_metadata.py
  tools/corpus_index.py
  tools/corpus_lint.py
  xtask/src/main.rs
Due: parser, corpus

docs(spec): lock receiver fallback semantics (#8197) (#9542)
  docs/specs/PLSP-SPEC-0005-receiver-expression-facts.md
Due: none

docs(spec): align receiver fallback cutover wording (#8197)
  docs/specs/PLSP-SPEC-0005-receiver-expression-facts.md
Due: none

docs(spec): align receiver fallback cutover wording (#8197) (#9543)
  docs/specs/PLSP-SPEC-0005-receiver-expression-facts.md
Due: none

refactor(xtask): port swarm roster validation to rust (#0000) (#9200)
  docs/policy/NON_RUST_INVENTORY.md
  scripts/README.md
  scripts/validate_swarm_agent_roster.py
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/swarm_agent_roster.rs
Due: none

refactor(file-policy): move non-rust policy validation to xtask (#8197)
  docs/policy/NON_RUST_POLICY.md
  policy/non-rust-allowlist.toml
  scripts/policy/validate_non_rust_allowlist.py
  xtask/src/main.rs
  xtask/src/tasks/file_policy.rs
Due: none

refactor(file-policy): move non-rust policy validation to xtask (#8197) (#9199)
  docs/policy/NON_RUST_POLICY.md
  policy/non-rust-allowlist.toml
  scripts/policy/validate_non_rust_allowlist.py
  xtask/src/main.rs
  xtask/src/tasks/file_policy.rs
Due: none

feat(non-rust): surface migration candidates (#8197)
  docs/policy/NON_RUST_POLICY.md
  docs/reference/COMMANDS_REFERENCE.md
  xtask/src/main.rs
  xtask/src/tasks/file_policy.rs
Due: none

feat(non-rust): surface migration candidates (#8197) (#9196)
  docs/policy/NON_RUST_POLICY.md
  docs/reference/COMMANDS_REFERENCE.md
  xtask/src/main.rs
  xtask/src/tasks/file_policy.rs
  xtask/tests/non_rust_propose.rs
Due: none

chore(clippy): activate unnecessary_trailing_comma lint (#8608)
  Cargo.toml
  crates/perl-dap/src/variables/renderer.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
  crates/perl-incremental-parsing/tests/incremental_efficiency_tests.rs
  crates/perl-lsp-rs-core/src/features/contracts.rs
  crates/perl-lsp-rs-core/src/features/policy.rs
  crates/perl-lsp-rs-core/src/providers/navigation/definition_shadow.rs
  crates/perl-lsp-rs-core/src/providers/navigation/references_shadow.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/tests/diag_snap.rs
  crates/perl-lsp-rs/src/runtime/language/semantic_tokens_runtime_quality_tests.rs
  crates/perl-parser-comparison/tests/differential.rs
  crates/perl-parser-core/src/engine/parser/chained_deref_method_tests.rs
  crates/perl-parser-core/src/engine/parser/coderef_invocation_tests.rs
  crates/perl-parser-core/src/engine/parser/declaration_in_args_tests.rs
  crates/perl-parser-core/src/engine/parser/eval_goto_tests.rs
  crates/perl-parser-core/src/engine/parser/qualified_variable_subscript_tests.rs
  crates/perl-parser-core/src/engine/parser/typed_variable_declaration_tests.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/delimiter_recovery_tests.rs
  crates/perl-parser-core/tests/fix_else_elsif_recovery.rs
  crates/perl-parser-core/tests/fix_field_keyword_regression.rs
  crates/perl-refactoring/tests/rename_extract_coverage.rs
  crates/perl-tdd-support/tests/test_helper_coverage.rs
  crates/perl-workspace/tests/dual_indexing_tests.rs
  policy/clippy-lints.toml
Due: dap

fix(ci-hygiene): tighten print ratchet exemptions (#4907)
  crates/perl-ci-hygiene/src/main.rs
  crates/perl-ci-hygiene/tests/check_print_in_lib_test.rs
Due: none

fix(parser): ignore non-code import usages (#8197)
  crates/perl-parser/src/refactor/import_optimizer.rs
  crates/perl-parser/tests/import_optimizer_tests.rs
Due: parser

fix(diagnostics): match real Perl compiler messages in from_message; expand semantic definition tests
  crates/perl-diagnostics/src/codes/metadata.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
  crates/perl-lsp-rs/tests/semantic_definition.rs
Due: none

fix(parser): ignore non-code import usages (#8197) (#9137)
  crates/perl-parser/src/refactor/import_optimizer.rs
  crates/perl-parser/tests/import_optimizer_tests.rs
Due: parser

feat(ci-hygiene): add check-print-in-lib ratchet gate (#4907) (#9265)
  ci/print_in_lib_baseline.txt
  crates/perl-ci-hygiene/src/cli.rs
  crates/perl-ci-hygiene/src/main.rs
  crates/perl-ci-hygiene/tests/check_print_in_lib_test.rs
  crates/perl-lsp-rs-core/src/providers/navigation/type_definition.rs
  justfile
Due: none

feat(perl-token): add span helper predicates (#8197)
  crates/perl-token/src/token.rs
  crates/perl-token/tests/span_helper_tests.rs
Due: none

docs(spec): define framework fact adapter contract (#8197)
  docs/specs/PLSP-SPEC-0024-framework-fact-adapters.md
  docs/specs/README.md
  policy/framework-adapters.toml
Due: none

docs(spec): define framework fact adapter contract (#8197) (#9547)
  docs/specs/PLSP-SPEC-0024-framework-fact-adapters.md
  docs/specs/README.md
  policy/framework-adapters.toml
Due: none

docs(spec): define PIR v0 contract (#8196)
  docs/specs/PLSP-SPEC-0025-pir-v0.md
  docs/specs/README.md
Due: none

feat(perl-token): add span helper predicates (#8197) (#9132)
  crates/perl-token/src/token.rs
  crates/perl-token/tests/span_helper_tests.rs
Due: none

docs(spec): define PIR v0 contract (#8196) (#9548)
  docs/specs/PLSP-SPEC-0025-pir-v0.md
  docs/specs/README.md
Due: none

sync: import source master through #9132 (#8197) (#82)
  ci/print_in_lib_baseline.txt
  crates/perl-ci-hygiene/src/cli.rs
  crates/perl-ci-hygiene/src/main.rs
  crates/perl-ci-hygiene/tests/check_print_in_lib_test.rs
  crates/perl-lsp-rs-core/src/providers/navigation/type_definition.rs
  crates/perl-parser/src/refactor/import_optimizer.rs
  crates/perl-parser/tests/import_optimizer_tests.rs
  crates/perl-token/src/token.rs
  crates/perl-token/tests/span_helper_tests.rs
  docs/policy/NON_RUST_INVENTORY.md
  docs/policy/NON_RUST_POLICY.md
  docs/reference/COMMANDS_REFERENCE.md
  docs/specs/PLSP-SPEC-0005-receiver-expression-facts.md
  docs/specs/PLSP-SPEC-0024-framework-fact-adapters.md
  docs/specs/README.md
  justfile
  policy/framework-adapters.toml
  policy/non-rust-allowlist.toml
  scripts/README.md
  scripts/execute-gate.sh
  scripts/list-gates.py
  scripts/policy/validate_non_rust_allowlist.py
  scripts/run-gates.sh
  scripts/validate_swarm_agent_roster.py
  xtask/src/main.rs
  xtask/src/tasks/file_policy.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/swarm_agent_roster.rs
  xtask/tests/non_rust_propose.rs
Due: parser

test(diagnostics): keep Perl message mapping scoped (#9546)
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
  crates/perl-lsp-rs/tests/semantic_definition.rs
Due: none

fix(diagnostics): match real Perl compiler messages in from_message (#9546) (#9545)
  crates/perl-diagnostics/src/codes/metadata.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
Due: none

fix(dead-code): correct is_always_false docstring and rename postfix modifier constant (#9009)
  crates/perl-parser/src/dead_code/mod.rs
  crates/perl-parser/tests/dead_code_detector.rs
Due: parser

fix(dead-code): correct is_always_false docstring and rename postfix modifier constant (#9009) (#9549)
  crates/perl-parser/src/dead_code/mod.rs
  crates/perl-parser/tests/dead_code_detector.rs
Due: parser

sync: import source master through #9545 (#8197) (#84)
  crates/perl-diagnostics/src/codes/metadata.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
  docs/specs/PLSP-SPEC-0025-pir-v0.md
  docs/specs/README.md
Due: none

docs(swarm): add active lane manifest and operating model (#8197)
  .perl-lsp/goals/active.toml
  docs/swarm/operating-model.md
Due: none
