Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

fix(test): derive defaultLibrary bitmask from legend in test helper
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
Due: none

test(lsp): add contract tests for sql_string and defaultLibrary bug fixes
  crates/perl-lsp/tests/lsp_semantic_legend_contract_tests.rs
Due: none

test(protocol): strengthen legend advertisement tests with count and sql_string/defaultLibrary guards
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
Due: none

chore: apply cargo fmt to legend contract test and e2e test
  crates/perl-lsp/tests/lsp_semantic_legend_contract_tests.rs
  crates/perl-lsp/tests/lsp_semantic_tokens_e2e.rs
Due: none

chore: apply cargo fmt to capability advertisement tests
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
Due: none

review(fix-forward): improve legend comments for clarity on bitmask ordering and contract testing
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp/tests/lsp_semantic_tokens_e2e.rs
Due: none

fix(lsp): synchronize semantic token legend with capability advertisement (#2103) (#2772)
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
  crates/perl-lsp/tests/lsp_semantic_legend_contract_tests.rs
  crates/perl-lsp/tests/lsp_semantic_tokens_e2e.rs
  crates/perl-lsp/tests/snapshots/all_capabilities.json
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
Due: none

feat(lsp): emit documentation and fix containerName in workspace/symbol/resolve (#2100)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_workspace_symbol_resolve_test.rs
Due: lsp

fix(code-actions): fix 4 defects in extract variable/subroutine refactoring (#349)
  crates/perl-lsp-code-actions/src/enhanced/extract_subroutine.rs
  crates/perl-lsp-code-actions/src/enhanced/mod.rs
  crates/perl-lsp-code-actions/tests/extract_refactoring_test.rs
  crates/perl-lsp-text-utils/src/lib.rs
  crates/perl-lsp-text-utils/tests/edge_cases.rs
  crates/perl-lsp-text-utils/tests/text_edit_helpers_tests.rs
  crates/perl-lsp/src/runtime/language/code_actions.rs
Due: lsp

fix(security): fix two macOS sandbox bugs — path injection and profile file path (#2749)
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/lib.rs
  crates/perl-lsp/src/security/mod.rs
  crates/perl-lsp/src/security/sandbox.rs
Due: lsp

test(diagnostics): strengthen empty-program lint assertions in integration tests
  crates/perl-lsp-diagnostics/tests/diagnostic_integration_test.rs
Due: none

docs(articles): add Economics and Efficiency with final session data
  docs/articles/ECONOMICS_AND_EFFICIENCY.md
Due: none

fix(parser): decompose unexpected_token_in_expr — 4 sub-patterns (#2731) (#2767)
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/src/engine/parser/expressions/unary.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/fix_unexpected_token_in_expr_2731.rs
Due: none

test(diagnostics): add edge case tests for CRLF, shebang+comment, and misspelled-pragma
  crates/perl-lsp-diagnostics/src/lints/strict_warnings.rs
Due: none

fix(review): strengthen tests and fix regression in diagnostic_data_for_parse_error
  crates/perl-lsp/src/features/diagnostics/pull.rs
  crates/perl-lsp/src/main.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_workspace_file_ops_tests.rs
  crates/perl-module-rename/src/lib.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: lsp

fix(parser): fix substitution/transliteration modifier parsing (#2732)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
  crates/perl-quote/src/lib.rs
Due: lexer

test(parser): add missing edge case tests for #2732 fix
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
Due: none

test(parser): document non-arrow $h{s} as known-broken follow-up
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
Due: none

test(parser): regression tests for unexpected_rparen_expr bucket (#2751)
  crates/perl-parser-core/tests/fix_unexpected_rparen_expr.rs
Due: none

fix(parser): fix substitution/transliteration modifier parsing (#2732) (#2776)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
  crates/perl-quote/src/lib.rs
Due: lexer

fix(docs): replace HTML-unsafe <name> placeholder and trim verbose table cell in CONFIGURATION.md
  docs/reference/CONFIGURATION.md
Due: none

test: improve workspace/symbol/resolve tests with better error handling and variable coverage
  crates/perl-lsp/tests/lsp_workspace_symbol_resolve_test.rs
Due: none

test(vscode): add button-click, return-value, and empty-line edge case tests for formatting errors
  vscode-extension/src/test/formatting.test.ts
Due: none

test(devex): pin NaN, prerelease-suffix, and CRLF edge cases for compareVersions/parseLocalVersion
  vscode-extension/src/test/downloader.test.ts
Due: none

fix(vscode): strip trailing CR from CRLF error lines; clear executeCommand mock between tests
  vscode-extension/src/formattingErrors.ts
  vscode-extension/src/test/formatting.test.ts
Due: none

fix(devex): treat negative updateCheckInterval as disabled (use <= 0 not === 0)
  vscode-extension/src/downloader.ts
Due: none

fix(parser): handle optional-arg unary builtins before binary operators (#2730)
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/fix_unexpected_eq_expr.rs
Due: none

fix(parser): add ord to optional-arg unary builtin list; add tests
  crates/perl-parser-core/tests/fix_unexpected_eq_expr.rs
Due: none

test(parser): add edge case tests for optional-arg unary builtin fix
  crates/perl-parser-core/tests/fix_unexpected_eq_expr.rs
Due: none

fix(parser): handle optional-arg unary builtins before binary operators (#2730) (#2775)
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/fix_unexpected_eq_expr.rs
Due: none

fix(lsp): revert hierarchy.rs to master's single-doc API — find_supertypes_multi does not exist
  crates/perl-lsp/src/runtime/language/hierarchy.rs
Due: lsp

feat(completion): add 85 missing Perl built-in functions with docs, fix trigger chars (#2780)
  crates/perl-lsp-completion/src/completion/builtins.rs
  crates/perl-lsp-completion/tests/extended_unit_tests.rs
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
  crates/perl-lsp-semantic-tokens/tests/token_classification_tests.rs
  xtask/src/tasks/features.rs
  xtask/tests/post_merge_status_regen_tests.rs
Due: none

test(security): add combined backslash+quote escape test and clarify doc comment
  crates/perl-lsp/src/security/sandbox.rs
Due: lsp

fix(lexer): restrict whitespace-separated quote delimiters to paired chars only
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
Due: lexer

docs(extension): add missing autoPopulateNewFiles setting to 3 doc files (#2113) (#2788)
  docs/EXTENSION.md
  docs/reference/CONFIG.md
  docs/reference/CONFIGURATION.md
Due: none

feat(devex): extension auto-update version check (#2165) (#2796)
  vscode-extension/package.json
  vscode-extension/src/downloader.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/test/downloader.test.ts
Due: none

fix(devex): handle multiline output in reportIssue version extraction
  vscode-extension/src/extension.ts
Due: none

fix(devex): show diagnostic info notification before opening GitHub issue form
  vscode-extension/src/extension.ts
  vscode-extension/src/test/configuration.test.ts
Due: none

fix(devex): guard clipboard write so browser always opens on Copy action
  vscode-extension/src/extension.ts
Due: none

feat(devex): add 'Report Issue' command to extension (#2160)
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/configuration.test.ts
Due: none
