Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

docs: update CLAUDE.md and CURRENT_STATUS.md with tier structure and test metrics improvements
  CLAUDE.md
Due: none

docs: remove redundant reference to Claude Code website in guidance
  crates/perl-builtins/CLAUDE.md
Due: none

chore: fix formatting, clippy lint, and update baselines
  ci/todo_baseline.txt
  crates/tree-sitter-perl-rs/src/stateful_parser.rs
  crates/tree-sitter-perl-rs/tests/complex_heredoc_edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/modern_perl_syntax_comprehensive_tests.rs
  docs/CURRENT_STATUS.md
Due: none

fix: update corpus audit report with new generated timestamp and adjust risk categories
  corpus_audit_report.json
Due: none

Optimize regex compilation in SymbolExtractor
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

feat(vscode): improve status menu with context-aware actions
  vscode-extension/src/extension.ts
Due: none

Fix: block dangerous keywords in safe evaluation mode
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

🎨 Palette: Make Status Menu context-aware
  vscode-extension/src/extension.ts
Due: none

feat(dap): block sysopen in safe evaluation mode
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
Due: dap

Optimization: Use PHF for ScopeAnalyzer::is_known_function
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

⚡ Optimize documentation extraction performance
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

perf(semantic): optimize is_known_function with O(1) PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

feat(security): harden safe evaluation mode blocklist
  crates/perl-dap/src/debug_adapter.rs
Due: dap

feat: Improve Status Menu context awareness
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat(perf): Optimize is_known_function with PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

Fix infinite redirect vulnerability in BinaryDownloader
  vscode-extension/src/downloader.ts
Due: none

perf: Optimize symbol extraction from interpolated strings
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/string_interpolation_perf.rs
Due: none

feat(vscode): make status menu context-aware
  vscode-extension/src/extension.ts
Due: none

🛡️ Sentinel: [HIGH] Fix incomplete safe evaluation blacklist
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/safe_eval_extended_tests.rs
Due: dap

feat(vscode): improve status menu ux with context-aware actions
  vscode-extension/src/extension.ts
Due: none

Optimize is_known_function with PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

feat(vscode): improve 'Run Tests' UX in status menu
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

perf: Optimize built-in function lookup in ScopeAnalyzer
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

feat(dap): implement strict path traversal prevention in debug adapter
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/security_path_traversal.rs
  crates/perl-dap/tests/security_regression_tests.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
Due: dap

Optimize ScopeAnalyzer::is_known_function with O(1) PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/scope_perf_test.rs
Due: none

🎨 Palette: Make "Run Tests" menu item context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Fix safe evaluation bypass in perl-dap
  crates/perl-dap/src/debug_adapter.rs
Due: dap

Refactor builtin function detection to use O(1) PHF lookup
  crates/perl-builtins/src/builtin_signatures_phf.rs
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/semantic_perf_test.rs
Due: none

Sentinel: Fix Path Traversal in DAP Inline Values
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/security_regression_tests.rs
  crates/perl-dap/tests/security_repro.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
Due: dap

Cache regex compilation in `extract_vars_from_string` for performance
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/string_interpolation_perf.rs
Due: none

feat: Make Status Menu "Run Tests" context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat(vscode-extension): make 'Run Tests' command context-aware
  vscode-extension/CHANGELOG.md
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

Sentinel: [CRITICAL] Fix Safe Evaluation Bypass in Debug Adapter
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/security_repro.rs
Due: dap

feat(perf): Optimize builtin function analysis with PHF
  crates/perl-builtins/src/builtin_signatures_phf.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
  crates/perl-semantic-analyzer/tests/semantic_perf_test.rs
Due: none

feat(perf): Optimize builtin function lookup in semantic analysis
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

feat: secure perltidyConfig support
  .jules/sentinel.md
  crates/perl-lsp-formatting/src/formatting.rs
  crates/perl-lsp/src/features/formatting.rs
  crates/perl-lsp/src/runtime/language/formatting.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/src/state/config.rs
Due: lsp

feat(vscode): make "Run Tests" status menu item context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

⚡ Bolt: Optimize interpolated string symbol extraction
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/string_interpolation_perf.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
