Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

docs(readme): replace deprecated VS Marketplace badge
  README.md
  docs/project/VSCODE_MARKETPLACE_PUNCH_LIST.md
Due: none

docs(vscode): replace deprecated marketplace installs badge
  README.md
  docs/assets/badges/vscode-marketplace-installs.svg
  docs/project/VSCODE_MARKETPLACE_PUNCH_LIST.md
Due: none

docs(vscode): replace deprecated marketplace badges with manual badge
  README.md
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
Due: none

docs(readme): replace deprecated VS Marketplace badge
  README.md
  assets/badges/vs-marketplace-installs.svg
Due: none

docs: update VSCODE_MARKETPLACE_PUNCH_LIST.md for deprecated Shields badge
  docs/project/VSCODE_MARKETPLACE_PUNCH_LIST.md
Due: none

fix(review): rustfmt violations and docs.rs rustdoc-args typo
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-formatting/Cargo.toml
  crates/perl-lsp-formatting/src/formatting.rs
  crates/perl-lsp/src/runtime/language/formatting.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix: update downstream crate tests for formatting enablement (#4313)
  crates/perl-lsp-feature-governance/src/lib.rs
  crates/perl-lsp-feature-governance/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-policy/src/lib.rs
  crates/perl-lsp-feature-policy/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-policy/tests/extended_unit_tests.rs
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
Due: none

refactor(import): consolidate Codex ensemble improvements for require+import
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
  crates/perl-semantic-analyzer/tests/require_import_resolution.rs
Due: lsp

fix: resolve clippy warnings and rustfmt issues in PullDiagnosticsProvider (#4312)
  crates/perl-lsp/src/features/diagnostics/mod.rs
  crates/perl-lsp/src/features/diagnostics/pull.rs
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/mod.rs
Due: lsp

chore: update test status after adding require+import tests
  docs/project/status/tests.md
Due: none

feat: wire perltidy profile configuration to formatter (#4315) (#4323)
  .perl-lsp.toml.example
  Cargo.lock
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-formatting/Cargo.toml
  crates/perl-lsp-formatting/src/formatting.rs
  crates/perl-lsp-formatting/src/lib.rs
  crates/perl-lsp/src/features/formatting.rs
  crates/perl-lsp/src/runtime/language/formatting.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

feat: implement PullDiagnosticsProvider for production use (#4312) (#4324)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/features/diagnostics/mod.rs
  crates/perl-lsp/src/features/diagnostics/pull.rs
  crates/perl-lsp/src/runtime/constructors.rs
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/tests/snapshots/lsp_pull_diagnostics_snapshot_test__workspace_diagnostic_reports.snap
Due: lsp

docs(vscode): replace deprecated VS Marketplace badges with static equivalents (#4329) (#4327)
  README.md
  docs/project/VSCODE_MARKETPLACE_PUNCH_LIST.md
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
Due: none

feat(import): unify require+import analysis across resolution and completion (#3476) (#4321)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/tests/import_map_tests.rs
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
  crates/perl-semantic-analyzer/tests/require_import_resolution.rs
  docs/project/status/tests.md
Due: lsp

feat: enable formatting in production builds (#4313) (#4322)
  crates/perl-lsp-feature-flags/src/lib.rs
  crates/perl-lsp-feature-flags/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-flags/tests/extended_unit_tests.rs
  crates/perl-lsp-feature-governance/src/lib.rs
  crates/perl-lsp-feature-governance/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-policy/src/lib.rs
  crates/perl-lsp-feature-policy/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-policy/tests/extended_unit_tests.rs
  crates/perl-lsp-protocol/tests/capability_advertisement_tests.rs
Due: none

fix(ci): regenerate LSP capability snapshots and remove internal badge notes (#4309)
  README.md
  crates/perl-lsp/tests/snapshots/capability_profile_feature_ids.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
  vscode-extension/README.md
Due: none

chore: regenerate parser status metrics
  docs/project/status/parser.md
Due: none

fix(ci): regenerate LSP capability snapshots after formatting feature (#4309)
  README.md
  crates/perl-lsp/tests/snapshots/capability_profile_feature_ids.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
  docs/project/status/parser.md
  vscode-extension/README.md
Due: none

test(perl-dap): add tests for detect_perl_info and launch error remediation (#4192)
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

style(perl-dap): apply xtask fmt to test code in process.rs
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

test(dap): add launch error detection tests (#4192)
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

feat(module-resolution): add position-aware lexical @INC resolution (#4067)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution/src/use_lib.rs
Due: lsp

test(ux): add absolute includePaths @INC conformance mode (#4067)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
  docs/reference/UX_TESTING.md
Due: none

test(module-resolution): add absolute include root conformance cell (#4067)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
  docs/reference/UX_TESTING.md
Due: none

test(module-resolution): add absolute includePaths conformance fixture (#4067)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
Due: none

docs: add release history surface with backfilled ledger and per-release notes
  CHANGELOG.md
  RELEASE.md
  RELEASE_HISTORY.md
  docs/releases/v0.11.0.md
  docs/releases/v0.12.0.md
  docs/releases/v0.12.1.md
  docs/releases/v0.12.2.md
  docs/releases/v0.12.3.md
  docs/releases/v0.12.4.md
  docs/releases/v0.8.3.md
  docs/releases/v0.8.5.md
  docs/releases/v0.9.1.md
Due: none

fix(ci): replace cargo fmt --all with cargo xtask fmt across all surfaces (#4229)
  .claude/commands/coding-standards.md
  .claude/commands/parser-fix.md
  .claude/commands/pr-respond.md
  .claude/commands/scout-test-spec.md
  .claude/commands/worktree-pr.md
  .claude/hooks/task-completed.sh
  .claude/skills/scout-issue/SKILL.md
  .github/ISSUE_TEMPLATE/scout_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/rust-checks/action.yml
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  crates/perl-ci-hygiene/src/main.rs
  hooks/pre-push
  scripts/gate-local.sh
  scripts/production-gates-validation.sh
Due: none

docs: backfill pre-0.11.0 release notes, fix CHANGELOG dates, update version refs
  CHANGELOG.md
  README.md
  RELEASE_HISTORY.md
  docs/project/CURRENT_STATUS.md
  docs/project/ROADMAP.md
  docs/releases/v0.10.0.md
  docs/releases/v0.8.8.md
  docs/releases/v0.9.0.md
Due: none

docs(releases): add DemoSwarm context to v0.8.8 release notes
  docs/releases/v0.8.8.md
Due: none

test(module-resolution): add absolute includePaths conformance fixture (#4067)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
  docs/reference/UX_TESTING.md
Due: none

docs: clarify "public alpha" is announcement status, not visibility change
  RELEASE_HISTORY.md
  docs/releases/v0.12.0.md
  docs/releases/v0.12.1.md
  docs/releases/v0.12.3.md
Due: none

docs: reframe public alpha as platform availability, not announcement
  RELEASE_HISTORY.md
  docs/releases/v0.12.0.md
  docs/releases/v0.12.3.md
Due: none

fix(ci): replace cargo fmt --all with cargo xtask fmt across all surfaces (#4229) (#4338)
  .claude/commands/coding-standards.md
  .claude/commands/parser-fix.md
  .claude/commands/pr-respond.md
  .claude/commands/scout-test-spec.md
  .claude/commands/worktree-pr.md
  .claude/hooks/task-completed.sh
  .claude/skills/scout-issue/SKILL.md
  .github/ISSUE_TEMPLATE/scout_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/rust-checks/action.yml
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  crates/perl-ci-hygiene/src/main.rs
  hooks/pre-push
  scripts/gate-local.sh
  scripts/production-gates-validation.sh
Due: none

feat(module-resolution): add position-aware lexical @INC resolution (#4067) (#4333)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution/src/use_lib.rs
  docs/project/status/module_resolution.md
  docs/reference/UX_TESTING.md
Due: lsp

docs: add release history surface with backfilled ledger (#4339) (#4337)
  CHANGELOG.md
  README.md
  RELEASE.md
  RELEASE_HISTORY.md
  docs/project/CURRENT_STATUS.md
  docs/project/ROADMAP.md
  docs/releases/v0.10.0.md
  docs/releases/v0.11.0.md
  docs/releases/v0.12.0.md
  docs/releases/v0.12.1.md
  docs/releases/v0.12.2.md
  docs/releases/v0.12.3.md
  docs/releases/v0.12.4.md
  docs/releases/v0.8.3.md
  docs/releases/v0.8.5.md
  docs/releases/v0.8.8.md
  docs/releases/v0.9.0.md
  docs/releases/v0.9.1.md
Due: none

fix(security): resolve RUSTSEC-2026-0097 by bumping rand 0.9.2 → 0.9.4 (#4149)
  .ci/gate-policy.yaml
  .github/workflows/ci-security.yml
  Cargo.lock
  justfile
Due: none

refactor(xtask): split update_status.rs into per-subsystem modules (#4174)
  xtask/src/tasks/update_status.rs
  xtask/src/tasks/update_status/dap.rs
  xtask/src/tasks/update_status/lsp.rs
  xtask/src/tasks/update_status/mod.rs
  xtask/src/tasks/update_status/parser.rs
  xtask/src/tasks/update_status/quality.rs
  xtask/src/tasks/update_status/tests.rs
  xtask/src/tasks/update_status/workspace.rs
  xtask/tests/post_merge_status_regen_tests.rs
Due: none

feat(benchmark): add real-project latency suite with 3 project baselines (#4196)
  .ci/GATE_REGISTRY.toml
  .ci/metrics/real_project_latency.json
  crates/perl-lsp/tests/real_project_latency.rs
  docs/how-to/BENCHMARKING.md
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Action.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Component.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Controller.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Dispatcher.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Exception.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Log.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Request.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Response.pm
  test_corpus/real_projects/catalyst_skeleton/lib/Catalyst/Utils.pm
  test_corpus/real_projects/catalyst_skeleton/t/basic.t
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Core/App.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Core/DSL.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Core/Request.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Core/Response.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Core/Runner.pm
  test_corpus/real_projects/dancer2_skeleton/lib/Dancer2/Plugin.pm
  test_corpus/real_projects/dancer2_skeleton/t/basic.t
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojo/Base.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojo/EventEmitter.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Commands.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Controller.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Log.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Plugins.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Renderer.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Routes.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Sessions.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Static.pm
  test_corpus/real_projects/mojolicious_skeleton/lib/Mojolicious/Types.pm
  test_corpus/real_projects/mojolicious_skeleton/t/basic.t
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
