Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Improve parser declaration attribute handling
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/src/engine/parser/tests.rs
Due: none

Improve transliteration delimiter parsing
  crates/perl-parser/tests/integration_new_features.rs
  crates/perl-quote/src/lib.rs
  crates/perl-quote/tests/comprehensive_unit_tests.rs
Due: none

Fix stale lexer prototype mode after sub heads
  crates/perl-lexer/src/lib.rs
Due: lexer

Fix perl-lexer peek/reset state restoration
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: lexer

Improve perl-lexer word operator tokenization
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
Due: lexer

Improve qualified calls in pest parser
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/pure_rust_parser.rs
Due: none

Improve pest postfix modifier parsing
  crates/perl-parser-pest/src/pure_rust_parser.rs
Due: none

docs: improve repository readme
  README.md
Due: none

docs: improve root readme
  README.md
Due: none

Improve VS Code server recovery
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/downloader.ts
  vscode-extension/src/extension.ts
Due: none

Improve VS Code extension recovery workflow
  vscode-extension/package.json
  vscode-extension/src/downloader.ts
  vscode-extension/src/extension.ts
Due: none

Improve VS Code server recovery flow
  docs/EXTENSION.md
  vscode-extension/package.json
  vscode-extension/src/downloader.ts
  vscode-extension/src/extension.ts
Due: none

Improve Open VSX extension release flow
  vscode-extension/CHANGELOG.md
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
  vscode-extension/package.json
Due: none

Improve Open VSX extension publishing
  .github/workflows/publish-extension.yml
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
Due: none

Improve Open VSX extension publishing
  .github/workflows/publish-extension.yml
  vscode-extension/CHANGELOG.md
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
  vscode-extension/package.json
Due: none

Stabilize perl-lsp cancellation latency assertion
  crates/perl-lsp/tests/lsp_cancellation_protocol_tests.rs
Due: none

Fix VS Code client refresh behavior
  vscode-extension/src/extension.ts
Due: none

Fix Open VSX publish validation
  .github/workflows/publish-extension.yml
  CONTRIBUTING.md
  vscode-extension/PUBLISHING.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
Due: none

Tighten qualified class-name parsing
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/parser_tests.rs
Due: none

test(tree-sitter-perl): align parser contract suites
  crates/perl-parser/tests/performance_stress_edge_cases.rs
  crates/tree-sitter-perl-rs/tests/additional_edge_cases_tests.rs
  crates/tree-sitter-perl-rs/tests/all_features_tests.rs
  crates/tree-sitter-perl-rs/tests/comprehensive_feature_tests.rs
  crates/tree-sitter-perl-rs/tests/edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/integration_tests.rs
  crates/tree-sitter-perl-rs/tests/new_features_tests.rs
  crates/tree-sitter-perl-rs/tests/unicode_heredoc_tests.rs
Due: none

test(tree-sitter-perl): tighten contract regression checks
  crates/tree-sitter-perl-rs/tests/comprehensive_feature_tests.rs
  crates/tree-sitter-perl-rs/tests/edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/integration_tests.rs
Due: none

fix(lsp): preserve scheduler ordering and stabilize tests
  crates/perl-lsp-cancellation/tests/cancellation_bdd.rs
  crates/perl-lsp-providers/tests/comprehensive_unit_tests.rs
  crates/perl-lsp/src/runtime/language/code_actions.rs
  crates/perl-lsp/src/runtime/scheduler.rs
  crates/perl-lsp/tests/cancellation_atomic_operations_hardening.rs
  crates/perl-lsp/tests/common/timeout_scaler.rs
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
  crates/perl-lsp/tests/lsp_cancellation_protocol_tests.rs
  crates/perl-lsp/tests/lsp_init_torture_test.rs
  crates/perl-lsp/tests/lsp_malformed_frames_test.rs
  crates/perl-lsp/tests/lsp_semantic_tokens_e2e.rs
  crates/perl-lsp/tests/lsp_window_tests.rs
  crates/perl-lsp/tests/moo_semantics_e2e.rs
  crates/perl-lsp/tests/rope_performance_test.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  crates/perl-lsp/tests/workspace_exclusion_test.rs
  crates/perl-workspace-index/tests/production_readiness_tests.rs
Due: lsp

fix(dap): harden debugger smoke and timeout handling
  crates/perl-dap/src/debug_adapter/evaluation.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
Due: dap

fix(parser): tighten deref parsing and coverage receipts
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/tests.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser/tests/bless_parsing_tests.rs
  crates/perl-parser/tests/builtin_empty_blocks_test.rs
  crates/perl-parser/tests/nodekind_combination_control_flow.rs
  crates/perl-parser/tests/nodekind_combination_data_structures.rs
  crates/perl-parser/tests/nodekind_combination_error_handling_edge_cases.rs
  crates/perl-parser/tests/nodekind_combination_io_operations.rs
  crates/perl-parser/tests/nodekind_combination_modern_perl_features.rs
  crates/perl-parser/tests/nodekind_combination_regex_pattern_matching.rs
  crates/perl-parser/tests/parser_boundary_validation_tests.rs
  crates/perl-parser/tests/parser_concurrent_access_tests.rs
  crates/perl-parser/tests/parser_continue_redo_tests.rs
  crates/perl-parser/tests/parser_memory_pressure_tests.rs
  crates/perl-parser/tests/parser_performance_boundary_tests.rs
  crates/perl-parser/tests/parser_resource_exhaustion_tests.rs
  crates/perl-parser/tests/postfix_deref_test.rs
  crates/perl-parser/tests/semantic_nodekind_coverage_tests.rs
  crates/perl-parser/tests/statement_termination_edge_cases_mutation_hardening.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-text-line/tests/text_line_bdd.rs
  crates/perl-ts-advanced-parsers/src/context_aware_parser.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/tests/parser_tests.rs
  crates/tree-sitter-perl-rs/tests/pure_rust_parser_tests.rs
  crates/tree-sitter-perl-rs/tests/test_missing_edge_cases.rs
  crates/tree-sitter-perl-rs/tests/test_real_world_heredocs.rs
  crates/tree-sitter-perl-rs/tests/test_stacker_fix.rs
  docs/project/CURRENT_STATUS.md
  justfile
Due: none

feat(vscode): add Open VSX keywords and changelog entry
  vscode-extension/CHANGELOG.md
  vscode-extension/package.json
Due: none

feat(vscode): add trace support and config change detection
  vscode-extension/src/extension.ts
Due: none

Improve LSP async read scheduling
  crates/perl-lsp/src/runtime/scheduler.rs
Due: lsp

chore(corpus): ratchet CPAN baseline after parser merges
  .ci/cpan-corpus-baseline.json
  .ci/cpan-corpus-manifest.txt
Due: none

docs: incorporate TOC and step-by-step quick start
  README.md
Due: none

Improve LSP snapshot coverage
  crates/perl-lsp/tests/lsp_features_snapshot_test.rs
  crates/perl-lsp/tests/snapshots/lsp_features_snapshot_test__advertised_vs_caps.snap
Due: none

docs: improve onboarding guidance
  README.md
  docs/reference/FAQ.md
  docs/tutorials/GETTING_STARTED.md
Due: none

test: improve xtask BDD coverage
  xtask/src/tasks/features.rs
Due: none

fix: normalize xtask corpus sweep error buckets
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

Improve lexer version string tokenization
  crates/perl-lexer/src/lib.rs
Due: lexer

chore(status): update test count after v-string lexer tests
  docs/project/CURRENT_STATUS.md
Due: none

fix(lexer): resolve CI failure in prototype mode fix
  crates/perl-lexer/src/lib.rs
  docs/project/CURRENT_STATUS.md
Due: lexer

feat(completion): add regex literal completion for patterns inside /…/, m/…/, qr/…/
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/regex_patterns.rs
Due: none

fix(parser): handle ternary after named-unary operators in statement context
  crates/perl-parser-core/src/engine/parser/expressions/precedence.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/named_unary_ternary_tests.rs
Due: none
