Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(perl-uri): normalize legacy UNC paths in uri_key (#0000) (#7253)
  crates/perl-uri/src/classify.rs
Due: none

fix(fmt): remove extra blank line in devex_doctor.rs
  xtask/src/tasks/devex_doctor.rs
Due: none

fix(review): document why build_context inlines workspace root logic instead of using helper
  crates/perl-lsp-rs/src/runtime/diagnostics.rs
Due: none

fix(xtask): require executable commands in devex doctor (#0000) (#7217)
  xtask/src/tasks/devex_doctor.rs
Due: none

fix(xtask): add detailed output to list-commands (#0000) (#7219)
  xtask/src/main.rs
Due: none

fix(devex): fail fast when just is missing (#0000) (#7220)
  scripts/run-gates.sh
Due: none

chore(devex): clarify base-ref hint for targeted checks (#0000) (#7221)
  justfile
Due: none

fix(perl-dap): restore exact 3-line bounds in namespace-qualifier tests
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(fmt): apply cargo fmt to PR #7246 import_optimizer.rs
  crates/perl-refactoring/src/refactor/import_optimizer.rs
Due: none

fix(fmt): apply cargo fmt to PR #7248 workspace_rename.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
Due: none

fix(fmt): apply cargo fmt to PR #7249 workspace_rename_tests.rs
  crates/perl-refactoring/tests/workspace_rename_tests.rs
Due: none

test(review): add Windows drive-letter path edge case to critic_parser
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
Due: none

refactor(perl-refactoring): cache static import-analysis regexes (#0000) (#7246)
  crates/perl-refactoring/src/refactor/import_optimizer.rs
Due: none

test(perl-refactoring): strengthen package scoped rename coverage (#0000) (#7247)
  crates/perl-refactoring/src/refactor/scoped_rename_tests.rs
Due: none

fix(perl-refactoring): support legacy package qualifiers in workspace rename (#0000) (#7248)
  crates/perl-refactoring/src/refactor/workspace_rename.rs
Due: none

test(perl-refactoring): use canonical file URLs in workspace rename tests (#0000) (#7249)
  crates/perl-refactoring/tests/workspace_rename_tests.rs
Due: none

fix(review): return undefined from resolvePerlcriticProfilePath when no workspace
  vscode-extension/src/onboarding.ts
  vscode-extension/src/test/onboarding.test.ts
Due: none

fix(fmt): apply cargo fmt to inline_values.rs after regex changes
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(perlcritic): use doc-scoped workspace root for profile resolution (#0000) (#7237)
  crates/perl-lsp-rs/src/runtime/diagnostics.rs
Due: none

fix(perl-lsp-rs-core): harden perlcritic parser whitespace handling (#0000) (#7235)
  crates/perl-lsp-rs-core/src/critic_parser/mod.rs
Due: none

fix(vscode-extension): resolve relative perlcritic profiles in health check (#0000) (#7234)
  vscode-extension/src/onboarding.ts
  vscode-extension/src/test/onboarding.test.ts
Due: none

fix(fmt): apply cargo fmt to process.rs after interpreter changes
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

fix(perl-dap): deduplicate overlapping inline variable matches (#0000) (#7242)
  crates/perl-dap/src/inline_values.rs
Due: dap

feat(perl-dap): honor launch perl interpreter override (#0000) (#7243)
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

refactor(perl-dap): prefer first capture access in inline values (#0000) (#7244)
  crates/perl-dap/src/inline_values.rs
Due: dap

feat(perl-dap): support main namespace inline variables (#0000) (#7245)
  crates/perl-dap/src/inline_values.rs
Due: dap

test(tree-sitter-perl-rs): cover Tree::walk root cursor behavior (#0000)
  crates/tree-sitter-perl-rs/src/lib.rs
Due: none

fix(tree-sitter-perl-rs): avoid panic on stale cursor paths (#0000)
  crates/tree-sitter-perl-rs/src/lib.rs
Due: none

test(perl-lexer): strengthen eviction assertion to pin full contract
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

test(perl-lsp-rs-core): add use strictures edge case for RequireUseStrict (#7241)
  crates/perl-lsp-rs-core/src/tooling/perl_critic/built_in.rs
Due: none

fix(perl-lsp-rs-core): pass policy_code not raw code to fix_parse_error (#7239)
  crates/perl-lsp-rs-core/src/providers/code_actions/code_actions.rs
Due: none

fix(perl-lsp-rs-core): strip trailing newline from range fallback new_text
  crates/perl-lsp-rs-core/src/providers/formatting/formatting.rs
Due: none

test(perl-lsp-perltidy): add profile-with-no-extra-args boundary test
  crates/perl-lsp-perltidy/tests/config_tests.rs
Due: none

feat(perl-corpus): include .plx fixtures in corpus discovery (#0000) (#7208)
  crates/perl-corpus/src/files.rs
Due: corpus

test(perl-lsp-perltidy): add boundary tests for trailing newline preservation
  crates/perl-lsp-perltidy/tests/config_tests.rs
Due: none

fix(perl-lexer): resolve clippy map_or lint in checkpoint test (#0000) (#7209)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

fix(perl-lsp-rs-core): support fully-qualified perlcritic aliases (#0000) (#7239)
  crates/perl-lsp-rs-core/src/providers/code_actions/code_actions.rs
Due: none

fix(perl-lsp-rs-core): harden built-in use statement detection (#0000) (#7241)
  crates/perl-lsp-rs-core/src/tooling/perl_critic/built_in.rs
Due: none

test(perl-lsp-perltidy): add boundary test for minimum valid timeout value
  crates/perl-lsp-perltidy/tests/config_tests.rs
Due: none

refactor(perl-dap): prefer first capture access in inline values (#0000)
  crates/perl-dap/src/inline_values.rs
Due: dap

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
