Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(lsp): wire perl-incremental-parsing into text sync handler (#2289)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/state/document.rs
Due: lsp

review(completion): strengthen test_use_statement_context_with_prefix with kind check
  crates/perl-lsp-completion/src/completion.rs
Due: none

review(lsp): strengthen diagnostic_data tests — hard assert for PL100 and fixable=false coverage
  crates/perl-lsp/src/features/diagnostics/pull.rs
Due: lsp

feat(hover): add tied variable class display and tie magic method docs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/semantic_hover.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/tests/tied_variable_hover_tests.rs
Due: lsp

test(parser): add regression guards for :: operator side-effects
  crates/perl-parser-core/tests/fix_main_stash_access.rs
Due: none

test(parser): add @:: coverage to main stash tests
  crates/perl-parser-core/tests/fix_main_stash_access.rs
Due: none

feat(lsp): add commit_characters to CompletionItem and wire both handlers (#2597)
  crates/perl-lsp-completion-item/src/lib.rs
  crates/perl-lsp-completion-item/tests/dedup_sort.rs
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/builtins.rs
  crates/perl-lsp-completion/src/completion/functions.rs
  crates/perl-lsp-completion/src/completion/keywords.rs
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp-completion/src/completion/packages.rs
  crates/perl-lsp-completion/src/completion/regex_patterns.rs
  crates/perl-lsp-completion/src/completion/snippets.rs
  crates/perl-lsp-completion/src/completion/test_more.rs
  crates/perl-lsp-completion/src/completion/variables.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp-file-completion/src/lib.rs
  crates/perl-lsp/src/runtime/language/completion.rs
  crates/perl-lsp/tests/lsp_completion_tests.rs
Due: lsp

feat(lsp): enrich die/warn hover docs and add croak modernize action
  crates/perl-builtins/src/builtin_signatures.rs
  crates/perl-lsp-code-actions/src/modernize.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
  crates/perl-semantic-analyzer/tests/die_warn_exception_context_tests.rs
Due: none

test(linked-editing): strengthen backward-scan test coverage
  crates/perl-lsp-providers/tests/comprehensive_unit_tests.rs
Due: none

test(dap): add edge case tests for setup_environment — duplicate paths and empty-string path
  crates/perl-dap-platform/tests/comprehensive_unit_tests.rs
Due: none

feat(completion): add 13 regex operator snippets to SNIPPETS array
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

feat(lsp): populate Diagnostic.data field for client integration (#2592)
  crates/perl-lsp/src/features/diagnostics/pull.rs
Due: lsp

fix(parser): handle $::{key} main stash access (#2601)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/fix_main_stash_access.rs
Due: lexer

review(completion): fix two vacuous tests, strengthen require kind check, add semicolon edge case
  crates/perl-lsp-completion/src/completion.rs
Due: none

fix(parser): recover inline from missing semicolons in C-style for loops (#2593)
  crates/perl-parser-core/src/engine/parser/control_flow.rs
  crates/perl-parser-core/tests/fix_expected_semicolon_for_loop.rs
Due: none

review(lsp): add UTF-16 edge case test and tracing for incremental fallback
  crates/perl-lsp/src/runtime/text_sync.rs
Due: lsp

fix(dap): promote dap-phase3 to default and satisfy AC18/AC19 test assertions (#2588)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/README.md
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_packaging_tests.rs
Due: none

fix(completion): remove invalid placeholder in qrbasic snippet
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

test(completion): add assertions for all 13 regex snippets
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

chore(logos-lexer): archive broken logos experiment, remove chumsky dep
  Cargo.lock
  crates/perl-ts-logos-lexer/Cargo.toml
  crates/perl-ts-logos-lexer/src/lib.rs
  crates/perl-ts-logos-lexer/src/logos_lexer.rs
  crates/perl-ts-logos-lexer/src/token_parser.rs
  crates/tree-sitter-perl-rs/Cargo.toml
  crates/tree-sitter-perl-rs/src/lib.rs
Due: none

chore(dap): remove setup_environment duplication and fix ghost dep (#2602)
  Cargo.lock
  crates/perl-dap-platform/Cargo.toml
  crates/perl-dap-platform/tests/comprehensive_unit_tests.rs
  crates/perl-dap-shell/Cargo.toml
  crates/perl-dap-shell/src/lib.rs
Due: none

fix(linked-editing): fix depth underflow panic in backward bracket scan (#2603)
  crates/perl-lsp-providers/src/ide/lsp_compat/linked_editing.rs
  crates/perl-lsp-providers/tests/comprehensive_unit_tests.rs
Due: none

feat(swarm): add research-verifier pipeline stage between scout and plan-review
  .claude/agents/research-verifier.md
  .claude/commands/research-comment.md
  .claude/commands/research-read-issue.md
  .claude/commands/research-verify-api.md
  .claude/commands/research-verify-perl.md
  .claude/commands/research-verify-spec.md
  .claude/commands/swarm.md
  CLAUDE.md
Due: none

test(parser): add edge case coverage for send indirect-object fixes
  crates/perl-parser-core/tests/fix_send_edge_cases.rs
Due: none

fix(research-verifier): ensure label creation is idempotent and self-contained
  .claude/commands/research-comment.md
Due: none

review(lsp): strengthen incremental_doc assertions to catch silent reinit-instead-of-apply bugs
  crates/perl-lsp/src/runtime/text_sync.rs
Due: lsp

feat(tooling): decompose unexpected_token_in_expr catch-all — 17 new buckets
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

review(lsp): add edge case tests for empty contentChanges and end-of-document insert
  crates/perl-lsp/src/runtime/text_sync.rs
Due: lsp

fix(research-verifier): update AGENT_CATALOG, lead-discovery routing, and comment scope guard
  .claude/agents/AGENT_CATALOG.md
  .claude/agents/lead-discovery.md
  .claude/commands/research-comment.md
Due: none

test(completion): strengthen regex snippet tests — cover all 13 triggers and verify body syntax
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

fix(parser): add RightParen/RightBracket terminators for indirect call arg loop (#2591)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_indirect_call_rparen_rbracket.rs
  crates/perl-parser-core/tests/fix_send_edge_cases.rs
Due: none

test(completion): add 7 tests for use/require module name completion (#2604)
  crates/perl-lsp-completion/src/completion.rs
Due: none

feat(hover): add tied variable class display and tie magic method docs (#2609)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/semantic_hover.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/tests/tied_variable_hover_tests.rs
Due: lsp

review: add rustdoc examples, refine action title, document false-negative edge case
  crates/perl-lsp-code-actions/src/modernize.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  target
Due: none

feat(swarm): research-verifier agent — cheap fact verification between scout and plan-review (#2610)
  .claude/agents/AGENT_CATALOG.md
  .claude/agents/lead-discovery.md
  .claude/agents/research-verifier.md
  .claude/commands/research-comment.md
  .claude/commands/research-read-issue.md
  .claude/commands/research-verify-api.md
  .claude/commands/research-verify-perl.md
  .claude/commands/research-verify-spec.md
  .claude/commands/swarm.md
  CLAUDE.md
Due: none

fix(parser): handle fat-arrow pairs as ternary branch expressions (#2402)
  crates/perl-parser-core/src/engine/parser/expressions/precedence.rs
  crates/perl-parser-core/tests/fix_fat_arrow_ternary_branch.rs
Due: none

fix(code-actions): handle die() parens and multiline or/|| die forms
  crates/perl-lsp-code-actions/src/modernize.rs
Due: none

feat(completion): add 13 regex operator snippets (#2607)
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

feat(lsp): add POD =head symbols to document outline (issue #2341)
  crates/perl-lsp/src/runtime/language/symbols.rs
  crates/perl-lsp/tests/lsp_document_symbols_test.rs
Due: lsp
