Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ci: quarantine security_audit gate — cargo-audit ecosystem breakage
  .ci/debt-ledger.yaml
  .ci/gate-policy.yaml
Due: none

fix: resolve four pre-existing CI gate failures blocking merge
  .ci/debt-ledger.yaml
  crates/perl-lsp-rs/tests/lsp_completion_tests.rs
  crates/perl-parser/src/refactor/refactoring.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: parser

fix(vscode-extension): improve Termux binary handling (#0000)
  vscode-extension/src/downloader.ts
  vscode-extension/src/test/downloader.test.ts
Due: none

feat(vscode): detect common Perl project files (#0000)
  vscode-extension/package.json
  vscode-extension/src/test/packageManifest.test.ts
Due: none

feat(perl-symbol): handle signature parameters in SymbolRef extraction (#6395)
  crates/perl-symbol/src/surface/ref.rs
  crates/perl-symbol/tests/surface_refs.rs
Due: none

fix(vscode-extension): check isTermuxEnvironment before isAndroidEnvironment in getPlatformTarget
  vscode-extension/src/downloader.ts
Due: none

fix(symbol_extraction): restore full-equality for package comparisons
  crates/perl-lsp-rs/src/runtime/symbol_extraction.rs
Due: none

fix(path_security): remove dead workspace_root param from resolve_completion_base_directory
  crates/perl-parser-core/src/syntax/path_security.rs
Due: none

fix(file_completion): update resolve_completion_base_directory call after signature change
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
Due: none

feat(editor-intelligence): add document-symbol gold fixture lane (#5154)
  crates/perl-corpus/src/gold.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-lsp-rs/tests/editor_intelligence_scorecard.rs
  test_corpus/gold/symbols_subs_and_pkg/expected.json
  test_corpus/gold/symbols_subs_and_pkg/expected_symbols.json
  test_corpus/gold/symbols_subs_and_pkg/fixture.pl
Due: corpus

chore: normalize checkpoint.rs line endings (xtask fmt artifact)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

feat(semantic): refine lexical-scope completion ranking by hop count (#6611)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/functions.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/scope_distance.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/variables.rs
Due: none

feat(perl-symbol): handle signature parameters in SymbolRef extraction (#7007)
  crates/perl-symbol/src/surface/ref.rs
  crates/perl-symbol/tests/surface_refs.rs
Due: none

feat(vscode): detect common Perl project files (#7006)
  vscode-extension/package.json
  vscode-extension/src/test/packageManifest.test.ts
Due: none

feat(installer): add ARM source-build fallback (#7003)
  scripts/install.sh
Due: none

test: expand Perl 5.36 features test corpus with detailed AST nodes (#7002)
  tree-sitter-perl/test/corpus/perl-5-36-features.txt
Due: none

docs(editors): add OpenCode setup guide (#7000)
  docs/EDITORS/OPENCODE_SETUP.md
  docs/how-to/EDITOR_SETUP.md
Due: none

docs(agents): mention Claude Code in onboarding docs (#6997)
  AGENTS.md
  README.md
Due: none

fix(lsp): apply formatting to capabilities.rs and checkpoint.rs
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: lexer

fix(perl-parser): clarify test_cleanup_respects_retention_count backup directory scope (#7004)
  crates/perl-parser/src/refactor/refactoring.rs
Due: parser

fix(test): isolate test_cleanup_respects_retention_count from shared temp dir (#6770)
  crates/perl-parser/src/refactor/refactoring.rs
Due: parser

fix(inlay-hints): use char_indices() to fix byte-offset position mapping for multi-byte UTF-8 (#6770)
  crates/perl-lsp-rs/src/features/inlay_hints_provider.rs
Due: none

fix(inlay-hints+dap): UTF-16 col counting and clippy match_result_ok (#6770)
  crates/perl-lsp-rs/src/features/inlay_hints_provider.rs
Due: none

fix(ci-hygiene): update unwrap/panic ratchet for moved heredoc module
  ci/unwrap_prod_baseline.txt
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(xtask): handle detached HEAD in PR runs (#7015)
  xtask/src/tasks/gates.rs
Due: none

fix(test): revert bad cherry-pick conflict resolution in test_cleanup_respects_retention_count
  crates/perl-parser/src/refactor/refactoring.rs
Due: parser

fix(xtask): stabilize criterion mean selection (#0000)
  xtask/src/tasks/bench.rs
Due: none

Improve LSP UX scorecard: add symbol metric to library, expand test coverage
  crates/perl-lsp-ux-tests/src/scorecard.rs
  xtask/src/tasks/ux_scorecard.rs
Due: none

fix(xtask): use path components for OS-agnostic bench name matching
  xtask/src/tasks/bench.rs
Due: none

fix(perl-semantic-analyzer): refresh Cargo.lock to add proptest dev-dep entry
  Cargo.lock
Due: none

fix(fmt): update comprehensive_unit_tests.rs to pass rustfmt check (#7017)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(rename): resolve merge conflict in apply.rs test file
  crates/perl-lsp-rs-core/src/providers/rename/apply.rs
Due: none

fix(fmt): add missing blank line in perl-pragma comprehensive tests (#7017)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

refactor(perl-parser): optimize tied-handle heredoc detection (#0000)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

feat(semantic): Add Role::Tiny support to role composition diagnostics (PL303) (#4381)
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
Due: none

quality(prints): enforce print_stderr/print_stdout lints in perl-lsp-rs-core (#3224)
  crates/perl-lsp-rs-core/src/lib.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/tests/lint_enforcement_test.rs
Due: none

fix(perl-lsp-rs): use split_qualified_name for qualified name comparisons (#6748)
  crates/perl-lsp-rs/src/features/implementation_provider.rs
  crates/perl-lsp-rs/src/runtime/language/hover.rs
  crates/perl-lsp-rs/src/runtime/symbol_extraction.rs
Due: none

refactor: move symbol_correctness_pct into library aggregation (#6824)
  crates/perl-lsp-ux-tests/src/scorecard.rs
  xtask/src/tasks/ux_scorecard.rs
Due: none

fix(lsp): keep push diagnostics for Opencode clients (#0000) (#6998)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: lexer
