Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(baseline): correct published-crate-baseline 37 → 34 after Wave 4-Completion (#4542)
  crates/perl-lsp-rs-core/tests/g3_publish_baseline_enforcement.rs
  crates/perl-lsp-rs-core/tests/g3_published_count.rs
  xtask/published-crate-baseline.txt
Due: none

fix(parser): fix test isolation and workspace_refactor default feature (#4542)
  crates/perl-parser/Cargo.toml
  crates/perl-parser/src/refactor/scoped_rename_tests.rs
  crates/perl-parser/tests/wave4_completion_absorption_tests.rs
Due: parser

test(perl-parser): add edge case and regression tests for #4542 (green TDD)
  crates/perl-parser/tests/wave4_completion_absorption_tests.rs
Due: none

fix(test): remove dead first-branch in test_workspace_refactor_in_default_features (#4542)
  crates/perl-parser/tests/wave4_completion_absorption_tests.rs
Due: none

style(parser): apply cargo fmt to absorbed incremental and refactor modules (#4542)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
  crates/perl-parser/src/incremental/incremental_document.rs
  crates/perl-parser/src/incremental/incremental_integration.rs
  crates/perl-parser/src/incremental/incremental_v2.rs
  crates/perl-parser/src/incremental/mod.rs
  crates/perl-parser/src/refactor/refactoring.rs
  crates/perl-parser/src/refactor/workspace_refactor.rs
  crates/perl-parser/src/refactor/workspace_rename.rs
Due: parser

refactor(parser): Wave 4-Completion — absorb 3 parser satellites into perl-parser (#4542) (#4543)
  .spec/4542-wave4-completion/acceptance.md
  .spec/4542-wave4-completion/checklist.md
  .spec/4542-wave4-completion/context.md
  Cargo.lock
  Cargo.toml
  crates/perl-dead-code/Cargo.toml
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-lsp-rs-core/tests/g3_publish_baseline_enforcement.rs
  crates/perl-lsp-rs-core/tests/g3_published_count.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/state/document.rs
  crates/perl-parser/Cargo.toml
  crates/perl-parser/src/dead_code/mod.rs
  crates/perl-parser/src/incremental.rs
  crates/perl-parser/src/incremental/incremental_advanced_reuse.rs
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
  crates/perl-parser/src/incremental/incremental_document.rs
  crates/perl-parser/src/incremental/incremental_edit.rs
  crates/perl-parser/src/incremental/incremental_handler_v2.rs
  crates/perl-parser/src/incremental/incremental_integration.rs
  crates/perl-parser/src/incremental/incremental_simple.rs
  crates/perl-parser/src/incremental/incremental_v2.rs
  crates/perl-parser/src/incremental/mod.rs
  crates/perl-parser/src/lib.rs
  crates/perl-parser/src/refactor.rs
  crates/perl-parser/src/refactor/import_optimizer.rs
  crates/perl-parser/src/refactor/import_optimizer.rst
  crates/perl-parser/src/refactor/inline.rs
  crates/perl-parser/src/refactor/mod.rs
  crates/perl-parser/src/refactor/modernize.rs
  crates/perl-parser/src/refactor/modernize_refactored.rs
  crates/perl-parser/src/refactor/refactoring.rs
  crates/perl-parser/src/refactor/scoped_rename_tests.rs
  crates/perl-parser/src/refactor/workspace_refactor.rs
  crates/perl-parser/src/refactor/workspace_rename.rs
  crates/perl-parser/src/workspace.rs
  crates/perl-parser/tests/wave4_completion_absorption_tests.rs
  crates/perl-refactoring/Cargo.toml
  xtask/published-crate-baseline.txt
Due: parser, lsp

plan(lsp): add implementation spec for #4541 — Wave Final PR B (3 crates absorbed, 34→31)
  .spec/4541-wave-final-pr-b/acceptance.md
  .spec/4541-wave-final-pr-b/checklist.md
  .spec/4541-wave-final-pr-b/context.md
Due: none

test(perl-lsp-rs-core): add edge case and regression tests for #4541 (green TDD)
  crates/perl-lsp-rs-core/tests/wave_final_absorption_tests.rs
Due: none

refactor(lsp): normalize config module to config/mod.rs layout (#4541)
  crates/perl-lsp-rs-core/src/config/mod.rs
Due: none

refactor(platform): dedupe platform functions across perl-dap + perl-lsp-rs-core (#4545)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/platform/mod.rs
  crates/perl-dap/tests/platform_dedup_verification.rs
  crates/perl-lsp-rs-core/src/platform.rs
Due: dap

feat(tree-sitter-perl-c): add 11 snapshot tests for cross-backend comparison
  crates/tree-sitter-perl-c/tests/snapshots.rs
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__complex_regex.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__control_flow_with_postfix_condition.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__data_structure_dereference.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__for_loop_with_lexical_iterator.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__heredoc.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__nested_blocks.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__package_declaration.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__package_with_multiple_subs.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__regex.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__subroutine.snap
  crates/tree-sitter-perl-c/tests/snapshots/snapshots__variable_declaration.snap
Due: none

chore(tree-sitter-perl-c): add insta dev-dependency for snapshot tests
  crates/tree-sitter-perl-c/Cargo.toml
Due: none

feat(semantic): add ExportSymbolExtractor for Exporter-based modules
  crates/perl-semantic-analyzer/src/analysis/export_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/mod.rs
Due: none

docs(semantic): clarify undocumented parameters in export_analyzer
  crates/perl-semantic-analyzer/src/analysis/export_analyzer.rs
Due: none

chore(tree-sitter-perl-c): update Cargo.lock for insta dev-dependency
  Cargo.lock
  crates/perl-semantic-analyzer/src/analysis/export_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/mod.rs
Due: none

refactor(tree-sitter-perl-c): extract shared test utilities
  crates/tree-sitter-perl-c/tests/common/mod.rs
  crates/tree-sitter-perl-c/tests/edge_cases.rs
  crates/tree-sitter-perl-c/tests/integration.rs
  crates/tree-sitter-perl-c/tests/snapshots.rs
Due: none

fix(perl-module): avoid rename false positives in package/quoted contexts (#4423)
  crates/perl-module/src/rename/mod.rs
  crates/perl-module/tests/facade_api_completeness.rs
  crates/perl-module/tests/rename_comprehensive_unit_tests.rs
Due: none

fix(tests): repair workspace test compile bit-rot (#4508)
  Cargo.lock
  crates/perl-lsp/tests/workspace_permission_denied_test.rs
  crates/perl-parser/tests/facade_pattern_edge_cases.rs
  crates/perl-parser/tests/incremental_performance_tests.rs
  crates/perl-parser/tests/mutation_hardening_tests.rs
  crates/perl-parser/tests/support/incremental_test_utils.rs
  crates/perl-tdd-support/Cargo.toml
Due: none

fix(perl-module): avoid rename edits for package/string false positives (#4423)
  crates/perl-module/src/rename/mod.rs
  crates/perl-module/tests/facade_api_completeness.rs
Due: none

fix(parser-core): parse ternary after bare unary-style calls
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_ternary_stmt_start.rs
Due: none

test(rs-core): remove transport deferred warning
  crates/perl-lsp-rs-core/tests/runtime_g2_transport_deferred.rs
Due: none

fix(incremental): restore benchmark deps and relex metrics accounting
  Cargo.lock
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
Due: none

fix(parser): avoid indirect-call ternary misparse (#2750)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
Due: none

fix(lsp): reset pull diagnostics critic state on config changes
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(lsp): reset pull diagnostics critic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(diagnostics): reset pull perlcritic analyzer on config changes (#0000)
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_perlcritic_diagnostics_tests.rs
Due: lsp

fix(perl-lsp): reset pull diagnostics critic state on config changes
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(diagnostics): reset pull critic state on config change (#0000)
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(diagnostics): reset pull critic cache on config changes (#0)
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(perl-lsp): reset pull diagnostics critic cache on config changes
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(perl-lsp): reset pull perlcritic analyzer on config change
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_perlcritic_diagnostics_tests.rs
Due: lsp

fix(diagnostics): reset pull orchestrator on config changes
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(runtime): reset pull perlcritic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(lifecycle): enforce initialized ordering and single-use
  crates/perl-lsp/src/runtime/dispatch/lifecycle.rs
Due: lsp

fix(diagnostics): reset pull critic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
