Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

perf(perl-dap): reuse breakpoint validation cache and batch sync (#0000)
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter/breakpoints.rs
Due: dap

refactor(perl-dap): reuse breakpoint validation and batch sync writes (#0000)
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter/breakpoints.rs
  crates/perl-dap/tests/dap_performance_tests.rs
Due: dap

perf(perl-dap): cache interpreter discovery and tighten the warm-launch path (#0000)
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/src/platform/mod.rs
  crates/perl-dap/tests/dap_launch_error_remediation_tests.rs
  crates/perl-dap/tests/platform_perl_path_edge_cases.rs
Due: dap

refactor(perl-dap): cache interpreter discovery and tighten warm-launch path (#0000)
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/src/platform/mod.rs
Due: dap

perf(perl-dap): cache interpreter discovery and tighten the warm-launch path (#0000)
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/src/platform/mod.rs
Due: dap

perf(perl-dap): cache interpreter discovery and warm launch failures (#0000)
  crates/perl-dap/src/debug_adapter/process.rs
Due: dap

perf(perl-dap): trim transport frame/write overhead (#0000)
  crates/perl-dap/benches/dap_benchmarks.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/transport.rs
Due: dap

refactor(perl-dap): batch DAP transport writes to cut framing churn (#0000)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/transport.rs
Due: dap

perf(perl-dap): reduce transport framing overhead (#0000)
  crates/perl-dap/benches/dap_benchmarks.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/transport.rs
Due: dap

fix(perl-dap): harden bridge adapter lifecycle and shutdown behavior (#0000)
  crates/perl-dap/benches/dap_benchmarks.rs
  crates/perl-dap/src/bridge_adapter.rs
  crates/perl-dap/tests/bridge_adapter_unit_tests.rs
  crates/perl-dap/tests/bridge_integration_tests.rs
Due: dap

fix(perl-dap): harden bridge adapter lifecycle and shutdown behavior (#0000)
  crates/perl-dap/benches/dap_benchmarks.rs
  crates/perl-dap/src/bridge_adapter.rs
  crates/perl-dap/tests/bridge_adapter_unit_tests.rs
Due: dap

fix(perl-parser): preserve UTF-8 offsets in heredoc masking (#0000)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

fix(diagnostics): linearize pod export fallback scan (#0000)
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/pod_coverage.rs
Due: none

fix(semantic): bound inherited MRO traversal depth (#0000)
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
Due: none

fix(module-resolution): constrain lexical absolute use lib roots (#0000)
  crates/perl-module/src/resolution/use_lib.rs
  crates/perl-module/tests/use_lib_resolution_unit_tests.rs
Due: none

fix(perl-pragma): bound warning category tracking growth (#0000)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(type-definition): reapply parse guards in doc scans (#0000)
  crates/perl-lsp-rs-core/src/providers/navigation/type_definition.rs
Due: none

fix(config): bound .perl-lsp.toml reads (#0000)
  crates/perl-lsp-rs-core/src/config/mod.rs
Due: none

fix(refactoring): scope inline-all edits to definition tree (#0000)
  crates/perl-refactoring/src/refactor/refactoring.rs
Due: none

fix(incremental): bound subtree cache cloning to avoid DoS (#0000)
  crates/perl-incremental-parsing/src/incremental/incremental_document.rs
Due: none

fix(type-hierarchy): prevent c3 recursion loops (#0000)
  crates/perl-lsp-rs-core/src/providers/type_hierarchy/mod.rs
Due: none

fix(perl-parser): avoid quadratic heredoc location scans (#0000)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

fix(code-actions): avoid quadratic line offset scans (#0000)
  crates/perl-lsp-rs-core/src/providers/code_actions/modernize.rs
Due: none

fix(perl-module): improve multiline @INC pragma parsing (#0000) (#5882)
  crates/perl-module/src/resolution/use_lib.rs
  crates/perl-module/tests/use_lib_resolution_unit_tests.rs
Due: none

fix(completion): guard arrow-check slice against multi-byte char before brace
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
Due: none

fix(xtask): fix benchmark code formatting
  crates/perl-parser/benches/support/perf_scorecard.rs
  xtask/src/tasks/update_status/parser.rs
Due: none

fix(parser): remove Semicolon from label disambiguation exclusion list
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_label_ternary_disambiguation.rs
Due: none

fix(workspace): restore three-tier read_workspace_text for willRenameFiles
  crates/perl-lsp-rs/src/runtime/workspace.rs
  crates/perl-lsp-rs/tests/lsp_workspace_file_ops_tests.rs
Due: none

test(perl-parser): add edge-case location tests for build_line_starts
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

test(perl-incremental-parsing): add depth-bound invariant test for cache_node
  crates/perl-incremental-parsing/src/incremental/incremental_document.rs
Due: none

test(tree-sitter-perl-c): add error-state isolation test for reusable parser (#0000)
  crates/tree-sitter-perl-c/src/lib.rs
Due: none

fix: UI bug where perl.runTest code lenses didn't trigger an action (#2691)
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

test(perl-pragma): strengthen cap boundary tests and document silent-drop rationale
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(type-definition): add missing guard tests + fix Foreach double-visit
  crates/perl-lsp-rs-core/src/providers/navigation/type_definition.rs
Due: none

ci(parser): ratchet final parser accuracy closeout baseline (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  .ci/metrics/baselines/parser.json
  docs/project/status/parser.md
  xtask/src/tasks/corpus_audit.rs
Due: none

ci(parser): ratchet final parser accuracy closeout baseline (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  .ci/metrics/baselines/parser.json
  .ci/nodekind-coverage-allowlist.txt
  docs/project/status/parser.md
  xtask/src/tasks/corpus_audit.rs
  xtask/src/tasks/update_status/parser.rs
Due: none

ci(parser): ratchet final parser accuracy closeout baseline (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  .ci/metrics/baselines/parser.json
  .ci/parser-corpus-baseline.json
  docs/project/status/parser.md
  xtask/src/tasks/corpus_audit.rs
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

ci(parser): ratchet final parser accuracy closeout baseline (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  .ci/metrics/baselines/parser.json
  .ci/parser-corpus-baseline.json
  docs/project/status/parser.md
  xtask/src/tasks/corpus_audit.rs
Due: none

fix(config): correct TOCTOU handling, stale doc, and size-error message
  crates/perl-lsp-rs-core/src/config/mod.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
