Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Remove .hermes artifacts
  .hermes/conveyor/work-b4f6edfe/findings/verification-agent-findings.md
Due: none

Remove .hermes artifacts
  .hermes/conveyor/work-b4f6edfe/findings/vision-alignment-comment.md
Due: none

feat(tree-sitter-perl-c): add parser-reuse parse helpers (#5388)
  crates/tree-sitter-perl-c/README.md
  crates/tree-sitter-perl-c/src/lib.rs
Due: none

docs: fix incorrect crate name in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

style(perl-symbol): add assert messages and Result returns to document-aware tests (#6379)
  crates/perl-symbol/tests/index_document_aware.rs
Due: none

fix: correct invalid Perl syntax in test corpus
  test_corpus/class_method_production_enhanced.pl
  test_corpus/package_production_enhanced.pl
Due: none

docs(tree-sitter-perl-rs): sync docs with implemented APIs
  crates/tree-sitter-perl-rs/CLAUDE.md
  crates/tree-sitter-perl-rs/README.md
  crates/tree-sitter-perl-rs/ROADMAP.md
Due: none

fix(tree-sitter-perl-rs): correct README/CLAUDE.md claiming walk/edit/grammar_kind unimplemented
  crates/tree-sitter-perl-rs/CLAUDE.md
  crates/tree-sitter-perl-rs/README.md
  crates/tree-sitter-perl-rs/src/lib.rs
Due: none

fix(lexer): tokenize bare v-strings like `v5` as Version, not Identifier
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/vstring_tests.rs
Due: lexer

test(docs-lsp-setup): improve Sublime LSP setup guidance
  docs/EDITORS/SUBLIME_SETUP.md
  docs/how-to/EDITOR_SETUP.md
Due: none

fix(tree-sitter-perl): remove non-existent Perl operators ===, equ, eqr
  tree-sitter-perl/grammar.js
Due: none

fix: update stale LSP version claims in perl-parser docs
  crates/perl-parser/src/lib.rs
Due: parser

test(runtime): expand cancellation proptests (#0000) (#5428)
  crates/perl-lsp-rs-core/src/runtime/cancellation/mod.rs
  crates/perl-lsp-rs-core/tests/runtime_cancellation_property.rs
Due: none

test(perl-lexer): add high-impact lexer proptests (#0000) (#5427)
  crates/perl-lexer/tests/prop_checkpoint_and_span_invariants.rs
Due: none

test(perl-lsp-rs): add workspace symbol snapshots (#0000) (#5426)
  crates/perl-lsp-rs/tests/lsp_workspace_symbol_snap.rs
  crates/perl-lsp-rs/tests/snapshots/lsp_workspace_symbol_snap__workspace_symbol_native_methods.snap
  crates/perl-lsp-rs/tests/snapshots/lsp_workspace_symbol_snap__workspace_symbol_provider_capability.snap
  crates/perl-lsp-rs/tests/snapshots/lsp_workspace_symbol_snap__workspace_symbol_query_find.snap
  docs/reference/SNAPSHOT_TESTING.md
Due: none

fix(perl-lexer): recognize v-strings without dot (v5 = chr(5))
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/vstring_tests.rs
Due: lexer

fix(tree-sitter-perl-rs): correct stale docs and add missing test assertion
  crates/tree-sitter-perl-rs/CLAUDE.md
  crates/tree-sitter-perl-rs/ROADMAP.md
  crates/tree-sitter-perl-rs/src/lib.rs
Due: none

fix(perl-corpus): properly handle test helper results
  crates/perl-corpus/src/continue_redo.rs
  crates/perl-corpus/src/glob_expressions.rs
  crates/perl-tdd-support/tests/comprehensive_unit_tests.rs
  crates/perl-tdd-support/tests/test_helper_coverage.rs
Due: corpus

fix(navigation): split qualified name in Subroutine walk arm of find_references_single_file
  crates/perl-lsp-rs-core/src/providers/navigation/references.rs
Due: none

fix(parser): correct InvalidDelimiter error for tr{abc}xyz paired-delimiter forms
  crates/perl-parser-core/src/syntax/quote.rs
Due: none

devex: first-time setup checklist, just shortcuts, and developer docs
  CONTRIBUTING.md
  docs/INDEX.md
  justfile
  scripts/README.md
  vscode-extension/DEVELOPMENT.md
Due: none

test(fuzz): add lexer, DAP eval, and DAP stack parser fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/dap_eval_validator.rs
  fuzz/fuzz_targets/dap_stack_parser.rs
  fuzz/fuzz_targets/lexer_tokenization.rs
  justfile
Due: none

feat(proptest): add property-based tests for perl-regex and perl-semantic-analyzer
  Cargo.lock
  crates/perl-regex/Cargo.toml
  crates/perl-regex/tests/prop_regex_validator.rs
  crates/perl-semantic-analyzer/Cargo.toml
  crates/perl-semantic-analyzer/tests/prop_symbol_extraction.rs
Due: none

fix: tr{} with alphanumeric replacement emits InvalidDelimiter not MissingReplacement
  crates/perl-parser-core/src/syntax/quote.rs
Due: none

test(perl-lexer): add hash-subscript guard test for s/tr/y operators
  crates/perl-lexer/tests/tokenizer_edge_case_tests.rs
Due: none

test(perl-dap): add tab-character quoting coverage for format_command_args
  crates/perl-dap/tests/command_args_integration_tests.rs
Due: none

test(perl-regex): add coverage for /r, /e modifiers and duplicate-known-modifier dedup
  crates/perl-regex/tests/behavior_spec_tests.rs
Due: none

fix(incremental): document index semantics for IncrementalEditBatchError and add missing edge case tests
  crates/perl-parser/src/incremental/incremental_edit.rs
  crates/perl-parser/tests/incremental_edit_set_normalization.rs
Due: parser

test(perl-lexer): add capacity-2 checkpoint trim boundary test
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

Improve LSP UX scorecard: add symbol metric to library, expand test coverage
  crates/perl-lsp-ux-tests/src/scorecard.rs
  xtask/src/tasks/ux_scorecard.rs
Due: none

fix(perl-corpus): handle unused `must_some` return values (#123)
  crates/perl-corpus/src/continue_redo.rs
  crates/perl-corpus/src/glob_expressions.rs
Due: corpus

fix(document-highlight): match bare and qualified subroutine names
  Cargo.lock
  crates/perl-lsp-document-highlight/Cargo.toml
  crates/perl-lsp-document-highlight/src/lib.rs
  crates/perl-lsp-document-highlight/tests/document_highlight_tests.rs
Due: none

fix(misc): match qualified subroutine lookups in inlay hint resolution
  crates/perl-lsp/src/runtime/language/misc.rs
Due: lsp

fix(hover): resolve qualified calls against bare definitions
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/lsp_hover_tests.rs
Due: lsp

fix(implementation): match qualified override definitions
  crates/perl-lsp/src/features/implementation_provider.rs
  crates/perl-lsp/tests/lsp_implementation_tests.rs
Due: lsp

fix(symbol-extraction): match qualified subroutine references
  crates/perl-lsp/src/runtime/symbol_extraction.rs
Due: lsp

fix: use split_qualified_name for qualified name comparisons
  crates/perl-lsp-rs/src/features/implementation_provider.rs
  crates/perl-lsp-rs/src/runtime/language/hover.rs
  crates/perl-lsp-rs/src/runtime/symbol_extraction.rs
Due: none

fix(ast): enforce traversal conformance for child-bearing parser nodes (#0000)
  crates/perl-lsp-rs-core/src/providers/diagnostics/walker.rs
  crates/perl-lsp-rs-core/src/providers/document_highlight/mod.rs
  crates/perl-lsp-rs-core/src/providers/navigation/type_definition.rs
  crates/perl-lsp-rs-core/src/providers/semantic_tokens/semantic_tokens.rs
Due: none

feat(perl-pragma): add benchmark suite for build/query workloads (#0000)
  Cargo.lock
  crates/perl-pragma/Cargo.toml
  crates/perl-pragma/README.md
  crates/perl-pragma/benches/pragma_benchmarks.rs
Due: none

fix(perl-pragma): make version_compat and scope_analyzer benchmarks yield real signal
  Cargo.lock
  crates/perl-pragma/Cargo.toml
  crates/perl-pragma/benches/pragma_benchmarks.rs
Due: none
