Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

test(diagnostics): add edge case tests for PL303 role conflict detection (#3605) (#3733)
  crates/perl-lsp-diagnostics/tests/role_conflicts_tests.rs
Due: none

feat(mason): add .mason/.mas navigation MVP (#3583)
  crates/perl-lsp/src/runtime/language/mason.rs
  crates/perl-lsp/src/runtime/language/mod.rs
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/tests/mason_navigation_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: lsp

feat(mason): add .mason/.mas navigation MVP (#3583) (#3735)
  crates/perl-lsp/src/runtime/language/mason.rs
  crates/perl-lsp/src/runtime/language/mod.rs
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/tests/mason_navigation_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: lsp

fix(tests): update stale tests for no-fallback resolve_module_path semantics
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  crates/perl-module-resolution-path/tests/module_resolution_path_bdd.rs
  crates/perl-module-resolution-path/tests/module_resolution_path_integration.rs
  crates/perl-module-resolution-path/tests/module_resolution_path_prop.rs
  crates/perl-module-resolution/src/use_lib.rs
Due: lsp

test(workspace): add behavioral tests for didChangeWatchedFiles (#3514) (#3734)
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/tests/lsp_workspace_file_ops_tests.rs
Due: lsp

fix(parser): suppress spurious ':isa' warning for native class declarations (#3540)
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/native_class_isa_tests.rs
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

fix(config): detect perlbrew/plenv interpreters for @INC probing (#3552)
  Cargo.lock
  crates/perl-lsp-config/Cargo.toml
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/tests/behavioral.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  docs/reference/CONFIG.md
Due: lsp

feat(parser): add NodeKind::Defer for defer block support (#3537)
  crates/perl-ast/src/ast.rs
  crates/perl-ast/tests/ast_coverage_tests.rs
  crates/perl-ast/tests/nodekind_coverage_tests.rs
  crates/perl-lsp-diagnostics/src/lints/eval_error_flow.rs
  crates/perl-lsp-diagnostics/src/lints/security.rs
  crates/perl-lsp-diagnostics/src/lints/unreachable_code.rs
  crates/perl-lsp-diagnostics/src/lints/version_compat.rs
  crates/perl-lsp-diagnostics/src/walker.rs
  crates/perl-lsp-diagnostics/tests/version_compat_tests.rs
  crates/perl-lsp-document-highlight/src/lib.rs
  crates/perl-lsp-folding/src/lib.rs
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-parser-core/src/engine/parser/control_flow.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_defer_block_3537.rs
  crates/perl-parser/tests/nodekind_combination_control_flow.rs
  crates/perl-parser/tests/nodekind_combination_modern_perl_features.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/node_analysis.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-token/src/lib.rs
  crates/perl-token/tests/comprehensive_unit_tests.rs
  crates/perl-tokenizer/src/token_stream.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

feat(web): add Plack::Builder middleware symbols (#3581)
  crates/perl-lsp/tests/lsp_document_symbols_test.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_web.rs
Due: none

fix(test): hold env lock across behavioral tests (#3552)
  crates/perl-lsp-config/tests/behavioral.rs
Due: none

feat(web): add Plack::Builder middleware symbols (#3581) (#3736)
  crates/perl-lsp/tests/lsp_document_symbols_test.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_web.rs
Due: none

fix(config): detect perlbrew/plenv interpreters for @INC probing (#3552) (#3737)
  Cargo.lock
  crates/perl-lsp-config/Cargo.toml
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/tests/behavioral.rs
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
  docs/reference/CONFIG.md
Due: lsp

feat(dap): pre-launch syntax check with perl -c before debug session (#3477)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/dap_syntax_check_tests.rs
Due: dap

perf(code-actions): bound AST traversal to requested range (#3471)
  crates/perl-lsp-code-actions/src/enhanced/mod.rs
  crates/perl-lsp-code-actions/tests/extract_refactoring_test.rs
Due: none

feat(code-actions): add quick fixes for 8 common diagnostic violations (#3469)
  crates/perl-lsp-code-actions/src/code_actions.rs
  crates/perl-lsp-code-actions/src/quick_fixes.rs
  crates/perl-lsp-code-actions/tests/quick_fixes_new_diagnostics_test.rs
  crates/perl-lsp/src/features/diagnostics/pull.rs
  crates/perl-lsp/tests/lsp_diagnostic_enrichment_test.rs
Due: lsp

feat(workspace): discover .xs files (#3568)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_fuzz_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

fix(pragma): traverse package block form to preserve pragma state (#3480)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

feat(workspace): discover .xs files (#3568) (#3738)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_fuzz_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

feat(analysis): add EV async symbols (#3607)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(workspace): discover .ep templates (#3579)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

feat(analysis): add EV async symbols (#3607) (#3739)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(workspace): discover .ep templates (#3579) (#3740)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

perf(code-actions): fix inaccurate comment in large-file test
  crates/perl-lsp-code-actions/tests/extract_refactoring_test.rs
Due: none

perf(code-actions): bound AST traversal to requested range (#3471) (#3744)
  crates/perl-lsp-code-actions/src/enhanced/mod.rs
  crates/perl-lsp-code-actions/tests/extract_refactoring_test.rs
Due: none

feat(analysis): add Future promise-chain symbols (#3611)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(workspace): add Template Toolkit file recognition (#3580)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

fix(pragma): traverse package block form to preserve pragma state (#3480) (#3743)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(config): preserve perl5lib_precedence on unknown LSP value; add 7 tests (#3717 follow-up)
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/tests/project_config.rs
Due: none

feat(analysis): add Future promise-chain symbols (#3611) (#3748)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(hover): show variable declaration line and scope context (#3467)
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/lsp_hover_tests.rs
Due: lsp

style: apply rustfmt formatting to hover variable tests
  crates/perl-lsp/tests/lsp_hover_tests.rs
Due: none

fix(workspace): include Template Toolkit files in discovery predicate (#3580)
  crates/perl-workspace-discovery/src/lib.rs
Due: none

feat(dap): display blessed object class names in variables pane (#3484)
  crates/perl-dap-variables/src/lib.rs
  crates/perl-dap-variables/src/renderer.rs
  crates/perl-dap-variables/tests/comprehensive.rs
  crates/perl-dap-variables/tests/variable_inspection.rs
Due: none

feat(workspace): add Template Toolkit file recognition (#3580) (#3746)
  crates/perl-workspace-discovery/src/lib.rs
  crates/perl-workspace-discovery/tests/comprehensive_unit_tests.rs
  crates/perl-workspace-discovery/tests/discovery_coverage_tests.rs
  crates/perl-workspace-discovery/tests/discovery_property_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: none

fix(semantic): honor use builtin for strict bareword checks
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
Due: none

fix(module-resolution): honor absolute PERL5LIB paths (#3741)
  crates/perl-lsp/tests/semantic_hover.rs
Due: none

fix(module-resolution): honor absolute PERL5LIB paths (#3741) (#3749)
  crates/perl-lsp/tests/semantic_hover.rs
Due: none

fix(workspace-discovery): remove blib from safe-dir test after #3637 added it to skip list
  crates/perl-workspace-discovery/src/lib.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
