Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

docs(agents)+claude.md: enforce master-green-and-required-for-merge directive (#0000) (#6808)
  .claude/agents/diff-auditor.md
  .claude/agents/ops.md
  .claude/agents/reviewer.md
  CLAUDE.md
Due: none

docs(commands): wire master-green + sign-off-as-routing principles into 4 key decision skills
  .claude/commands/diff-audit-comment.md
  .claude/commands/ops-check-queue.md
  .claude/commands/ops-merge-batch.md
  .claude/commands/reviewer-decide.md
Due: none

docs(commands): wire master-green + sign-off-as-routing principles into 4 key decision skills (#6811)
  .claude/commands/diff-audit-comment.md
  .claude/commands/ops-check-queue.md
  .claude/commands/ops-merge-batch.md
  .claude/commands/reviewer-decide.md
Due: none

fix(parser): handle qw// hash slices with non-paired delimiters
  crates/perl-parser-core/src/engine/parser/expressions/quotes.rs
  crates/perl-parser-core/tests/fix_hash_slice_qw_delimiter.rs
Due: none

chore: update status files for CI Gate compliance
  docs/project/status/parser.md
Due: none

fix(vscode-extension): cleanup #6780 — add lazy debug activation, drop stale onCommand:* tests, delete bogus doc
  docs/performance-activation-fix.md
  vscode-extension/package.json
  vscode-extension/src/test/commands.test.ts
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/src/test/podPreview.test.ts
Due: none

fix(vscode-extension): cleanup #6780 — add lazy debug activation, drop stale onCommand:* tests, delete bogus doc (#6812)
  docs/performance-activation-fix.md
  vscode-extension/package.json
  vscode-extension/src/test/commands.test.ts
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/src/test/podPreview.test.ts
Due: none

fix(justfile): remove duplicate utf16_roundtrip line in fuzz-bounded
  justfile
Due: none

fix(justfile): remove duplicate fmt and test recipes that conflict with existing entries
  justfile
Due: none

test(perl-regex): replace unwrap with infallible char collect in proptest helper
  crates/perl-regex/tests/prop_regex_validator.rs
Due: none

style: cargo fmt for perl-lsp-rs runtime tests (#0000)
  crates/perl-lsp-rs/src/runtime/mod.rs
Due: none

style: cargo fmt for perl-lsp-rs lifecycle capabilities (#0000)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: none

docs(forensics): 2026-04-26 session learnings — sign-off-as-routing fix, master cascade quartet, retrospective
  docs/forensics/2026-04-26-master-cascade-quartet-and-false-signal-calibration.md
  docs/forensics/2026-04-26-session-retrospective-and-observations.md
  docs/forensics/2026-04-26-sign-off-is-routing-methodology-strengthening.md
Due: none

docs(forensics): 2026-04-26 session learnings — sign-off-as-routing fix, master cascade quartet, retrospective (#6840)
  docs/forensics/2026-04-26-master-cascade-quartet-and-false-signal-calibration.md
  docs/forensics/2026-04-26-session-retrospective-and-observations.md
  docs/forensics/2026-04-26-sign-off-is-routing-methodology-strengthening.md
Due: none

fix(perl-lsp-rs): silence feature-gated dead_code lints in multi-root tests (#6573) (#6495)
  crates/perl-lsp-rs/tests/multi_root_workspace_tests.rs
Due: none

refactor(symbol-surface): make extract_symbol_decls the authoritative baseline for workspace declaration projection (#6468) (#6387)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

feat(perl-symbol): make SymbolIndex document-aware and remove stale-symbol drift (#6469) (#6379)
  crates/perl-symbol/tests/index_document_aware.rs
Due: none

perf(perl-symbol): add benchmark suite for cursor, index, and surface hot paths (#6473) (#6363)
  Cargo.lock
  crates/perl-symbol/Cargo.toml
  crates/perl-symbol/README.md
  crates/perl-symbol/benches/symbol_benchmarks.rs
Due: none

fix(perl-dap): harden evaluate live-session correctness (#0000) (#6196)
  crates/perl-dap/src/debug_adapter/evaluation.rs
  crates/perl-dap/src/debug_adapter/parsing.rs
  crates/perl-dap/src/eval/patterns.rs
  crates/perl-dap/src/eval/validator.rs
  crates/perl-dap/tests/dap_evaluate_comprehensive_tests.rs
  crates/perl-dap/tests/eval_safe_evaluator.rs
Due: dap

perf(perl-dap): add real caching for variables roots, children, and paging (#0000) (#6192)
  crates/perl-dap/src/debug_adapter/evaluation.rs
  crates/perl-dap/src/debug_adapter/execution.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/src/debug_adapter/variables.rs
  crates/perl-dap/tests/dap_performance_tests.rs
  crates/perl-dap/tests/variables_comprehensive.rs
  crates/perl-dap/tests/variables_deep_truncation.rs
  crates/perl-dap/tests/variables_variable_inspection.rs
Due: dap

feat(dap-status): promote deferred attach/variables/evaluate metrics into the DAP scorecard (#6524) (#6166)
  crates/perl-dap/tests/dap_scorecard_harness.rs
  docs/project/status/dap.md
  xtask/src/tasks/update_status/dap.rs
  xtask/src/tasks/update_status/mod.rs
Due: none

fix(workspace): avoid willRenameFiles closed-file reads (#6526) (#6159)
  crates/perl-lsp-rs/src/runtime/workspace.rs
  crates/perl-lsp-rs/tests/lsp_workspace_file_ops_tests.rs
Due: none

fix(completion): avoid UTF-8 boundary panics in hash-key scan (#6528) (#6157)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
Due: none

fix(lexer): harden heredoc and data-section scanning (#0000) (#6095)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/heredoc_regression_tests.rs
  crates/perl-lexer/tests/heredoc_security_tests.rs
Due: lexer

fix(lexer): harden quote-like and transliteration tokenization (#0000) (#6091)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
Due: lexer

fix(lexer): tighten slash disambiguation and mode-transition correctness (#6657) (#6088)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/mode.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lexer/tests/lexer_mode_issue_3030.rs
  crates/perl-lexer/tests/lexer_slash_timeout_tests.rs
Due: lexer

fix(semantic): improve goto-definition symbol resolution (#0000) (#5728)
  crates/perl-lsp-rs/tests/lsp_definition_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

fix(ai): improve Gemini CLI API key support (#0000) (#5569)
  crates/perl-lsp-rs/src/runtime/mod.rs
  docs/reference/AI_COMPLETION.md
Due: none

fix(xtask): accept gemini model aliases in agent validation (#0000) (#5566)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: none

docs(contributing): add codex desktop workflow guidance (#0000) (#5558)
  CONTRIBUTING.md
Due: none

fix(perl-lsp-rs): gate workspace folder capabilities by client support (#0000) (#5545)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/state/document.rs
Due: none

fix(perl-symbol): improve token cursor anchoring (#0000) (#5525)
  crates/perl-symbol/src/cursor/mod.rs
Due: none

fix(perl-dap): dedupe legacy inline values and skip special vars (#0000) (#5384)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(fmt): apply cargo xtask fmt post 16-PR ops-drain (#0000)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/variables.rs
  crates/perl-dap/tests/dap_scorecard_harness.rs
  crates/perl-dap/tests/variables_comprehensive.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/tests/lsp_workspace_file_ops_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-symbol/src/cursor/mod.rs
  crates/perl-symbol/tests/index_document_aware.rs
Due: dap

fix(fmt): apply cargo xtask fmt post 16-PR ops-drain (#0000) (#6849)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/variables.rs
  crates/perl-dap/tests/dap_scorecard_harness.rs
  crates/perl-dap/tests/variables_comprehensive.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/tests/lsp_workspace_file_ops_tests.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-symbol/src/cursor/mod.rs
  crates/perl-symbol/tests/index_document_aware.rs
Due: dap

fix(xtask-gates): demote corpus ratchet gates to advisory (#0000)
  .ci/gate-policy.yaml
Due: none

fix(xtask-gates): demote corpus ratchet gates to advisory (#0000) (#6852)
  .ci/gate-policy.yaml
Due: none

feat(semantic-tokens): add modification modifier for assignment LHS variables
  crates/perl-lsp-rs-core/src/providers/semantic_tokens/semantic_tokens.rs
  crates/perl-parser/tests/wave4_completion_absorption_tests.rs
Due: none

fix: UI bug where perl.runTest code lenses didn't trigger an action (#2691)
  patch_debugAdapter.py
  patch_package_json.py
  vscode-extension/package.json
  vscode-extension/src/debugAdapter.ts
Due: none
