Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

docs(coc.nvim): modernize perllsp setup guidance (#0000)
  docs/EDITORS/COC_NEOVIM_SETUP.md
  docs/how-to/EDITOR_SETUP.md
  docs/how-to/TROUBLESHOOTING.md
  docs/reference/CONFIG.md
Due: none

docs(coc.nvim): refresh perllsp setup docs (#0000)
  docs/EDITORS/COC_NEOVIM_SETUP.md
  docs/how-to/EDITOR_SETUP.md
  docs/how-to/TROUBLESHOOTING.md
  docs/reference/CONFIG.md
Due: none

docs(forensics): 2026-04-28 architecture foundation + 58-merge session retrospective
  docs/forensics/2026-04-28-architecture-foundation-and-58-merge-session.md
Due: none

feat(perl-corpus): add deterministic corpus inventory API (#0000)
  crates/perl-corpus/src/inventory.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

feat(perl-corpus): add durable concept registry seed (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/concepts/incremental.toml
  crates/perl-corpus/concepts/lexer.toml
  crates/perl-corpus/concepts/parser.toml
  crates/perl-corpus/concepts/positions.toml
  crates/perl-corpus/concepts/recovery.toml
  crates/perl-corpus/concepts/tree_sitter.toml
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

feat(perl-corpus): add deterministic inventory report API and command (#0000)
  crates/perl-corpus/src/bin/main.rs
  crates/perl-corpus/src/inventory.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

feat(perl-corpus): add durable parser concept registry seed (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/concepts/incremental.toml
  crates/perl-corpus/concepts/lexer.toml
  crates/perl-corpus/concepts/parser.toml
  crates/perl-corpus/concepts/positions.toml
  crates/perl-corpus/concepts/recovery.toml
  crates/perl-corpus/concepts/tree_sitter.toml
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

fix(ci): clarify parser/corpus PR gate enforcement (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  docs/reference/CI_ARCHITECTURE.md
  xtask/tests/gate_policy_parser_corpus_tests.rs
Due: none

feat(perl-corpus): seed durable concept registry (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/concepts/incremental.toml
  crates/perl-corpus/concepts/lexer.toml
  crates/perl-corpus/concepts/parser.toml
  crates/perl-corpus/concepts/positions.toml
  crates/perl-corpus/concepts/recovery.toml
  crates/perl-corpus/concepts/tree_sitter.toml
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

fix(ci-gate): clarify parser corpus gate policy precedence (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  docs/reference/CI_ARCHITECTURE.md
  justfile
  xtask/src/main.rs
  xtask/src/tasks/gate_policy.rs
  xtask/src/tasks/mod.rs
  xtask/tests/gate_policy_profile_tests.rs
Due: none

feat(perl-corpus): add durable parser concept registry seeds (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/concepts/incremental.toml
  crates/perl-corpus/concepts/lexer.toml
  crates/perl-corpus/concepts/parser.toml
  crates/perl-corpus/concepts/positions.toml
  crates/perl-corpus/concepts/recovery.toml
  crates/perl-corpus/concepts/tree_sitter.toml
  crates/perl-corpus/src/concepts.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

fix(ci): make parser corpus gating policy unambiguous (#0000)
  .ci/GATE_REGISTRY.toml
  .ci/gate-policy.yaml
  docs/reference/CI_ARCHITECTURE.md
  justfile
  xtask/src/main.rs
  xtask/src/tasks/gate_policy.rs
  xtask/src/tasks/mod.rs
Due: none

refactor(xtask): expose parser corpus sweep primitives (#0000)
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

feat(xtask): add parser-ratchet scaffold producer (#0000)
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
Due: none

feat(ci-scope): emit parser ratchet lane decision (#0000)
  xtask/src/tasks/ci_scope.rs
  xtask/tests/ci_scope_tests.rs
Due: none

feat(perl-corpus): add parser fixture expectation sidecars (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/src/fixture_expectations.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/tests/fixture_expectation_sidecars.rs
  tests/perl-corpus/ambiguity/regex_vs_division.meta.toml
  tests/perl-corpus/ambiguity/regex_vs_division.pl
  tests/perl-corpus/heredoc/basic_heredoc.meta.toml
  tests/perl-corpus/heredoc/basic_heredoc.pl
  tests/perl-corpus/quote_like/qw_delimiter.meta.toml
  tests/perl-corpus/quote_like/qw_delimiter.pl
  tests/perl-corpus/recovery/missing_closing_brace.meta.toml
  tests/perl-corpus/recovery/missing_closing_brace.pl
  tests/perl-corpus/recovery/missing_delimiter.meta.toml
  tests/perl-corpus/recovery/missing_delimiter.pl
  tests/perl-corpus/spans/utf16_crlf_positions.meta.toml
  tests/perl-corpus/spans/utf16_crlf_positions.pl
Due: corpus

feat(perl-corpus): add corpus fixture expectation sidecars (#0000)
  Cargo.lock
  crates/perl-corpus/Cargo.toml
  crates/perl-corpus/src/fixture_expectations.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-corpus/tests/fixture_sidecar_validation.rs
  tests/perl-corpus/ambiguity/regex_vs_division.meta.toml
  tests/perl-corpus/ambiguity/regex_vs_division.pl
  tests/perl-corpus/heredoc/heredoc_and_data_section.meta.toml
  tests/perl-corpus/heredoc/heredoc_and_data_section.pl
  tests/perl-corpus/quote_like/custom_delimiter.meta.toml
  tests/perl-corpus/quote_like/custom_delimiter.pl
  tests/perl-corpus/recovery/missing_closing_brace.meta.toml
  tests/perl-corpus/recovery/missing_closing_brace.pl
  tests/perl-corpus/spans/utf16_crlf_positions.meta.toml
  tests/perl-corpus/spans/utf16_crlf_positions.pl
Due: corpus

refactor(xtask): expose parser corpus sweep measurement primitives (#0000)
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

feat(xtask): add parser-ratchet scaffold command (#0000)
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
  xtask/tests/parser_ratchet_cli.rs
Due: none

feat(xtask): add parser-ratchet scaffold command (#0000)
  .ci/receipts/schemas/common-gate-receipt.schema.json
  xtask/src/main.rs
  xtask/src/tasks/gate_receipts.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
  xtask/tests/parser_ratchet_cli.rs
Due: none

feat(parser-ratchet): compare live base vs candidate metrics (#6847) (#6912)
  .ci/parser-ratchet/profiles/pr.toml
  .ci/receipts/schemas/parser-ratchet.schema.json
  docs/ci/parser-ratchet-comparator.md
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/parser_ratchet.rs
  xtask/src/tasks/parser_ratchet_compare.rs
  xtask/tests/fixtures/parser-ratchet/equal.base.json
  xtask/tests/fixtures/parser-ratchet/equal.head.json
  xtask/tests/fixtures/parser-ratchet/improvement.base.json
  xtask/tests/fixtures/parser-ratchet/improvement.head.json
  xtask/tests/fixtures/parser-ratchet/panic.base.json
  xtask/tests/fixtures/parser-ratchet/panic.head.json
  xtask/tests/fixtures/parser-ratchet/runtime.base.json
  xtask/tests/fixtures/parser-ratchet/runtime.head.json
  xtask/tests/fixtures/parser-ratchet/system-unchanged.base.json
  xtask/tests/fixtures/parser-ratchet/system-unchanged.head.json
  xtask/tests/fixtures/parser-ratchet/system-worse.base.json
  xtask/tests/fixtures/parser-ratchet/system-worse.head.json
Due: none

feat(editor-intelligence): add document-symbol gold fixture lane (#5154) (#7011)
  crates/perl-corpus/src/gold.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-lsp-rs/tests/editor_intelligence_scorecard.rs
  test_corpus/gold/symbols_subs_and_pkg/expected.json
  test_corpus/gold/symbols_subs_and_pkg/expected_symbols.json
  test_corpus/gold/symbols_subs_and_pkg/fixture.pl
Due: corpus

docs(readme): modernize to concise Diataxis structure (#6728)
  README.md
Due: none

perf(perl-dap): reduce DAP transport framing/write churn (#0000) (#6211)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/transport.rs
Due: dap

ci(parser): classify remaining corpus dirt for final accuracy ratchet (#6499) (#6232)
  .ci/parser-corpus-baseline.json
Due: none

test(update-status): enforce parser marker contract (#0000)
  docs/project/status/parser.md
  xtask/src/tasks/update_status/parser.rs
Due: none

test(xtask): enforce parser status marker contract (#0000)
  xtask/src/tasks/update_status/mod.rs
  xtask/tests/post_merge_status_regen_tests.rs
Due: none

docs(forensics): 2026-04-28 architecture foundation + 58-merge session retrospective (#7130)
  docs/forensics/2026-04-28-architecture-foundation-and-58-merge-session.md
Due: none

fix(xtask): fold discovery_ms into elapsed_secs and total_ms in measure_manifest
  xtask/src/tasks/parser_corpus_sweep.rs
Due: none

fix(perl-corpus): align toml dep to workspace version 1.1.2 for PR #7136
  crates/perl-corpus/Cargo.toml
Due: none

fix(perl-corpus): align toml dep to workspace version 1.1.2 (#7136)
  crates/perl-corpus/Cargo.toml
Due: none

feat(queue): project labels from canonical PR state (#6853)
  .ci/receipts/schemas/label-projection.schema.json
  .ci/state/label-projection.toml
  docs/ci/label-projection.md
  xtask/src/main.rs
  xtask/src/tasks/label_projector.rs
  xtask/src/tasks/mod.rs
  xtask/tests/fixtures/label-projector/merge-ready-missing-receipt.json
  xtask/tests/fixtures/label-projector/needs-builder-fix.json
Due: none

docs(kiro): align IDE/CLI setup guidance (#0000)
  docs/EDITORS/KIRO_SETUP.md
  docs/how-to/EDITOR_SETUP.md
  docs/how-to/TROUBLESHOOTING.md
  docs/reference/CONFIG.md
Due: none

fix(perl-lsp-rs): adjust test tolerance for CI scheduler jitter in file_watcher_debouncer_coalesces_bulk_operations (#7070)
  crates/perl-lsp-rs/src/runtime/file_watcher_debounce.rs
Due: none

style: cargo xtask fmt for inventory re-export
  crates/perl-corpus/src/lib.rs
Due: corpus
