Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(ux): cover workspace folder addition freshness (#0000) (#5403)
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/tests/ux_scenario_19_workspace_folder_addition.rs
Due: none

test(lsp): strengthen diagnostics golden UX coverage (#0000) (#5399)
  crates/perl-lsp-rs/tests/lsp_golden_tests.rs
Due: none

chore: update status files for CI Gate compliance
  docs/project/status/dap.md
  docs/project/status/editor_ux.json
  docs/project/status/quality.md
  docs/project/status/tests.md
Due: none

test(perl-dap): remove unwrap in protocol compliance tests (#0000) (#5369)
  crates/perl-dap/tests/dap_protocol_compliance_tests.rs
Due: none

test(fuzz): add lexer, DAP eval, and DAP stack parser fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/dap_eval_validator.rs
  fuzz/fuzz_targets/dap_stack_parser.rs
  fuzz/fuzz_targets/lexer_tokenization.rs
  justfile
Due: none

Fix two bugs: unreachable dead code in transliteration parser and inconsistent emoji ranges in unicode analyzer
  crates/perl-lexer/src/unicode.rs
  crates/perl-parser-core/src/syntax/quote.rs
Due: lexer

test(lexer): add failing tests for exponent sign with no digits
  crates/perl-lexer/src/lib.rs
Due: lexer

fix(lexer): correct backtrack for exponent sign with no digits
  crates/perl-lexer/src/lib.rs
Due: lexer

docs: add crate READMEs for perl-diagnostics and perl-module, plus LSP features overview
  crates/perl-diagnostics/README.md
  crates/perl-module/README.md
  docs/reference/LSP_FEATURES_OVERVIEW.md
Due: none

test(perl-corpus): expand codegen coverage-index tests (#0000) (#5359)
  crates/perl-corpus/src/codegen.rs
Due: corpus

plan(hooks): add implementation spec for #4464
  .spec/4464-pre-tool-use/acceptance.md
  .spec/4464-pre-tool-use/checklist.md
  .spec/4464-pre-tool-use/context.md
Due: none

fix(lexer): harden quote-like and transliteration tokenization (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
Due: lexer

plan(xtask): add implementation spec for #4105
  .spec/4105-metrics-ratchet/acceptance.md
  .spec/4105-metrics-ratchet/checklist.md
  .spec/4105-metrics-ratchet/context.md
Due: none

plan(xtask): add implementation spec for #4070
  .spec/4070-engineering-health-scorecard/acceptance.md
  .spec/4070-engineering-health-scorecard/checklist.md
  .spec/4070-engineering-health-scorecard/context.md
Due: none

plan(lsp): add implementation spec for #4066
  .spec/4066-editor-intelligence-scorecard/acceptance.md
  .spec/4066-editor-intelligence-scorecard/checklist.md
  .spec/4066-editor-intelligence-scorecard/context.md
Due: none

fix(perl-parser): implement map_old_position_to_new and try_register_match for advanced reuse (#6696)
  crates/perl-parser/src/incremental/incremental_advanced_reuse.rs
Due: parser

fix(workspace-memory): replace f64::EPSILON with 1e-9 tolerance in scaling tests
  crates/perl-workspace-index/src/workspace/memory.rs
Due: none

test(parser-core): add class DoubleColon and named-param colon guard tests
  crates/perl-parser-core/tests/fix_class_disambig_edge_cases.rs
Due: none

test(parser-core): add edge cases for class-keyword and signature-attr disambiguation
  crates/perl-parser-core/tests/fix_class_disambig_edge_cases.rs
Due: none

fix(parser): disambiguate class calls and signature param attrs (#0000)
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/fix_signature_param_validation_3359.rs
  crates/perl-parser-core/tests/native_class_isa_tests.rs
Due: none

fix(fmt): apply cargo fmt to perl-pragma comprehensive_unit_tests.rs (#0000)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(fmt): apply cargo fmt to perl-pragma comprehensive_unit_tests.rs (#0000) (#6803)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(completion): include lexical use lib paths in module completion roots (#4314) (#6783)
  crates/perl-lsp-rs/src/runtime/language/completion.rs
Due: none

perf: remove redundant onStartupFinished activation (#6747) (#6780)
  docs/performance-activation-fix.md
Due: none

fix(tree-sitter-perl): remove invalid ^^ operator from Perl grammar (#6781) (#6769)
  archive/crates/tree-sitter-perl-rs/src/grammar.pest
  crates/perl-parser-pest/src/grammar.pest
  crates/tree-sitter-perl-c/c-src/parser.c
  tree-sitter-perl/grammar.js
  tree-sitter-perl/test/corpus/operators
Due: none

test(core): add mutation hardening tests for path security & qualified names (#0000) (#6741)
  .cargo/mutants.toml
  crates/perl-parser-core/tests/path_normalize_mutation_hardening.rs
  crates/perl-parser-core/tests/path_security_mutation_hardening.rs
  crates/perl-parser-core/tests/qualified_name_mutation_hardening.rs
  docs/project/status/dap.md
  docs/project/status/editor_ux.json
  docs/project/status/quality.md
  docs/project/status/tests.md
  justfile
Due: none

fix(fmt): apply cargo xtask fmt for #0000 (#0000)
  crates/perl-lsp-rs/src/runtime/text_sync.rs
Due: none

fix(fmt): apply cargo xtask fmt for #0000 (#0000)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
Due: none

fix(fmt): apply cargo fmt to perl-semantic-analyzer fuzz tests (#0000)
  crates/perl-semantic-analyzer/tests/semantic_pipeline_fuzz_tests.rs
Due: none

fix(fmt): apply cargo fmt to perl-semantic-analyzer fuzz tests (#0000) (#6807)
  crates/perl-semantic-analyzer/tests/semantic_pipeline_fuzz_tests.rs
Due: none

docs(readme): clean up mojibake, orphan text, tighten prose (#0000)
  README.md
Due: none

fix(parser-core): coexist with #6254 invocant separator support
  crates/perl-parser-core/src/engine/parser/variables.rs
Due: none

docs(agents)+claude.md: enforce master-green-and-required-for-merge directive
  .claude/agents/diff-auditor.md
  .claude/agents/ops.md
  .claude/agents/reviewer.md
  CLAUDE.md
Due: none

diff-fix: strip cross-PR contamination from sibling diffguard-bot work streams (per reviewer-deep #5870)
  adr/0032-no-assertion-test-triage-classification.md
  adr/0032-no-assertion-test-triage-specs.md
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_carp_croak_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_confess_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_croak_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_die_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_exit_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_last_followed_by_statement.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_multiple_unreachable.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_next_no_false_positive.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__continue_block_redo_no_false_positive.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__for_loop_with_continue_block.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__foreach_loop_with_continue_block.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__loop_body_unreachable_unchanged.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__no_unreachable_code.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__until_loop_with_continue_block.snap
  crates/perl-lsp-diagnostics/tests/snapshots/unreachable_code_snapshot_tests__while_loop_with_continue_block.snap
  crates/perl-lsp-diagnostics/tests/unreachable_code_continue_integration_tests.rs
  crates/perl-lsp-diagnostics/tests/unreachable_code_property_tests.rs
  crates/perl-lsp-diagnostics/tests/unreachable_code_snapshot_tests.rs
Due: none

docs(agents)+claude.md: reframe — sign-off IS a routing decision (not a separate category)
  .claude/agents/reviewer.md
  CLAUDE.md
Due: none

fix(vscode-extension): correct language reference and apply onStartupFinished removal per #6780 (#0000)
  docs/performance-activation-fix.md
  vscode-extension/package.json
Due: none

fix(vscode-extension): correct language reference and apply onStartupFinished removal per #6780 (#0000) (#6809)
  docs/performance-activation-fix.md
  vscode-extension/package.json
Due: none

fix(perl-parser): repair doc_lazy_continuation clippy warnings (#0000)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
Due: parser

fix(perl-parser): repair doc_lazy_continuation clippy warnings (#0000) (#6810)
  crates/perl-parser/src/incremental/incremental_checkpoint.rs
Due: parser
