Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(lsp): reset pull perlcritic analyzer on config change
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_perlcritic_diagnostics_tests.rs
Due: lsp

fix(runtime): reset pull diagnostics critic state on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(workspace-index): prefer most specific workspace folder match
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(lsp): reset pull diagnostics critic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(ci-hygiene): detect TODO comments after URL-like // tokens
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(lsp): reset pull perlcritic analyzer on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_perlcritic_diagnostics_tests.rs
Due: lsp

fix(perl-uri): strip query/fragment before extension split
  crates/perl-uri/src/classify.rs
Due: none

fix(perl-lsp): reset pull-diagnostics perlcritic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(runtime): reset pull perlcritic cache on config changes
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(perlcritic): reset pull diagnostics cache on config changes
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(ci-hygiene): tighten machine-specific path detection in docs check
  crates/perl-ci-hygiene/src/main.rs
Due: none

test(rs-core): remove transport deferred warning (#4559)
  crates/perl-lsp-rs-core/tests/runtime_g2_transport_deferred.rs
Due: none

fix(incremental): restore benchmark deps and relex metrics accounting (#4560)
  Cargo.lock
  crates/perl-incremental-parsing/Cargo.toml
  crates/perl-incremental-parsing/src/incremental/incremental_checkpoint.rs
Due: none

fix(parser-core): parse ternary after bare unary-style calls (#4558)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_ternary_stmt_start.rs
Due: none

fix(diagnostics): reset pull perlcritic analyzer on config changes (#0000) (#4564)
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_perlcritic_diagnostics_tests.rs
Due: lsp

fix(lifecycle): enforce initialized ordering and single-use (#4575)
  crates/perl-lsp/src/runtime/dispatch/lifecycle.rs
Due: lsp

fix(perl-module): avoid rename false positives in package/quoted contexts (#4423) (#4554)
  crates/perl-module/src/rename/mod.rs
  crates/perl-module/tests/facade_api_completeness.rs
  crates/perl-module/tests/rename_comprehensive_unit_tests.rs
Due: none

fix(tests): repair workspace test-target compile drift (#4508)
  crates/perl-parser/tests/incremental_performance_tests.rs
  crates/perl-parser/tests/mutation_hardening_tests.rs
  crates/perl-tdd-support/tests/guardrail_tests.rs
Due: none

refactor(platform): dedupe platform functions across perl-dap + perl-lsp-rs-core (#4545) (#4551)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/platform/mod.rs
  crates/perl-dap/tests/platform_dedup_verification.rs
  crates/perl-lsp-rs-core/src/platform.rs
Due: dap

fix(diagnostics): reset pull critic cache on config change
  crates/perl-lsp/src/runtime/diagnostics.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(performance): normalize incremental parser change spans
  crates/perl-lsp-rs-core/src/performance/mod.rs
  crates/perl-lsp-rs-core/tests/performance_module_shape.rs
Due: none

fix(dap): clamp inline value line bounds (#0000)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(hover): surface inline POD inside subroutine bodies as hover docs (#3407) (#4403)
  crates/perl-semantic-analyzer/src/analysis/semantic/node_analysis.rs
  crates/perl-semantic-analyzer/tests/inline_pod_hover_tests.rs
Due: none

feat(gate): integrate published-crate-count into CI gate-policy (#4416) (#4517)
  .ci/gate-policy.yaml
  .hermes/conveyor/work-3f55ebbe/adr-0043-published-crate-count-ratchet.md
  .hermes/conveyor/work-3f55ebbe/specs.md
  .hermes/conveyor/work-3f55ebbe/task-list.md
  CHANGELOG.md
  Cargo.lock
  docs/adr/0042-no-assertion-test-triage-classification.md
  docs/adr/0042-no-assertion-test-triage-specs.md
  flake.nix
  xtask/src/tasks/count_ratchet.rs
  xtask/tests/count_ratchet_output_snapshots.rs
  xtask/tests/published_crate_count_gate_integration.rs
Due: none

feat(release): source GitHub Release body from docs/releases/vX.Y.Z.md (#4402)
  .github/workflows/release-orchestration.yml
  .github/workflows/release.yml
  RELEASE.md
  xtask/src/main.rs
  xtask/src/tasks/mod.rs
  xtask/src/tasks/release_notes.rs
  xtask/tests/release_notes_cli.rs
Due: none

fix(ci-hygiene): detect TODO comments after URL-like // tokens (#4583)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): tighten machine-specific path detection in docs check (#4593)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(workspace-index): prefer most specific workspace folder match (#4581)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(dap): clamp inline value line bounds (#0000) (#4597)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(performance): normalize incremental parser change spans (#4596)
  crates/perl-lsp-rs-core/src/performance/mod.rs
  crates/perl-lsp-rs-core/tests/performance_module_shape.rs
Due: none

fix(perl-uri): strip query/fragment before extension split (#4587)
  crates/perl-uri/src/classify.rs
Due: none

fix(tests): repair workspace test-target compile drift (#4508) (#4556)
  crates/perl-parser/tests/incremental_performance_tests.rs
  crates/perl-parser/tests/mutation_hardening_tests.rs
  crates/perl-tdd-support/tests/guardrail_tests.rs
Due: none

fix(dap): support namespace-qualified inline variables
  crates/perl-dap/src/inline_values.rs
Due: dap

feat(metrics): add warm reparse benchmark and parser scorecard design doc (#4063) (#4395)
  crates/perl-incremental-parsing/src/incremental/mod.rs
  crates/perl-parser/benches/incremental_benchmark.rs
  docs/project/metrics/parser.md
Due: none

fix(ci-hygiene): avoid TODO false positives in raw string literals
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(dap): support namespace-qualified inline variables (#4598)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(ci-hygiene): avoid TODO false positives in raw string literals (#4591)
  crates/perl-ci-hygiene/src/main.rs
Due: none

feat(diagnostics): add PL410 lint for next/last/redo to undefined labels (#3372)
  crates/perl-diagnostics/src/codes/mod.rs
  crates/perl-diagnostics/tests/codes_diagnostic_code_completeness.rs
  crates/perl-lsp-rs-core/src/providers/diagnostics/diagnostics.rs
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/loop_control_label.rs
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/mod.rs
  crates/perl-lsp-rs-core/tests/loop_control_label_tests.rs
Due: none

docs: clarify VS Marketplace badge deprecation across README and PUBLISHING files
  README.md
  vscode-extension/PUBLISHING.md
  vscode-extension/README.md
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
