Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(parser): recover incomplete string interpolation indexing (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
Due: lexer

fix(parser): recover incomplete interpolation indexing in strings (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
Due: lexer

fix(parser): recover incomplete string interpolation indexing without ERROR nodes (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
Due: lexer

fix(parser): recover incomplete string interpolation indexing (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
Due: lexer

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/fix_bare_call_low_precedence_binding.rs
Due: none

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_bare_call_low_precedence_binding.rs
Due: none

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/named_unary_bare_call_binding_tests.rs
Due: none

ci(parser): stabilize CPAN corpus ratchet batching (#0000)
  xtask/src/tasks/cpan_corpus.rs
Due: none

ci(parser): stabilize CPAN corpus ratchet for accuracy closeout (#0000)
  xtask/src/tasks/cpan_corpus.rs
Due: none

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/named_unary_low_precedence_binding_tests.rs
Due: none

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/bare_call_binding_regression_tests.rs
Due: none

fix(perl-dap): strengthen stability test — 20 samples + absolute ceiling
  crates/perl-dap/tests/dap_performance_tests.rs
Due: none

test(perl-dap): add same-line duplicate breakpoints with different conditions
  crates/perl-dap/src/breakpoints.rs
Due: dap

fix(parser-core): preserve ternary and low-precedence binding after bare calls (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/bare_call_binding_regression_tests.rs
Due: none

fix(perl-dap): add USERPROFILE and PREFIX to interpreter discovery cache key
  crates/perl-dap/src/platform/mod.rs
Due: dap

fix(parser): recover incomplete string interpolation indexing (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
Due: lexer

fix(parser): recover incomplete string interpolation indexing without ERROR nodes (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
Due: lexer

fix(master): resolve fmt + format-string bit-rot blocking 30+ PRs (#0000)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs/src/runtime/language/completion.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
  xtask/src/tasks/ux_scorecard.rs
Due: none

fix(parser): recover incomplete interpolation indexing in strings (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/comprehensive_unit_tests.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/string_interpolation_incomplete_tests.rs
Due: lexer

fix(parser): harden transliteration parsing and ratchet regressions (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/fix_transliteration_strict_parsing.rs
  crates/perl-parser/tests/fuzz_transliteration_crash_repro.rs
  crates/perl-parser/tests/quote_transliteration_regression_bank.rs
Due: none

fix(vscode): prevent symlink escape on include dir creation (#0000)
  vscode-extension/src/extension.ts
  vscode-extension/src/test/extensionUx.test.ts
Due: none

test(vscode): add non-vacuous symlink escape test exercising mkdir guard
  vscode-extension/src/test/extensionUx.test.ts
Due: none

fix(parser): harden transliteration parsing and ratchet regressions (#0000)
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/fix_transliteration_strict_parsing.rs
  crates/perl-parser/tests/fuzz_transliteration_crash_repro.rs
  crates/perl-parser/tests/quote_transliteration_regression_bank.rs
Due: none

fix(parser): handle nullary builtin comma sequence (#0000)
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_unexpected_comma_expr.rs
  docs/project/status/parser.md
Due: none

fix(parser): add comma/list corpus regressions (#0000)
  crates/perl-parser-core/tests/fix_unexpected_comma_expr.rs
  docs/project/status/parser.md
Due: none

fix(parser): close remaining comma and list-builtin corpus failures (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_unexpected_comma_expr.rs
  docs/project/status/parser.md
Due: none

fix(parser): handle anonymous-sub comma list tails (#0000)
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_unexpected_comma_expr.rs
Due: none

fix(parser): recover delimiter ownership at sibling closers (#0000)
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/recovery_missing_closer.rs
Due: none

fix(parser): tighten delimiter ownership recovery (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/recovery_missing_closer.rs
Due: none

fix(parser): reduce unclosed paren delimiter misses (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/fix_main_stash_access.rs
  crates/perl-parser-core/tests/fix_unclosed_paren_patterns.rs
Due: none

fix(parser): recover missing hash closers in postfix chains (#0000)
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/recovery_missing_closer.rs
Due: none

fix(parser): handle catch TYPE with block shape (#0000)
  crates/perl-parser-core/src/engine/parser/control_flow.rs
  crates/perl-parser-core/tests/fix_try_catch_with_block_shape.rs
Due: none

fix(parser): tighten type/signature declaration parsing (#0000)
  crates/perl-parser-core/src/engine/parser/typed_variable_declaration_tests.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/fix_signature_param_validation_3359.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
