Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

perf: optimize interpolated string regex with OnceLock
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/symbol_perf_test.rs
Due: none

feat(vscode): make status menu context-aware
  vscode-extension/src/extension.ts
Due: none

Fix safe evaluation bypass via package qualification
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
Due: dap

perf(analyzer): optimize interpolated string regex with OnceLock
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/interpolated_perf_test.rs
Due: none

🛡️ Sentinel: [MEDIUM] Fix incomplete safe evaluation blocklist
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
Due: dap

perf: Optimize builtin function checks with PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

feat(vscode): make status menu actions context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat(perf): Optimize `ScopeAnalyzer::is_known_function` using PHF
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/scope_perf_test.rs
Due: none

feat: make status menu items context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat(lsp): Enforce strict validation for subroutine names in runTestSub
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/tests/execute_command_security_tests.rs
Due: lsp

🎨 Palette: Make status menu context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

fix(perl-dap): block package-qualified dangerous ops in safe eval
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

perf: Optimize is_known_function with PHF lookup
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

Optimize documentation extraction in SemanticAnalyzer
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

feat(vscode): make Status Menu context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Enforce fail-closed security in ExecuteCommandProvider
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-lsp/tests/execute_command_security_tests.rs
Due: lsp

Optimize regex in symbol extractor
  .Jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/interpolated_string_perf.rs
Due: none

feat(dap): enforce workspace path validation on launch
  .jules/sentinel.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_launch_security_tests.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

feat(perf): Optimize symbol extraction regex with OnceLock
  .jules/bolt.md
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

feat(ux): make status menu context-aware
  vscode-extension/src/extension.ts
Due: none

perf(analyzer): optimize regex compilation in symbol extraction
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

feat: secure execution in single-file mode
  .jules/sentinel.md
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-lsp/tests/execute_command_mutation_hardening_public_api_tests.rs
  crates/perl-lsp/tests/execute_command_security_tests.rs
Due: lsp

🎨 Palette: Improve Status Menu UX with context-aware actions
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

perf(semantic-analyzer): optimize interpolated string regex with OnceLock
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

Refactor: Centralize security validation in perl-dap
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/security.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/security_breakpoints_tests.rs
Due: dap

perf: optimize extract_documentation with manual scanning
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

feat(vscode): improve status menu UX with explicit disabled states
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

feat: Enforce strict safe evaluation by blocking package-qualified dangerous ops
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
Due: dap

Optimize symbol extraction regex with OnceLock
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/regex_perf_test.rs
Due: none

fix(dap): block package-qualified dangerous ops in safe eval
  crates/perl-dap/src/debug_adapter.rs
Due: dap

Optimize `is_known_function` in ScopeAnalyzer using PHF
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
Due: none

Add inlineValues lifecycle coverage
  crates/perl-dap/tests/session_lifecycle_tests.rs
Due: none

UX: Make status menu items context-aware
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none

Fix path traversal vulnerability in DAP launch configuration
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_security_validation_tests.rs
  crates/perl-dap/tests/security_repro_test.rs
Due: dap

feat(ux): make status menu actions context-aware
  vscode-extension/src/extension.ts
Due: none

feat(semantic-analyzer): optimize is_builtin_function using PHF
  crates/perl-semantic-analyzer/src/analysis/semantic.rs
Due: none

perf: optimize ScopeAnalyzer::is_known_function with PHF
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/scope_perf_test.rs
Due: none

🛡️ Sentinel: [HIGH] Block control flow and package keywords in safe eval
  crates/perl-dap/src/debug_adapter.rs
Due: dap

feat(vscode): implement context-aware status menu
  .Jules/palette.md
  vscode-extension/src/extension.ts
Due: none
