Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(perl-dap): accept spaced main context paths (#8197) (#48)
  crates/perl-dap/src/stack/parser.rs
Due: dap

fix(perl-dap): accept spaced hash frame heuristic (#8197) (#79)
  crates/perl-dap/src/stack/parser.rs
Due: dap

fix(perl-lexer): enforce unindented data markers (#6601) (#75)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

fix(color): support prefixed ANSI truecolor parsing (#168) (#76)
  crates/perl-lsp-rs-core/src/providers/color/mod.rs
Due: none

fix(lsp): accept numeric string config response ids (#8197)
  crates/perl-lsp-rs/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp-rs/src/runtime/workspace.rs
Due: none

fix(perl-ci-hygiene): handle nested Perl quote-like delimiters (#4804) (#62)
  crates/perl-ci-hygiene/src/commands/todos.rs
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(lsp): detect =begin/=end POD in fallback folding (#2022) (#55)
  crates/perl-lsp-rs/src/fallback/text.rs
Due: none

test(semantic-tokens): add phase-block trace receipt (#8197) (#161)
  .perl-lsp/goals/active.toml
  crates/perl-lsp-rs-core/src/providers/semantic_tokens/semantic_tokens_shadow.rs
  crates/perl-lsp-rs/src/runtime/language/semantic_tokens.rs
  crates/perl-lsp-rs/src/runtime/language/semantic_tokens_runtime_quality_tests.rs
  docs/project/status/SUPPORT_TIERS.md
  docs/project/status/provider_confidence_matrix.md
  docs/project/status/provider_cutover.md
  docs/project/status/provider_promotion_ledger.md
  docs/project/status/real_perl_editor_trust_v1.md
  docs/project/status/ux_capability_dashboard.md
  docs/specs/PLSP-SPEC-0019-semantic-token-class-promotion-contract.md
  policy/provider-promotion-ledger.toml
  policy/semantic-token-classes.toml
  xtask/src/tasks/semantic_token_classes.rs
Due: none

test(lsp): cover workspace configuration result merging (#8197)
  crates/perl-lsp-rs/src/runtime/workspace/configuration_response.rs
Due: none

refactor(code-actions): deduplicate pragma edit mapping (#8197)
  crates/perl-lsp-rs/src/runtime/language/code_actions.rs
Due: none

refactor(code-actions): deduplicate diagnostic code alias matching (#8197)
  crates/perl-lsp-rs/src/features/code_actions_provider/mod.rs
Due: none

goals: advance active trust lane after phase-block proof (#8197) (#176)
  .perl-lsp/goals/active.toml
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

fix(lsp): treat zero command timeout as disabled (#8197)
  crates/perl-lsp-rs/src/util/command_timeout.rs
Due: none

fix(perl-regex): ignore whitespace in modifier parsing (#8197)
  crates/perl-regex/src/analyzer/hover.rs
  crates/perl-regex/tests/comprehensive_unit_tests.rs
Due: none

fix(completion): detect regex flags for non-slash delimiters (#8197)
  crates/perl-lsp-rs-core/src/providers/completion/completion/lexical_context.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/tests.rs
Due: none

fix(lsp): skip wasted push diagnostics on open path (#174) (#119)
  crates/perl-lsp-rs/src/runtime/diagnostics.rs
  crates/perl-lsp-rs/src/runtime/text_sync.rs
Due: none

refactor(perl-lexer): simplify line end helper contract (#8197)
  crates/perl-lexer/src/lexer/helpers/line_scanning.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/tests.rs
Due: lexer

test(perl-lexer): add unicode marker offset coverage (#8197)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

test(perl-lexer): add uppercase exponent fallback case (#8197)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/tests.rs
Due: lexer

test(completion): prove constant provider substrate (#8197) (#178)
  crates/perl-lsp-rs-core/src/providers/completion/completion_shadow.rs
  crates/perl-semantic-analyzer/src/analysis/import_extractor.rs
  docs/project/status/provider_confidence_matrix.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

goals: advance active lane after constant proof (#8197) (#179)
  .perl-lsp/goals/active.toml
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

fix(lexer): allow keycap combining mark in identifier continue (#8197)
  crates/perl-lexer/src/unicode.rs
Due: lexer

fix(perl-workspace): normalize rootPath and workspace folder URI inputs (#177) (#28)
  crates/perl-workspace/src/folder/mod.rs
Due: none

refactor(parser): reduce duplicated Program-node assertions (#8197)
  crates/perl-parser-core/src/engine/parser/unclosed_block_recovery_tests.rs
Due: none

fix(perl-parser): clamp indent lookup position (#8197)
  crates/perl-parser/src/ast_utils.rs
Due: parser

docs(status): align semantic-token promotion ledger (#8197) (#180)
  docs/project/status/provider_promotion_ledger.md
  docs/project/status/real_perl_editor_trust_v1.md
  policy/provider-promotion-ledger.toml
Due: none

test(parser): cover labeled redo in ternary branch (#8197)
  crates/perl-parser-core/src/engine/parser/control_flow_expr_tests.rs
Due: none

goals: advance active lane to prototype table (#8197) (#182)
  .perl-lsp/goals/active.toml
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

feat(hir): add prototype table facts (#8197) (#183)
  crates/perl-parser-core/src/hir/lower.rs
  crates/perl-parser-core/src/hir/mod.rs
  crates/perl-parser-core/src/hir/model.rs
  crates/perl-parser-core/tests/hir_tests.rs
  docs/project/status/compiler_facts.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

fix(perl-uri): trim source path uri inputs (#0000) (#32)
  crates/perl-uri/src/fs.rs
  crates/perl-uri/src/lib.rs
Due: none

goals: advance active lane after prototype table (#8197) (#185)
  .perl-lsp/goals/active.toml
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

feat(hir): add bareword classifier facts (#8197) (#190)
  crates/perl-parser-core/src/hir/lower.rs
  crates/perl-parser-core/src/hir/mod.rs
  crates/perl-parser-core/src/hir/model.rs
  crates/perl-parser-core/tests/hir_tests.rs
  docs/project/status/compiler_facts.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

fix(uri): trim surrounding whitespace before parse (#187) (#30)
  crates/perl-lsp-rs-core/src/uri/mod.rs
  crates/perl-lsp-rs-core/tests/uri_module_shape.rs
Due: none

goals: advance active lane after bareword classifier (#8197) (#192)
  .perl-lsp/goals/active.toml
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

test(perl-workspace): cover encoded workspace file URI paths (#191) (#29)
  crates/perl-workspace/src/folder/mod.rs
Due: none

fix(perl-workspace): normalize trailing separators in bare_name (#193) (#27)
  crates/perl-workspace/src/semantic/visibility.rs
Due: none

test(parser): expand tie nodekind coverage (#195) (#65)
  crates/perl-parser-core/src/engine/parser/tie_tests.rs
Due: none

docs(spec): define determinism receipt v1 (#8197) (#194)
  .perl-lsp/goals/active.toml
  docs/project/status/real_perl_editor_trust_v1.md
  docs/specs/PLSP-SPEC-0017-fact-provenance-and-source-backing.md
  docs/specs/PLSP-SPEC-0022-module-path-authority.md
  docs/specs/PLSP-SPEC-0023-ambient-inputs.md
  docs/specs/PLSP-SPEC-0025-pir-v0.md
  docs/specs/PLSP-SPEC-0026-determinism-receipt-v1.md
  plans/real-perl-editor-trust/implementation-plan.md
Due: none

test(perl-ast): strengthen nodekind coverage assertions (#196) (#67)
  crates/perl-ast/tests/nodekind_coverage_tests.rs
Due: none

test(perl-parser): improve nodekind helper coverage (#198) (#64)
  crates/perl-parser/tests/nodekind_helpers_tests.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
