Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(incremental): fix vacuous assertion, add edge case tests, update doc comment
  crates/perl-parser/src/incremental/incremental_boundary_regressions.rs
  crates/perl-parser/src/incremental/incremental_document.rs
Due: parser

fix(tree-sitter-perl-rs): correct collect_visible_use_imports to only match Use AST nodes
  crates/tree-sitter-perl-rs/examples/semantic_overlay_queries.rs
  crates/tree-sitter-perl-rs/src/lib.rs
  crates/tree-sitter-perl-rs/tests/behavior_spec_tests.rs
Due: none

chore: remove committed worktree artifact (#5210)
  .claude/scheduled_tasks.lock
Due: none

feat(workspace): complete dynamic scoped config refresh flow (#0000)
  .claude/scheduled_tasks.lock
  crates/perl-lsp-rs/src/runtime/lifecycle/workspace.rs
Due: none

fix(lexer-checkpoint): harden checkpoint edit application and cache invariants (#0000)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

fix(lexer-checkpoint): harden checkpoint edit application and cache invariants (#0000)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/tests/checkpoint_regression_tests.rs
Due: lexer

test(lexer-keywords): lock down keyword inventory invariants and drift checks (#0000)
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/keywords_edge_cases.rs
Due: lexer

test(lexer-keywords): lock down keyword inventory invariants and drift checks (#0000)
  crates/perl-lexer/src/keywords/mod.rs
Due: lexer

fix(deps): upgrade rustls-webpki to v0.103.13 to address security vulnerability
  Cargo.lock
Due: none

test(lexer-keywords): lock keyword inventory invariants (#0000)
  crates/perl-lexer/tests/keywords_edge_cases.rs
Due: none

test(lexer-keywords): lock down keyword inventory invariants and drift checks (#0000)
  crates/perl-lexer/tests/keywords_edge_cases.rs
Due: none

test(lexer): expand focused regression token contracts (#0000)
  crates/perl-lexer/tests/focused_regression_contract_tests.rs
Due: none

test(lexer): expand focused risk family regressions (#0000)
  crates/perl-lexer/tests/focused_risk_family_regressions.rs
Due: none

test(lexer): expand focused risk-family regressions (#0000)
  crates/perl-lexer/tests/focused_regression_risk_families.rs
Due: none

fix(position-tracking): clamp mid-codepoint UTF-16 offsets (#0000) (#5753)
  crates/perl-position-tracking/src/convert.rs
Due: none

fix(lifecycle): add TestResult return types to 5 new test functions (#5956)
  crates/perl-lsp-rs/src/runtime/dispatch/lifecycle.rs
Due: none

fix(lexer): tighten slash disambiguation and mode-transition correctness (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lexer/tests/lexer_mode_issue_3030.rs
  crates/perl-lexer/tests/lexer_slash_timeout_tests.rs
Due: lexer

fix(lexer): tighten slash disambiguation and mode transitions (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/mode.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lexer/tests/lexer_mode_issue_3030.rs
  crates/perl-lexer/tests/lexer_slash_timeout_tests.rs
Due: lexer

fix(lexer): tighten slash disambiguation and mode-transition correctness (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/mode.rs
  crates/perl-lexer/tests/hang_risk_slash_ambiguity_tests.rs
  crates/perl-lexer/tests/lexer_mode_issue_3030.rs
  crates/perl-lexer/tests/lexer_slash_timeout_tests.rs
Due: lexer

fix(lexer): harden quote-like operator and transliteration tokenization (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/quote_handler.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
Due: lexer

fix(lexer): harden quote-like operator and transliteration tokenization (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/regex_arbitrary_delimiters_issue_444.rs
Due: lexer

fix(perl-symbol): improve UTF-16 surrogate offset mapping (#0000) (#5754)
  crates/perl-symbol/src/cursor/mod.rs
Due: none

fix(lexer): harden heredoc and data-section scanning (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/heredoc_regression_tests.rs
  crates/perl-lexer/tests/heredoc_security_tests.rs
Due: lexer

fix(lexer): harden heredoc and data marker scanning (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/heredoc_regression_tests.rs
  crates/perl-lexer/tests/heredoc_security_tests.rs
Due: lexer

fix(lexer): harden unicode BOM and span boundaries (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/unicode.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/unicode_fix_test.rs
Due: lexer

fix(lexer): harden unicode BOM and span handling (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/unicode.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/unicode_fix_test.rs
Due: lexer

fix(lexer): harden Unicode, BOM, and multibyte span handling (#0000)
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/unicode.rs
  crates/perl-lexer/tests/edge_case_tests.rs
  crates/perl-lexer/tests/unicode_fix_test.rs
Due: lexer

fix(incremental): avoid double-parse on no-reuse batch edit path
  crates/perl-parser/src/incremental/incremental_document.rs
Due: parser

fix(incremental): use deterministic sort in apply_to_string matching normalize_for_source
  crates/perl-parser/src/incremental/incremental_edit.rs
Due: parser

test(incremental): strengthen assertions and add no-reuse and same-start-sort edge cases
  crates/perl-parser/src/incremental/incremental_boundary_regressions.rs
Due: parser

fix(lexer): reuse token Arc allocations in hot paths (#0000)
  crates/perl-lexer/src/lib.rs
Due: lexer

refactor(lexer): optimize token text arc reuse (#0000)
  crates/perl-lexer/src/lib.rs
Due: lexer

perf(lexer): optimize hot-path token Arc reuse (#0000)
  crates/perl-lexer/src/lib.rs
Due: lexer

test(lexer): expand focused regression contracts (#0000)
  crates/perl-lexer/tests/focused_regression_contracts.rs
Due: none

docs+memory: session learnings from 2026-04-24 throughput cycle (#0000)
  docs/articles/SESSION_2026_04_24_ECONOMICS.md
Due: none
