Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

fix(parser): mark s///e substitution as embedded code (#975) (#1238)
  crates/perl-ast/src/ast.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/src/engine/parser/expressions/quotes.rs
  crates/perl-parser-core/tests/fix_subst_e_has_embedded_code_975.rs
  crates/perl-parser-core/tests/ripr_seam_proof_parser.rs
Due: none

fix(semantic-analyzer): trim space before qw delimiter in dependency index (#1202) (#1203)
  crates/perl-semantic-analyzer/src/analysis/index.rs
  crates/perl-semantic-analyzer/tests/ripr_seam_proof_qw_whitespace.rs
  policy/ripr-suppressions.toml
Due: none

fix(module): parse qw import list with whitespace before delimiter (#1204) (#1205)
  crates/perl-module/src/import/mod.rs
  crates/perl-module/tests/ripr_seam_proof_module_import.rs
  policy/ripr-suppressions.toml
Due: none

fix(semantic-analyzer): parse all qw/q/qq delimiter forms in import extractor (#1200) (#1292)
  crates/perl-module/tests/require_import_extractor.rs
  crates/perl-semantic-analyzer/src/analysis/import_extractor.rs
  crates/perl-semantic-analyzer/tests/require_import_resolution.rs
  crates/perl-workspace/tests/use_lib_fact_tests.rs
  policy/ripr-suppressions.toml
Due: none

refactor(parser): centralize qw/q/qq delimiter parsing into a shared helper (#1294)
  crates/perl-module/src/import/mod.rs
  crates/perl-parser-core/src/hir/model.rs
  crates/perl-parser-core/src/lib.rs
  crates/perl-parser-core/src/syntax/quote.rs
  crates/perl-parser-core/tests/ripr_seam_proof_parser.rs
  crates/perl-semantic-analyzer/src/analysis/import_extractor.rs
  crates/perl-semantic-analyzer/src/analysis/index.rs
  crates/perl-workspace/src/semantic/workspace_import_extractor.rs
  policy/ripr-suppressions.toml
Due: none

test(parser): lock print/filehandle/subscript ambiguity fixtures (#1296)
  crates/perl-parser/tests/parser_regressions.rs
Due: none

feat(perl-ast): NodeKindCategory + NodeKindFlags classification API (#911) (#1295)
  crates/perl-ast/src/classification.rs
  crates/perl-ast/src/lib.rs
  crates/perl-ast/tests/classification_tests.rs
Due: none

feat(hover): phase-block (BEGIN/END/INIT/CHECK/UNITCHECK) timing semantics (#1297) (#1298)
  crates/perl-lsp-rs/src/runtime/language/hover.rs
  crates/perl-lsp-rs/src/runtime/language/hover/hover_cards.rs
  crates/perl-lsp-rs/src/runtime/language/hover/hover_tests.rs
  policy/ripr-suppressions.toml
Due: none

feat(symbols): index our-vars and Moo/Moose has-attributes in document/workspace symbols (#1299) (#1300)
  crates/perl-lsp-rs/src/runtime/symbol_extraction.rs
  crates/perl-lsp-rs/tests/lsp_symbols_tests.rs
  crates/perl-lsp-rs/tests/lsp_workspace_symbol_tests.rs
Due: none

fix(refactor): char-aware word-boundary check in workspace rename (fixes #956) (#1288)
  crates/perl-parser/src/refactor/workspace_rename.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
  crates/perl-refactoring/tests/workspace_rename_tests.rs
  policy/ripr-suppressions.toml
Due: parser

fix(lsp): un-ignore test_incremental_completion; strengthen prefix-filter assertion (#1305) (#1306)
  .ci/debt-ledger.yaml
  crates/perl-lsp-rs/tests/lsp_completion_tests.rs
Due: none

fix(ci): merge-gate base ref origin/main (was origin/master) — un-stall merge queue
  .github/workflows/ci.yml
Due: none

fix(refactor): rename covers dereference and string-interpolation occurrences (fixes #1303) (#1304)
  crates/perl-parser/src/refactor/workspace_rename.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
  crates/perl-refactoring/tests/workspace_rename_tests.rs
Due: parser

feat(signature-help): resolve workspace method signatures for ->method() calls (#1302) (#1301)
  crates/perl-lsp-rs/src/runtime/language/hover/signature_help.rs
  crates/perl-lsp-rs/tests/lsp_signature_help_tests.rs
  policy/ripr-suppressions.toml
Due: none

fix(ci): sweep remaining origin/master base refs to origin/main (#1308) (#1310)
  .github/workflows/flake-detection.yml
  scripts/ci/pr_plan.py
  scripts/forensics/telemetry-runner.sh
  scripts/safe-pull.sh
  xtask/src/main.rs
  xtask/src/tasks/ci_pr_summary.rs
  xtask/src/tasks/freshness_check.rs
  xtask/src/tasks/queue_snapshot.rs
  xtask/src/tasks/ripr_evidence.rs
Due: none

fix(formatting): scope range-format preserve-gate to the requested range (#1313) (#1314)
  crates/perl-lsp-perltidy/src/native.rs
  crates/perl-lsp-perltidy/tests/native_formatter_parse_gate_tests.rs
Due: none

docs(agents): add autonomous-campaign guardrails to agent defs (#1316) (#1318)
  .claude/agents/AGENT_CATALOG.md
  .claude/agents/accuracy-scout.md
  .claude/agents/builder.md
  .claude/agents/diff-auditor.md
  .claude/agents/green-ci.md
  .claude/agents/green-tdd.md
  .claude/agents/lead-build.md
  .claude/agents/lead-discovery.md
  .claude/agents/ops.md
  .claude/agents/plan-reviewer.md
  .claude/agents/red-tdd.md
  .claude/agents/reviewer.md
  .claude/agents/scout-find-ci-ops-gaps.md
  .claude/agents/scout-find-dap-gaps.md
  .claude/agents/scout-find-docs-receipt-drift.md
  .claude/agents/scout-find-lsp-gaps.md
  .claude/agents/scout-find-parser-gaps.md
  .claude/agents/scout-find-robustness-gaps.md
  .claude/agents/scout.md
  .claude/agents/spec-planner.md
  docs/agents/SPEC_UPDATE_CHECKLIST.md
Due: none

docs(parser): add parser contract index (#1317) (#1319)
  CLAUDE.md
  docs/reference/PARSER_CONTRACTS.md
Due: none

docs(ast): reserve MissingStatement/Identifier/Block variants; add drift-guard tests (#915) (#1322)
  crates/perl-ast/src/ast.rs
  crates/perl-parser-core/src/engine/parser/mod.rs
Due: none

test(lexer,parser-core): conformance matrix for balanced-segment consumption (#1323) (#1324)
  crates/perl-lexer/src/lexer/helpers/balanced_segments.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
Due: lexer

fix(ux): wire enableSemanticTokens/enableFormatting; remove dead enableDiagnostics/enableRefactoring (#968) (#1290)
  .vscode/settings.json
  crates/perl-lsp-rs/tests/lsp_disabled_features_tests.rs
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/configuration.test.ts
  vscode-extension/src/test/disabledFeaturesConfig.test.ts
Due: none

fix(xtask): strip inline #[cfg(test)] blocks from patch-coverage LCOV (#1326) (#1327)
  policy/ripr-suppressions.toml
  xtask/src/tasks/quality_baseline.rs
Due: none

ci(ripr): bump RIPR_VERSION pin from 0.5.0 to 0.9.0 (#1289) (#1329)
  .github/workflows/ripr.yml
  docs/ci/ripr.md
Due: none

test(lexer,parser-core,dap): paired-delimiter conformance matrix (#1320) (#1321)
  crates/perl-dap/src/inline_values/code_mask.rs
  crates/perl-lexer/src/quote_handler.rs
  crates/perl-parser-core/src/syntax/quote.rs
Due: lexer, dap

test(lsp): update execute_command command-count assertion 16→17 for perl.explainMissingModuleLookup (#1331) (#1332)
  crates/perl-lsp-rs/tests/execute_command_mutation_hardening_public_api_tests.rs
Due: none

refactor(document-symbols): adopt NodeKindCategory drift-guard for declaration filtering (#1330) (#1333)
  .spec/1330-nodekindcategory-drift-guard/acceptance.md
  .spec/1330-nodekindcategory-drift-guard/checklist.md
  .spec/1330-nodekindcategory-drift-guard/context.md
  Cargo.lock
  crates/perl-lsp-rs/Cargo.toml
  crates/perl-lsp-rs/src/runtime/symbol_extraction.rs
Due: none

fix(xtask): handle ripr 0.9.x grip_class/seam.file format in gate evidence parser (#1335) (#1336)
  xtask/src/tasks/ripr_evidence.rs
Due: none

fix(dap): clear stack_frames on resume + degraded-path empty stackTrace (#964 #933) (#1337)
  .spec/964-dap-stack-frame-lifecycle/acceptance.md
  .spec/964-dap-stack-frame-lifecycle/checklist.md
  .spec/964-dap-stack-frame-lifecycle/context.md
  crates/perl-dap/src/debug_adapter/execution.rs
  crates/perl-dap/src/debug_adapter/frames.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/parsing.rs
  crates/perl-dap/tests/dap_edge_cases_test.rs
  policy/ripr-suppressions.toml
Due: dap

fix(lsp): port URI file-path acceptance + request-shape guidance from source queue (#1328) (#1206)
  crates/perl-lsp-rs-core/src/uri/mod.rs
  crates/perl-lsp-rs-core/tests/uri_module_shape.rs
  crates/perl-lsp-rs/src/runtime/language/hover/signature_help.rs
  crates/perl-lsp-rs/src/runtime/language/semantic_tokens.rs
  crates/perl-lsp-rs/tests/lsp_signature_help_tests.rs
  policy/ripr-suppressions.toml
Due: none

fix(dap): allocate variablesReference for structured results (#1002) (#1219)
  accuracy_comment.md
  crates/perl-dap/src/debug_adapter/evaluation.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/variable_cache.rs
  crates/perl-dap/src/debug_adapter/variables.rs
  crates/perl-dap/tests/dap_evaluate_comprehensive_tests.rs
  crates/perl-parser/tests/snapshots/ast_snap__ast_lexical_filehandles_and_chomp_loop.snap.new
  crates/perl-parser/tests/snapshots/ast_snap__semantic_token_legend_index_mapping.snap.new
  crates/perl-parser/tests/snapshots/ast_snap__semantic_token_legend_types.snap.new
  crates/perl-parser/tests/test_print_hash_subscript.rs
  ripr/pr/pr.diff
  ripr/pr/repo-exposure.json
  ripr/pr/repo-exposure.md
  test_print_indirect.pl
  xtask/impacted-evidence/latest.json
  xtask/impacted-evidence/latest.md
Due: dap

docs(agents): front-load hazard-class invariants into spec system (#1339) (#1340)
  .claude/agents/architecture-reviewer.md
  .claude/agents/red-tdd.md
  .claude/agents/spec-planner.md
  docs/agents/SPEC_UPDATE_CHECKLIST.md
Due: none

docs: establish two-layer learnings (portable doctrine + repo-specific LEARNINGS) (#1342) (#1344)
  CLAUDE.md
  docs/agents/SPEC_UPDATE_CHECKLIST.md
  docs/concepts/cache-aware-agent-lanes.md
  docs/concepts/hazard-class-invariants.md
  docs/concepts/multi-angle-haiku-early-spec.md
  docs/concepts/re-create-over-untangle.md
  docs/concepts/serialize-merges-and-cancellation.md
  docs/concepts/shift-left-ladder.md
  docs/learnings/2026-06-codecov-false-low.md
  docs/learnings/2026-06-coverage-gate-measurement.md
  docs/learnings/2026-06-dap-ref-space-collision.md
  docs/learnings/2026-06-merge-cancellation-cascade.md
  docs/learnings/2026-06-recreate-over-untangle.md
  docs/learnings/2026-06-ripr-output-schema-break.md
  docs/learnings/2026-06-shift-left-validated.md
  docs/learnings/2026-06-test-encodes-the-bug.md
  docs/learnings/README.md
  docs/learnings/TEMPLATE.md
  docs/reference/PARSER_CONTRACTS.md
Due: none

fix(xtask): apply path suppression for unrecognized ripr classifications (#1346) (#1349)
  xtask/src/tasks/ripr_evidence.rs
Due: none

docs(specs): add subsystem hazard-default templates (#1347) (#1348)
  .claude/agents/spec-planner.md
  CLAUDE.md
  docs/agents/SPEC_UPDATE_CHECKLIST.md
  docs/reference/SUBSYSTEM_HAZARD_DEFAULTS.md
Due: none

fix(dap): protocol-safe empty response for invalid variablesReference (#901) (#1227)
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/variables.rs
  crates/perl-dap/tests/dap_variable_reference_hardening_tests.rs
  policy/ripr-suppressions.toml
Due: dap

fix(dap): protocol-safe errors for execution control without session (#898) (#1240)
  crates/perl-dap/src/debug_adapter/execution.rs
  crates/perl-dap/tests/control_flow_handlers_tests.rs
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_edge_cases_test.rs
  crates/perl-dap/tests/dap_golden_transcript_tests.rs
  crates/perl-dap/tests/dap_non_regression_tests.rs
  crates/perl-dap/tests/dap_performance_tests.rs
  crates/perl-dap/tests/dap_step_through_tests.rs
Due: dap

ripr: suppress agent_ledgers.rs validate_line predicates (#1257)
  policy/ripr-suppressions.toml
Due: none

ripr: suppress pr_close_proof.rs sha-predicate seams (#1257)
  policy/ripr-suppressions.toml
Due: none

fix(dap): separate session-presence from signal-delivery in handle_pause (#1363) (#1364)
  crates/perl-dap/src/debug_adapter/execution.rs
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_edge_cases_test.rs
  crates/perl-dap/tests/pause_signal_delivery_tests.rs
Due: dap

fix(vscode): extend ReDoS heuristic to catch bounded inner quantifiers (#953) (#1345)
  vscode-extension/src/gherkinProviders.ts
  vscode-extension/src/gherkinStepDefinitions.ts
  vscode-extension/src/test/gherkinProviders.test.ts
  vscode-extension/src/test/gherkinStepDefinitions.test.ts
Due: none
