Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

chore: remove unused dependencies
  crates/perl-dap/Cargo.toml
  crates/perl-lsp-navigation/Cargo.toml
  crates/perl-lsp/Cargo.toml
  crates/perl-tokenizer/Cargo.toml
Due: none

feat(diagnostics): wire lint checks into diagnostic pipeline
  crates/perl-lsp-diagnostics/src/diagnostics.rs
Due: none

feat(completion): add Perl idiom snippet completions
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/snippets.rs
Due: none

docs: add feature comparison matrix
  docs/project/FEATURE_COMPARISON.md
Due: none

feat(vscode): auto-populate new Perl files with boilerplate
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

ci: add release gate checklist for 0.12.0 (#1655)
  docs/project/RELEASE_CHECKLIST.md
  justfile
Due: none

docs: add rustdoc for public APIs of key crates
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-lexer/src/token.rs
Due: lexer

feat(hover): add rich docs with type info and signatures (#1657)
  crates/perl-lsp/src/runtime/language/hover.rs
Due: lsp

perf(lsp): use linear dedup for small highlight sets, eliminate clone
  crates/perl-lsp/src/features/document_highlight.rs
Due: lsp

Revert "perf(lsp): use linear dedup for small highlight sets, eliminate clone"
  crates/perl-lsp/src/features/document_highlight.rs
Due: lsp

docs: add troubleshooting guide
  docs/how-to/TROUBLESHOOTING.md
Due: none

feat(vscode): add status bar health widget with indexing state
  vscode-extension/src/extension.ts
Due: none

feat(completion): add workspace-aware completion candidates (#1653)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp-completion/tests/completion_behavior_tests.rs
Due: none

feat(vscode): add command palette commands
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

feat(semantic-tokens): add semantic modifiers for rich highlighting
  crates/perl-lsp-semantic-tokens/Cargo.toml
  crates/perl-lsp-semantic-tokens/src/lib.rs
  crates/perl-lsp-semantic-tokens/src/semantic_tokens.rs
  crates/perl-lsp-semantic-tokens/tests/comprehensive_unit_tests.rs
Due: none

chore(swarm): add /scout-then-build skill
  .claude/skills/scout-then-build/SKILL.md
Due: none

docs: add cycle 5 orchestration learnings to CLAUDE.md
  CLAUDE.md
Due: none

chore(swarm): add /merge-queue skill
  .claude/skills/merge-queue/SKILL.md
Due: none

feat(lsp): add .perl-lsp.toml project configuration
  Cargo.lock
  crates/perl-lsp-config/Cargo.toml
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/src/project_config.rs
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp/src/runtime/mod.rs
Due: lsp

chore(swarm): encode cycle 5 learnings into skills and templates (#2116)
  .claude/skills/swarm/templates/enhancement-builder.md
  .claude/skills/swarm/templates/parser-fix-builder.md
  .claude/skills/swarm/templates/review-agent.md
  .claude/skills/verify-build/SKILL.md
  .claude/swarm-state/known-pitfalls.md
Due: none

devex: exclude agent worktrees from rust-analyzer (#2031)
  .vscode/settings.json
  rust-analyzer.toml
Due: none

chore: remove dead code before 0.12.0 release
  crates/perl-lexer/src/quote_handler.rs
  crates/perl-lexer/src/unicode.rs
  crates/perl-lsp-diagnostics/src/error_nodes.rs
  crates/perl-lsp-diagnostics/src/lib.rs
  crates/perl-lsp-document-links/src/lib.rs
  crates/perl-lsp/src/runtime/dispatch/lifecycle.rs
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/src/runtime/language/semantic_tokens.rs
  crates/perl-lsp/src/runtime/refresh.rs
  crates/perl-lsp/src/runtime/routing.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/src/analysis/type_inference.rs
Due: lsp, lexer

test(parser): add block-list function in parenthesized args tests (#1897)
  crates/perl-parser-core/tests/block_list_in_parens_tests.rs
Due: none

chore: add pre-push hook to update test counts in CURRENT_STATUS.md
  .claude/hooks/task-completed.sh
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(parser): audit fat arrow expressions and add regression tests (#1651)
  crates/perl-parser-core/tests/fix_fat_arrow_expr.rs
Due: none

test(lsp): add core server behavior specification tests
  crates/perl-lsp/tests/lsp_core_behavior_tests.rs
Due: none

feat(completion): auto-import on completion
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/auto_import.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp/src/runtime/language/completion.rs
Due: lsp

perf: establish performance baselines for 0.12.0 (#1654)
  Cargo.lock
  benchmarks/scripts/run-benchmarks.sh
  crates/perl-lsp-completion/Cargo.toml
  crates/perl-lsp-completion/benches/completion_benchmark.rs
  crates/perl-lsp-navigation/Cargo.toml
  crates/perl-lsp-navigation/benches/navigation_benchmark.rs
  docs/project/PERFORMANCE_BASELINES.md
  justfile
Due: none

docs: add README badges and GitHub FUNDING.yml
  .github/FUNDING.yml
  README.md
Due: none

fix(parser): improve delimiter recovery to reduce cascading errors (#1649)
  crates/perl-parser-core/src/engine/parser/control_flow.rs
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/src/engine/parser/helpers.rs
  crates/perl-parser-core/tests/delimiter_recovery_tests.rs
Due: none

feat(code-actions): add error-to-action mapping for common Perl mistakes (#1656)
  crates/perl-lsp-code-actions/src/code_actions.rs
  crates/perl-lsp-code-actions/src/error_to_action.rs
  crates/perl-lsp-code-actions/src/lib.rs
Due: none

test(perl-module-name, perl-module-token): add module name parsing test coverage
  crates/perl-module-name/src/lib.rs
  crates/perl-module-token/src/lib.rs
Due: none

docs(status): refresh CURRENT_STATUS for module name/token coverage
  docs/project/CURRENT_STATUS.md
Due: none

test(perl-module-resolution): add use/require handling and @INC search tests
  crates/perl-module-resolution/tests/module_resolution_use_require.rs
Due: none

fix(parser): handle arrow operator after typeglob, block, sub, and in builtins (#1703)
  crates/perl-parser-core/src/engine/parser/expressions/calls.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/expressions/unary.rs
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser-core/tests/fix_method_chain_continuation.rs
Due: none

chore(swarm): encode smart orchestrator model in /swarm skill
  .claude/skills/swarm/SKILL.md
Due: none

refactor(lsp): extract inline completion provider into perl-lsp-inline-completion microcrate
  crates/perl-lsp-inline-completion/Cargo.toml
  crates/perl-lsp-inline-completion/src/lib.rs
Due: none

fix(inline-completion): honor utf16 positions
  crates/perl-lsp-inline-completion/Cargo.toml
  crates/perl-lsp-inline-completion/src/lib.rs
  crates/perl-lsp/tests/lsp_inline_completion_tests.rs
Due: none

refactor(lsp): extract selection range provider into perl-lsp-selection-range microcrate
  Cargo.lock
  Cargo.toml
  crates/perl-lsp-selection-range/Cargo.toml
  crates/perl-lsp-selection-range/src/lib.rs
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/features/lsp_selection_range.rs
Due: lsp

feat(hover): add regex explanation on hover
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-regex/src/explainer.rs
  crates/perl-regex/src/lib.rs
Due: lsp

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
