Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(devex): add 'Report Issue' command to extension (#2160) (#2748)
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/configuration.test.ts
Due: none

feat(vscode): surface formatting errors as toast notifications (#2111) (#2793)
  vscode-extension/src/extension.ts
  vscode-extension/src/formattingErrors.ts
  vscode-extension/src/test/formatting.test.ts
Due: none

feat(lsp): emit documentation and fix containerName in workspace/symbol/resolve (#2100) (#2798)
  Cargo.lock
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_workspace_symbol_resolve_test.rs
Due: lsp

feat(lsp): per-feature user disable via initializationOptions.disabledFeatures (#2170)
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/tests/lsp_disabled_features_tests.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: lsp

fix(vscode): add 11 missing feature IDs to disabledFeatures enum
  vscode-extension/package.json
Due: none

test(lsp): strengthen disabled-features integration tests for input edge cases
  crates/perl-lsp/tests/lsp_disabled_features_tests.rs
Due: none

test(lsp): add multi-feature simultaneous disable integration test
  crates/perl-lsp/tests/lsp_disabled_features_tests.rs
Due: none

fix(lsp): add missing match arms for execute_command/moniker/notebook_cell_execution and ranges_formatting alias in apply_disabled_feature_id
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
Due: lsp

feat(lsp): per-feature user disable via initializationOptions.disabledFeatures (#2170) (#2766)
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/tests/lsp_disabled_features_tests.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: lsp

ux(vscode): wire runHealthCheck + openConfigurationGuide commands, group settings, add walkthrough manifest (#2777)
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

ux(vscode): wire runHealthCheck + openConfigurationGuide commands, group settings, add walkthrough manifest (#2777) (#2791)
  vscode-extension/package.json
  vscode-extension/src/extension.ts
Due: none

test(lexer): add edge case coverage for paren delimiter and file-test rejection
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
Due: none

fix(security): fix macOS sandbox path injection and profile file-path bug (#2749) (#2799)
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/lib.rs
  crates/perl-lsp/src/security/mod.rs
  crates/perl-lsp/src/security/sandbox.rs
Due: lsp

fix(lexer): restrict whitespace-separated quote delimiters to paired chars only (#2732 regression) (#2815)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_subst_unusual_delimiters_2732.rs
Due: lexer

fix(test): correct p50 index and AC7 timing label in dap non-regression tests
  crates/perl-lsp/tests/dap_non_regression_tests.rs
Due: none

test(dap): wire dap-phase3 feature flag and strengthen non-regression tests (#435)
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/tests/dap_non_regression_tests.rs
Due: none

fix(test): replace map_or(false) with is_some_and in workspace nav test
  crates/perl-lsp/tests/dap_non_regression_tests.rs
Due: none

fix(docs): correct corpus improvement claim — 90.9% verified ratchet
  docs/articles/ECONOMICS_AND_EFFICIENCY.md
Due: none

fix(parser): handle regex-op names as hash subscript keys (#2754)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/fix_hash_subscript_regex_op_keys.rs
Due: lexer

fix(parser): handle hash slices with regex-op keys (Bug C)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/tests/fix_hash_subscript_regex_op_keys.rs
Due: lexer

test(parser): add edge case tests for hash_brace_depth correctness (#2754)
  crates/perl-parser-core/tests/test_edge_cases_deep.rs
Due: none

docs(parser): fix documentation for parse_hash_subscript_key and peek_is_quote_op_bareword
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
Due: none

fix(parser): handle regex-op names as hash subscript keys (#2754) (#2789)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/src/engine/parser/expressions/postfix.rs
  crates/perl-parser-core/src/engine/parser/expressions/primary.rs
  crates/perl-parser-core/tests/fix_hash_subscript_regex_op_keys.rs
  crates/perl-parser-core/tests/test_edge_cases_deep.rs
Due: lexer

fix(lexer): guard try_heredoc against ExpectOperator mode — fixes bitshift-in-paren (#2750)
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_unclosed_paren_bitshift.rs
Due: lexer

style: normalize match arm formatting in builtins (braces to parens)
  crates/perl-lsp-completion/src/completion/builtins.rs
Due: none

test(lexer): add subscript-in-paren bitshift edge cases for #2750
  crates/perl-parser-core/tests/fix_unclosed_paren_bitshift.rs
Due: none

fix(lexer): narrow try_heredoc guard to paren_depth > 0, fix print $fh <<END regression
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_unclosed_paren_bitshift.rs
Due: lexer

fix(lexer): save/restore paren_depth in peek_token — closes latent state corruption
  crates/perl-lexer/src/lib.rs
Due: lexer

fix(lexer): guard try_heredoc against ExpectOperator mode — fixes bitshift-in-paren (#2750) (#2769)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/lib.rs
  crates/perl-parser-core/tests/fix_unclosed_paren_bitshift.rs
Due: lexer

test(perl-lsp): strengthen vacuous assertions in wired_crates integration tests
  crates/perl-lsp/tests/wired_crates_integration_test.rs
Due: none

test(perl-lsp): add multi-line document edge case for inline completion provider
  crates/perl-lsp/tests/wired_crates_integration_test.rs
Due: none

fix(review): strengthen 3 vacuous integration tests in wired crates suite
  crates/perl-lsp/tests/wired_crates_integration_test.rs
Due: none

refactor(perl-lsp): wire 17 built-but-unwired LSP provider crates (#2756)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/features/inline_completions.rs
  crates/perl-lsp/tests/wired_crates_integration_test.rs
Due: lsp

refactor(perl-lsp): wire 17 built-but-unwired LSP provider crates (#2756) (#2768)
  Cargo.lock
  Cargo.toml
  crates/perl-lsp/Cargo.toml
  crates/perl-lsp/src/features/inline_completions.rs
  crates/perl-lsp/tests/wired_crates_integration_test.rs
Due: lsp

refactor(routing): delete dead IndexAccessMode lint suppressors and DegradedBehavior trait (#2702) (#2790)
  crates/perl-lsp/src/runtime/routing.rs
Due: lsp

fix(diagnostics): suppress strict/warnings lint on empty files (#2112) (#2792)
  crates/perl-lsp-diagnostics/src/lints/strict_warnings.rs
  crates/perl-lsp-diagnostics/tests/diagnostic_integration_test.rs
  crates/perl-lsp-diagnostics/tests/unit_tests.rs
Due: none

fix(lsp): use parent/use base dependency discovery in workspace/willRenameFiles (#2747) (#2782)
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/lsp_workspace_file_ops_tests.rs
  crates/perl-module-rename/src/lib.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
  crates/perl-workspace-index/tests/comprehensive_unit_tests.rs
  docs/reference/KNOWN_LIMITATIONS.md
Due: lsp

fix(ci): add nextest to tool check and correct misleading fail-fast comment
  .config/nextest.toml
  justfile
Due: none

ci: enable nextest for ci-test-lib and consolidate clippy passes (#1909)
  .config/nextest.toml
  justfile
Due: none

fix(text-utils): skip trailing newline in find_statement_start
  crates/perl-lsp-text-utils/src/lib.rs
  crates/perl-lsp-text-utils/tests/edge_cases.rs
  crates/perl-lsp-text-utils/tests/text_edit_helpers_tests.rs
Due: none
