Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

test(bdd): format core workflow scenarios
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
Due: none

test: Add BDD scenarios for goto-def, hover, diagnostics, and document-symbols
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
Due: none

test(bdd): trim duplicate workflow scenarios
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
Due: none

test(lsp): expand core BDD workflow coverage (#3794) (#3796)
  crates/perl-lsp/tests/lsp_bdd_workflows.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
Due: none

fix(module-resolution): prefer most-specific workspace root for document context
  crates/perl-lsp/src/runtime/lifecycle/module_resolution.rs
Due: lsp

Fix module resolution order and absolute path handling
  crates/perl-module-resolution-path/src/lib.rs
  crates/perl-module-resolution-uri/src/lib.rs
  crates/perl-module-resolution/src/effective_inc.rs
  get_archname.sh
  plan.md
  test_script.pl
  update.sh
  update_path.py
  update_uri.py
Due: none

feat(xs): add Perl C API hover/completion (#3573)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/xs_api.rs
  crates/perl-lsp-completion/src/lib.rs
  crates/perl-lsp-completion/tests/xs_api_tests.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/xs_api_hover_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: lsp

feat(xs): expand Perl C API MVP slice (#3573)
  crates/perl-lsp-completion/src/completion/xs_api.rs
  crates/perl-lsp-completion/tests/xs_api_tests.rs
  crates/perl-lsp/tests/xs_api_hover_tests.rs
Due: none

Fix module resolution order and absolute path handling
  plan.md
Due: none

fix(xs): support AST-less XS completion fallback (#3573)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/xs_api.rs
  crates/perl-lsp-completion/src/lib.rs
  crates/perl-lsp/src/runtime/language/completion.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/xs_api_hover_tests.rs
Due: lsp

chore(features): sync vendored fallback catalogs (#3222)
  crates/perl-dap/features_sot.toml
  crates/perl-feature-catalog/src/lib.rs
  crates/perl-feature-catalog/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-contracts/features_sot.toml
  crates/perl-lsp/features_sot.toml
  crates/perl-parser/features_sot.toml
Due: none

feat(xs): add Perl C API hover/completion (#3573) (#3799)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/xs_api.rs
  crates/perl-lsp-completion/src/lib.rs
  crates/perl-lsp-completion/tests/xs_api_tests.rs
  crates/perl-lsp/src/runtime/language/completion.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/xs_api_hover_tests.rs
  vscode-extension/package.json
  vscode-extension/src/test/configuration.test.ts
Due: lsp

chore(features): sync vendored fallback catalogs (#3222) (#3800)
  crates/perl-dap/features_sot.toml
  crates/perl-feature-catalog/src/lib.rs
  crates/perl-feature-catalog/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-feature-contracts/features_sot.toml
  crates/perl-lsp/features_sot.toml
  crates/perl-parser/features_sot.toml
Due: none

feat(config): detect native build hints at init (#3572)
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/src/native_build_hints.rs
  crates/perl-lsp-config/tests/behavioral.rs
  crates/perl-lsp-config/tests/native_build_hints.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
Due: lsp

feat(completion): add Object::Pad constructor key completions (#3603)
  crates/perl-lsp-completion/src/completion.rs
Due: none

fix(config): ignore commented native build hints (#3572)
  crates/perl-lsp-config/src/native_build_hints.rs
  crates/perl-lsp-config/tests/native_build_hints.rs
Due: none

docs(emacs): align setup docs around perllsp and eglot
  README.md
  docs/EDITORS/EMACS_SETUP.md
  docs/tutorials/GETTING_STARTED.md
Due: none

fix(analysis): register try/catch vars in symbols (#3541)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
Due: none

feat(completion): add Object::Pad constructor key completions (#3603) (#3803)
  crates/perl-lsp-completion/src/completion.rs
Due: none

audit(msrv): normalize rust-version inheritance (#3207)
  crates/perl-lsp-ai-provider/Cargo.toml
  crates/perl-lsp-capability-map/Cargo.toml
  crates/perl-lsp-feature-contracts/Cargo.toml
  crates/perl-lsp-feature-flags/Cargo.toml
  crates/perl-lsp-feature-grid/Cargo.toml
  crates/perl-lsp-feature-ids/Cargo.toml
  crates/perl-lsp-feature-policy/Cargo.toml
  crates/perl-lsp-feature-profile/Cargo.toml
Due: none

test(workspace-index): cover file deletion reference cleanup (#3494)
  crates/perl-workspace-index/tests/comprehensive_unit_tests.rs
Due: none

feat(config): detect native build hints at init (#3572) (#3801)
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp-config/src/native_build_hints.rs
  crates/perl-lsp-config/tests/behavioral.rs
  crates/perl-lsp-config/tests/native_build_hints.rs
  crates/perl-lsp/src/runtime/lifecycle/workspace.rs
Due: lsp

audit(msrv): normalize rust-version inheritance (#3207) (#3806)
  crates/perl-lsp-ai-provider/Cargo.toml
  crates/perl-lsp-capability-map/Cargo.toml
  crates/perl-lsp-feature-contracts/Cargo.toml
  crates/perl-lsp-feature-flags/Cargo.toml
  crates/perl-lsp-feature-grid/Cargo.toml
  crates/perl-lsp-feature-ids/Cargo.toml
  crates/perl-lsp-feature-policy/Cargo.toml
  crates/perl-lsp-feature-profile/Cargo.toml
Due: none

test(workspace-index): cover file deletion reference cleanup (#3494) (#3807)
  crates/perl-workspace-index/tests/comprehensive_unit_tests.rs
Due: none

fix(navigation): resolve imported function goto-definition (#3466)
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
Due: none

fix(dap): report missing module launch errors (#3479)
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/dap_syntax_check_tests.rs
Due: dap

fix(navigation): satisfy clippy in import lookup (#3466)
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
Due: none

fix(vscode-extension): add UX bundle for activation, conflicts, debug help, and include paths (#3452)
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/debugAdapter.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/test/__mocks__/vscode.ts
  vscode-extension/src/test/commands.test.ts
  vscode-extension/src/test/debugAdapter.test.ts
  vscode-extension/src/test/extensionUx.test.ts
  vscode-extension/src/test/walkthrough.test.ts
Due: none

feat(completion): infer object methods from constructor assignment (#3461)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp-completion/tests/extended_unit_tests.rs
Due: none

feat(ux): surface Moose/Moo attributes in document symbols (#3465)
  crates/perl-lsp/src/runtime/language/symbols.rs
  crates/perl-lsp/tests/lsp_feature_coverage_audit.rs
Due: lsp

fix(dap): report missing module launch errors (#3479) (#3809)
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/dap_syntax_check_tests.rs
Due: dap

docs(assets): canonicalize demo asset plan (#3302)
  docs/assets/README.md
  docs/assets/demo-asset-plan.toml
  docs/assets/gifs/README.md
  docs/assets/recordings/README.md
  scripts/marketing/check-demo-assets.py
  vscode-extension/media/walkthrough/README.md
Due: none

fix(vscode-extension): rewarn on new include-path typos (#3455)
  vscode-extension/src/extension.ts
  vscode-extension/src/test/extensionUx.test.ts
Due: none

fix(navigation): resolve imported function goto-definition (#3466) (#3808)
  crates/perl-lsp/tests/cross_file_goto_definition_tests.rs
  crates/perl-semantic-analyzer/src/analysis/declaration.rs
Due: none

feat(ux): surface Moose/Moo attributes in document symbols (#3465) (#3812)
  crates/perl-lsp/src/runtime/language/symbols.rs
  crates/perl-lsp/tests/lsp_feature_coverage_audit.rs
Due: lsp

feat(completion): infer object methods from constructor assignment (#3461) (#3810)
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/workspace.rs
  crates/perl-lsp-completion/tests/extended_unit_tests.rs
Due: none

fix(vscode-extension): add UX bundle for activation, conflicts, debug help, and include paths (#3452) (#3811)
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/debugAdapter.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/test/__mocks__/vscode.ts
  vscode-extension/src/test/commands.test.ts
  vscode-extension/src/test/debugAdapter.test.ts
  vscode-extension/src/test/extensionUx.test.ts
  vscode-extension/src/test/walkthrough.test.ts
Due: none

docs(assets): canonicalize demo asset plan (#3302) (#3813)
  docs/assets/README.md
  docs/assets/demo-asset-plan.toml
  docs/assets/gifs/README.md
  docs/assets/recordings/README.md
  scripts/marketing/check-demo-assets.py
  vscode-extension/media/walkthrough/README.md
Due: none
