Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

test(perl-lexer): expand data marker edge coverage and refactor prefilter (#0000)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

refactor(perl-lexer): split checkpoint module and add edge-case tests (#0000)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/checkpoint/cache.rs
  crates/perl-lexer/src/checkpoint/mod.rs
  crates/perl-lexer/src/checkpoint/tests.rs
  crates/perl-lexer/src/checkpoint/types.rs
Due: lexer

refactor(input-validation): split runtime validator into SRP submodules (#0000)
  crates/perl-lsp-rs-core/src/runtime/input_validation/constants.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/file_validation.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/lsp_validation.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/mod.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/sanitize.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/workspace_validation.rs
Due: none

refactor(perl-lexer): split checkpoint module and add edge tests (#0000)
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/checkpoint/cache.rs
  crates/perl-lexer/src/checkpoint/diff.rs
  crates/perl-lexer/src/checkpoint/mod.rs
  crates/perl-lexer/src/checkpoint/model.rs
  crates/perl-lexer/src/checkpoint/tests.rs
  crates/perl-lexer/src/checkpoint/traits.rs
Due: lexer

fix(fmt): restore current formatting drift (#0000)
  crates/perl-lexer/src/builtins/phf_lookup.rs
  crates/perl-lexer/src/checkpoint.rs
  crates/perl-lexer/src/tokenizer/util.rs
  crates/perl-workspace-index/tests/discovery_fuzz_tests.rs
Due: lexer

docs(release): fix MIGRATION_v0.13.md accuracy + add CHANGELOG entry (#7292)
  CHANGELOG.md
  docs/MIGRATION_v0.13.md
Due: none

refactor(completion): extract import-map logic into SRP submodule (#0000) (#7268)
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/import_map.rs
Due: none

fix(xtask): enforce per-gate command timeouts (#0000) (#7398)
  xtask/src/tasks/gates.rs
Due: none

feat(completion): implement LSP 3.17+ labelDetails support (#7407)
  crates/perl-lsp-rs-core/src/protocol/capabilities.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/builtins.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/functions.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/keywords.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/methods.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/packages.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/regex_patterns.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/snippets.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/test_more.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/variables.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/workspace.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/xs_api.rs
  crates/perl-lsp-rs-core/src/providers/completion_item/mod.rs
  crates/perl-lsp-rs-core/src/providers/file_completion/mod.rs
  crates/perl-lsp-rs-core/tests/green_tdd_wave_g1a_edge_cases.rs
  crates/perl-lsp-rs-core/tests/providers_module_shape.rs
  crates/perl-lsp-rs/src/runtime/language/completion.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/state/document.rs
  crates/perl-lsp-rs/tests/snapshots/lsp_cap_snap__server_capabilities_full_client.snap
  crates/perl-lsp-rs/tests/snapshots/lsp_cap_snap__server_capabilities_minimal_client.snap
  crates/perl-lsp-rs/tests/wired_crates_integration_test.rs
Due: none

fix(perl-corpus): guard empty sidecar fixture stems (#0000) (#7421)
  crates/perl-corpus/src/sidecar.rs
Due: corpus

test(perl-corpus): expand edge case generator coverage (#0000) (#7423)
  crates/perl-corpus/src/cases.rs
Due: corpus

test(perl-token): cover empty unknown spans in checked constructors (#0000) (#7424)
  crates/perl-token/src/lib.rs
  crates/perl-token/tests/borrowed_token_tests.rs
  crates/perl-token/tests/span_invariant_tests.rs
Due: none

fix(perl-lexer): clamp invalid utf-8 byte offsets (#0000) (#7426)
  crates/perl-lexer/src/tokenizer/token_wrapper.rs
Due: lexer

fix(perl-lexer): re-sort cache after checkpoint edits (#0000) (#7420)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

test(perl-lexer): expand data marker edge coverage and refactor prefilter (#0000) (#7427)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

refactor(input-validation): split runtime validator into SRP submodules (#0000) (#7430)
  crates/perl-lsp-rs-core/src/runtime/input_validation/constants.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/file_validation.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/lsp_validation.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/mod.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/sanitize.rs
  crates/perl-lsp-rs-core/src/runtime/input_validation/workspace_validation.rs
Due: none

docs(release): fix MIGRATION_v0.13.md accuracy + add CHANGELOG entry (#7292) (#7433)
  CHANGELOG.md
  docs/MIGRATION_v0.13.md
Due: none

feat(perl-symbol): add SymbolRef semantic facts adapter (#0000)
  crates/perl-symbol/src/api.rs
  crates/perl-symbol/src/surface/facts.rs
  crates/perl-symbol/src/surface/mod.rs
Due: none

feat(perl-symbol): add SymbolRef semantic facts adapter (#0000)
  crates/perl-symbol/src/api.rs
  crates/perl-symbol/src/surface/mod.rs
  crates/perl-symbol/src/surface/ref_facts.rs
Due: none

feat(perl-symbol): add SymbolRef semantic fact adapter (#0000)
  crates/perl-symbol/src/api.rs
  crates/perl-symbol/src/surface/facts.rs
  crates/perl-symbol/src/surface/mod.rs
Due: none

feat(perl-symbol): add SymbolRef occurrence fact adapter (#0000)
  crates/perl-symbol/src/api.rs
  crates/perl-symbol/src/surface/facts.rs
  crates/perl-symbol/src/surface/mod.rs
Due: none

feat(semantic-substrate): add SymbolRef occurrence facts + typed ref edges (#0000)
  crates/perl-symbol/src/surface/facts.rs
  crates/perl-symbol/src/surface/mod.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
  docs/project/SEMANTIC_SUBSTRATE_FIRST_WAVE_PLAN.md
Due: none

feat(perl-symbol): add SymbolRef semantic fact adapter (#0000)
  crates/perl-symbol/src/surface/facts.rs
  crates/perl-symbol/src/surface/mod.rs
Due: none

feat(perl-symbol): add SymbolRef occurrence facts adapter (#0000)
  crates/perl-symbol/src/api.rs
  crates/perl-symbol/src/surface/mod.rs
  crates/perl-symbol/src/surface/ref_facts.rs
  docs/project/ROADMAP.md
Due: none

fix(lsp): advertise didSave text sync support (#0000) (#5051)
  crates/perl-lsp-rs-core/src/protocol/capabilities.rs
Due: none

fix(perl-line-index): bound position_to_byte columns (#0000) (#5103)
  crates/perl-line-index/src/lib.rs
  crates/perl-line-index/tests/line_index_comprehensive.rs
  crates/perl-line-index/tests/line_index_roundtrip.rs
  crates/perl-semantic-analyzer/tests/scope_and_symbol_tests.rs
Due: none

test(perl-lsp-rs): add five-deep inheritance goto fixture (#0000) (#5280)
  crates/perl-lsp-rs/tests/cross_file_goto_definition_tests.rs
Due: none

test(lsp-ux): expand linked editing BDD harness coverage (#0000) (#5334)
  crates/perl-lsp-rs/tests/lsp_linked_editing_bdd_ux_tests.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
Due: none

quality(prints): enforce print_stderr/print_stdout lints in perl-lsp-rs-core (#3224) (#4890)
  crates/perl-lsp-rs-core/src/lib.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/tests/lint_enforcement_test.rs
Due: none

test(lsp-ux): expand document-link BDD workflow coverage (#5306) (#5347)
  crates/perl-lsp-rs/tests/lsp_document_links_test.rs
  crates/perl-lsp-rs/tests/support/lsp_harness.rs
Due: none

refactor(perl-parser): optimize tied-handle heredoc detection (#0000) (#5368)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

test(workspace-memory): add unit coverage for snapshot and scaling math (#0000) (#5416)
  crates/perl-workspace-index/src/workspace/memory.rs
Due: none

fix(xtask): stabilize criterion mean selection (#0000) (#5453)
  xtask/src/tasks/bench.rs
Due: none

docs(release): v0.13.0-rc1 punch list (#0000) (#5497)
  docs/releases/0.13.0-rc1-punch-list.md
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
