Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

feat(perl-corpus): add deterministic inventory report API and command (#0000)
  crates/perl-corpus/src/bin/main.rs
  crates/perl-corpus/src/inventory.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

fix(perl-corpus): remove duplicate inventory exports after rebase
  crates/perl-corpus/src/lib.rs
Due: corpus

fix(ci): make parser/cpan gate policy precedence explicit (#0000)
  .ci/GATE_REGISTRY.toml
  docs/reference/CI_ARCHITECTURE.md
  justfile
  xtask/src/main.rs
  xtask/src/tasks/gate_policy.rs
  xtask/src/tasks/gates.rs
  xtask/src/tasks/mod.rs
Due: none

feat(perl-corpus): add parser concept sidecar fixtures (#0000)
  Cargo.lock
  crates/perl-corpus/src/fixture_expectations.rs
  crates/perl-corpus/tests/fixture_sidecars.rs
  crates/perl-corpus/tests/perl-corpus/ambiguity/regex_vs_division.meta.toml
  crates/perl-corpus/tests/perl-corpus/ambiguity/regex_vs_division.pl
  crates/perl-corpus/tests/perl-corpus/heredoc/data_section_boundary.meta.toml
  crates/perl-corpus/tests/perl-corpus/heredoc/data_section_boundary.pl
  crates/perl-corpus/tests/perl-corpus/position/crlf_utf16_span.meta.toml
  crates/perl-corpus/tests/perl-corpus/position/crlf_utf16_span.pl
  crates/perl-corpus/tests/perl-corpus/quote_like/custom_delimiter.meta.toml
  crates/perl-corpus/tests/perl-corpus/quote_like/custom_delimiter.pl
  crates/perl-corpus/tests/perl-corpus/recovery/missing_closing_brace.meta.toml
  crates/perl-corpus/tests/perl-corpus/recovery/missing_closing_brace.pl
Due: corpus

fix(ci): make parser/cpan gate policy precedence explicit (#0000) (#7140)
  .ci/GATE_REGISTRY.toml
  docs/reference/CI_ARCHITECTURE.md
  justfile
  xtask/src/main.rs
  xtask/src/tasks/gate_policy.rs
  xtask/src/tasks/gates.rs
  xtask/src/tasks/mod.rs
Due: none

feat(perl-corpus): add deterministic inventory report API and command (#0000) (#7135)
  crates/perl-corpus/src/bin/main.rs
  crates/perl-corpus/src/inventory.rs
  crates/perl-corpus/src/lib.rs
Due: corpus

feat(perl-corpus): add parser concept sidecar fixtures (#0000) (#7143)
  Cargo.lock
  crates/perl-corpus/src/fixture_expectations.rs
  crates/perl-corpus/tests/fixture_sidecars.rs
  crates/perl-corpus/tests/perl-corpus/ambiguity/regex_vs_division.meta.toml
  crates/perl-corpus/tests/perl-corpus/ambiguity/regex_vs_division.pl
  crates/perl-corpus/tests/perl-corpus/heredoc/data_section_boundary.meta.toml
  crates/perl-corpus/tests/perl-corpus/heredoc/data_section_boundary.pl
  crates/perl-corpus/tests/perl-corpus/position/crlf_utf16_span.meta.toml
  crates/perl-corpus/tests/perl-corpus/position/crlf_utf16_span.pl
  crates/perl-corpus/tests/perl-corpus/quote_like/custom_delimiter.meta.toml
  crates/perl-corpus/tests/perl-corpus/quote_like/custom_delimiter.pl
  crates/perl-corpus/tests/perl-corpus/recovery/missing_closing_brace.meta.toml
  crates/perl-corpus/tests/perl-corpus/recovery/missing_closing_brace.pl
Due: corpus

fix(fmt): apply rustfmt to test cluster drift after Wave 2 merges (#0000)
  crates/perl-dap/tests/dap_feature_flag_coverage_tests.rs
Due: none

fix(fmt): apply rustfmt to test cluster drift after Wave 2 merges (#0000) (#7409)
  crates/perl-dap/tests/dap_feature_flag_coverage_tests.rs
Due: none

docs(zed): clarify perl-lsp extension requirements (#0000)
  docs/EDITORS/ZED_SETUP.md
  docs/how-to/EDITOR_SETUP.md
  docs/how-to/TROUBLESHOOTING.md
  docs/reference/CONFIG.md
Due: none

fix(perl-corpus): align fixture_expectation_sidecars test with merged sidecar API (#0000)
  crates/perl-corpus/tests/fixture_expectation_sidecars.rs
  xtask/src/tasks/gates.rs
Due: none

fix(perl-corpus): align fixture_expectation_sidecars test with merged sidecar API (#0000) (#7410)
  crates/perl-corpus/tests/fixture_expectation_sidecars.rs
  xtask/src/tasks/gates.rs
Due: none

ci: relax pr-fast scoped unit timeout (#0000)
  .ci/gate-policy.yaml
Due: none

test(perl-pragma): cover quoted strict args in conditional pragmas (#0000)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

test(perl-lexer): strengthen builtin lookup coverage (#0000)
  crates/perl-lexer/src/builtins/phf_lookup.rs
Due: lexer

test(perl-lexer): expand data marker utility coverage (#0000)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

test(perl-lexer): strengthen checkpoint cache coverage (#0000)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

fix(lexer-checkpoint): harden checkpoint edit application and cache invariants (#0000)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

test(perl-workspace): broaden workspace folder fuzz coverage (#0000)
  crates/perl-workspace-index/tests/workspace_folder_fuzz.rs
Due: none

test(perl-workspace): expand discovery fuzz coverage (#0000)
  crates/perl-workspace-index/tests/discovery_fuzz_tests.rs
Due: none

perf(lexer): optimize identifier scan hot path (#0000)
  crates/perl-lexer/src/lib.rs
Due: lexer

test(fuzz): expand incremental edit input alphabet (#0000)
  fuzz/fuzz_targets/incremental_edit_sequences.rs
Due: none

test(fuzz): expand regression target set (#0000)
  justfile
Due: none

test(perl-pragma): cover quoted strict args in conditional pragmas (#0000) (#7412)
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

test(perl-lexer): strengthen builtin lookup coverage (#0000) (#7413)
  crates/perl-lexer/src/builtins/phf_lookup.rs
Due: lexer

test(perl-lexer): expand data marker utility coverage (#0000) (#7414)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

test(perl-lexer): strengthen checkpoint cache coverage (#0000) (#7415)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

test(perl-workspace): broaden workspace folder fuzz coverage (#0000) (#7416)
  crates/perl-workspace-index/tests/workspace_folder_fuzz.rs
Due: none

test(perl-workspace): expand discovery fuzz coverage (#0000) (#7417)
  crates/perl-workspace-index/tests/discovery_fuzz_tests.rs
Due: none

test(fuzz): expand incremental edit input alphabet (#0000) (#7418)
  fuzz/fuzz_targets/incremental_edit_sequences.rs
Due: none

test(fuzz): expand regression target set (#0000) (#7419)
  justfile
Due: none

feat(tree-sitter-perl-c): expand bench_parser_c benchmark modes (#0000)
  crates/tree-sitter-perl-c/README.md
  crates/tree-sitter-perl-c/src/bin/bench_parser.rs
Due: none

test(perl-workspace): add typed reference regression coverage (#0000) (#7319)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(perl-lexer): re-sort cache after checkpoint edits (#0000)
  crates/perl-lexer/src/checkpoint.rs
Due: lexer

fix(perl-corpus): guard empty sidecar fixture stems (#0000)
  crates/perl-corpus/src/sidecar.rs
Due: corpus

test(perl-corpus): expand edge case generator coverage (#0000)
  crates/perl-corpus/src/cases.rs
Due: corpus

test(perl-token): cover empty unknown spans in checked constructors (#0000)
  crates/perl-token/src/lib.rs
  crates/perl-token/tests/borrowed_token_tests.rs
  crates/perl-token/tests/span_invariant_tests.rs
Due: none

test(perl-lexer): add data-marker split edge coverage (#0000)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

fix(perl-lexer): clamp invalid utf-8 byte offsets (#0000)
  crates/perl-lexer/src/tokenizer/token_wrapper.rs
Due: lexer

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
