Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

feat(scope): track regex match context for capture variables (#3352) (#3559)
  crates/perl-diagnostics-codes/src/lib.rs
  crates/perl-diagnostics-codes/tests/comprehensive_unit_tests.rs
  crates/perl-lsp-diagnostics/src/scope.rs
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/capture_var_context_tests.rs
Due: none

fix(diagnostics): handle qw builtin imports by version (#3634) (#3659)
  crates/perl-lsp-diagnostics/src/lints/version_compat.rs
  crates/perl-lsp-diagnostics/tests/version_compat_tests.rs
Due: none

fix(pragma): add missing features field to PragmaState struct literals (#3647) (#3651)
  crates/perl-parser/benches/scope_benchmark.rs
  crates/perl-parser/tests/scope_analysis_test.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

fix(diagnostics): surface parse warning codes consistently (#3644) (#3649)
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/lib.rs
  crates/perl-lsp-diagnostics/src/parse_errors.rs
  crates/perl-lsp-diagnostics/tests/unit_tests.rs
  crates/perl-lsp/src/features/diagnostics/pull.rs
Due: lsp

docs(project): swarm session retrospective 2026-04-10 (#3652)
  docs/project/SWARM_SESSION_2026_04_10.md
Due: none

test(diagnostics): add PL408 completeness coverage (#3653) (#3655)
  crates/perl-diagnostics-codes/tests/diagnostic_code_completeness.rs
Due: none

feat(diagnostics): detect duplicate keys in hash literals (#3459) (#3645)
  crates/perl-diagnostics-codes/src/lib.rs
  crates/perl-lsp-diagnostics/src/diagnostics.rs
  crates/perl-lsp-diagnostics/src/lints/duplicate_hash_keys.rs
  crates/perl-lsp-diagnostics/src/lints/mod.rs
  crates/perl-lsp-diagnostics/src/walker.rs
  crates/perl-lsp-diagnostics/tests/duplicate_hash_keys_tests.rs
Due: none

fix(scope): mark $_ as used when topic-defaulting builtins called without args (#3458) (#3650)
  crates/perl-semantic-analyzer/src/analysis/scope_analyzer.rs
  crates/perl-semantic-analyzer/tests/chomp_chop_implicit_topic_tests.rs
Due: none

feat(semantic): support Moose override/augment modifiers (#3600) (#3676)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

fix(navigation): resolve method modifiers to target methods (#3599) (#3673)
  crates/perl-lsp/tests/moose_class_model_navigation_tests.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
Due: none

ci(pre-commit): add hooks for perl-lsp (#3592) (#3677)
  .pre-commit-hooks.yaml
  docs/README.md
  docs/how-to/PRE_COMMIT.md
Due: none

ci(circleci): add template and docs (#3594) (#3679)
  docs/how-to/CIRCLECI.md
  templates/ci/circleci/config.yml
Due: none

feat(semantic): synthesize Class::Accessor methods (#3602) (#3670)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

docs(builtins): expand static documentation and add perldoc fallback (#3517)
  crates/perl-lsp-config/src/lib.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/builtins.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/mod.rs
Due: lsp

test(completion): tighten UX regression coverage (#3624) (#3668)
  crates/perl-lsp-completion/tests/ux_regression_tests.rs
Due: none

fix(limits): consolidate file size limits to single source of truth (#3582) (#3654)
  Cargo.lock
  crates/perl-lsp-input-validation/Cargo.toml
  crates/perl-lsp-input-validation/src/lib.rs
  crates/perl-lsp-input-validation/tests/boundary_cases.rs
  crates/perl-lsp/src/security/mod.rs
Due: lsp

fix(ci): restore clippy-core green for parse errors (#3669) (#3671)
  crates/perl-lsp-diagnostics/src/parse_errors.rs
Due: none

feat(workspace): add .ep/.tt/.tt2/.mason template file extensions (#3584) (#3662)
  crates/perl-source-file/src/lib.rs
  crates/perl-source-file/tests/comprehensive_unit_tests.rs
Due: none

test(lsp): cover recovery after syntax errors (#3589) (#3666)
  crates/perl-lsp/tests/lsp_error_recovery.rs
Due: none

fix(workspace): clean symbol cache on file deletion (#3494) (#3672)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

ci(actions): add setup-perl-lsp consumer action (#3597) (#3680)
  .github/actions/README.md
  .github/actions/setup-perl-lsp/action.yml
  docs/INDEX.md
  docs/README.md
  docs/examples/github-actions/setup-perl-lsp-consumer.yml
  docs/how-to/GITHUB_ACTIONS.md
  docs/how-to/INSTALLATION.md
Due: none

fix(pragma): track per-category warning disablement (#3483) (#3663)
  crates/perl-pragma/src/lib.rs
  crates/perl-pragma/tests/comprehensive_unit_tests.rs
Due: none

feat(lsp): surface Moo/Moose attribute metadata (#3601) (#3674)
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp-completion/tests/completion_behavior_tests.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/moose_class_model_navigation_tests.rs
Due: lsp

fix(workspace): centralize binary file detection (#3587) (#3661)
  crates/perl-lsp/src/runtime/text_sync.rs
  crates/perl-source-file/src/lib.rs
Due: lsp

ci(jenkins): add template and guide (#3591) (#3681)
  docs/how-to/JENKINS.md
  templates/ci/jenkins/Jenkinsfile
Due: none

test(scope): add regression tests for print/say comma-separated args (#3503) (#3704)
  crates/perl-semantic-analyzer/tests/scope_golden_tests.rs
Due: none

feat(semantic-analyzer): model Object::Pad fields (#3603) (#3703)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

fix(ci): restore completion clippy green (#3698) (#3702)
  crates/perl-lsp-completion/src/completion.rs
Due: none

fix(semantic-analyzer): align Object::Pad generated names (#3603)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

feat(semantic): add native Perl 5.38 class :isa(Parent) inheritance tracking (#3540)
  crates/perl-ast/src/ast.rs
  crates/perl-ast/tests/additional_unit_tests.rs
  crates/perl-ast/tests/ast_coverage_tests.rs
  crates/perl-ast/tests/comprehensive_unit_tests.rs
  crates/perl-ast/tests/nodekind_coverage_tests.rs
  crates/perl-lsp-diagnostics/tests/version_compat_tests.rs
  crates/perl-lsp-folding/src/lib.rs
  crates/perl-lsp/src/runtime/symbol_extraction.rs
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/native_class_isa_tests.rs
  crates/perl-parser/tests/nodekind_combination_control_flow.rs
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/node_analysis.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: lsp

fix(semantic-analyzer): align Object::Pad generated names (#3603) (#3706)
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
Due: none

feat(dap): implement stopOnEntry support for attach request (#3524) (#3707)
  crates/perl-dap-config/src/lib.rs
  crates/perl-dap-config/tests/attach_config_tests.rs
  crates/perl-dap-config/tests/serde_edge_case_tests.rs
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/protocol.rs
  crates/perl-dap/tests/bridge_integration_tests.rs
  crates/perl-dap/tests/dap_coverage_audit_tests.rs
  crates/perl-dap/tests/dap_protocol_serde_tests.rs
  crates/perl-dap/tests/protocol_edge_case_tests.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
Due: dap

feat(semantic-analyzer): add IO::Async framework symbols (#3609)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(semantic): add native Perl 5.38 class :isa(Parent) inheritance tracking (#3540) (#3705)
  crates/perl-ast/src/ast.rs
  crates/perl-ast/tests/additional_unit_tests.rs
  crates/perl-ast/tests/ast_coverage_tests.rs
  crates/perl-ast/tests/comprehensive_unit_tests.rs
  crates/perl-ast/tests/nodekind_coverage_tests.rs
  crates/perl-lsp-diagnostics/tests/version_compat_tests.rs
  crates/perl-lsp-folding/src/lib.rs
  crates/perl-lsp/src/runtime/symbol_extraction.rs
  crates/perl-parser-core/src/engine/parser/declarations.rs
  crates/perl-parser-core/tests/native_class_isa_tests.rs
  crates/perl-parser/tests/nodekind_combination_control_flow.rs
  crates/perl-semantic-analyzer/src/analysis/class_model.rs
  crates/perl-semantic-analyzer/src/analysis/semantic/node_analysis.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-symbol-surface/src/decl.rs
  crates/perl-symbol-surface/tests/symbol_decl_tests.rs
Due: lsp

fix(semantic-analyzer): detect IO::Async namespace imports (#3609)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(semantic-analyzer): add IO::Async framework symbols (#3609) (#3709)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

fix(semantic-analyzer): honor IO::Async namespace imports (#3609)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

feat(semantic-analyzer): add Mojo::Redis framework symbols (#3614)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none

feat(semantic-analyzer): add Mojo::Redis framework symbols (#3614) (#3711)
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_async.rs
Due: none
