Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Enhance Perl DAP and LSP with improved debugger output handling and Moo/Moose semantics
  corpus_audit_report.json
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
  crates/perl-lsp/tests/fixtures/frameworks/class_accessor.pl
  crates/perl-lsp/tests/fixtures/frameworks/moo_basic.pl
  crates/perl-lsp/tests/fixtures/frameworks/moose_basic.pl
  crates/perl-lsp/tests/moo_semantics_e2e.rs
  crates/perl-refactoring/src/refactor/refactoring.rs
  docs/CURRENT_STATUS.md
  docs/HONEST_ASSESSMENT.md
Due: dap

feat(tests): enhance DAP smoke tests with additional assertions for stack frames and variable sorting
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
Due: dap

feat(tests): add tests for Moo handles and delegation methods, including attribute lists
  crates/perl-lsp/tests/fixtures/frameworks/moo_handles.pl
  crates/perl-lsp/tests/moo_semantics_e2e.rs
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
  crates/perl-semantic-analyzer/tests/frameworks_moo.rs
Due: none

feat(dap): enhance breakpoint functionality with hit conditions and logpoints support
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/dispatcher.rs
  crates/perl-dap/src/protocol.rs
  crates/perl-dap/tests/dap_adapter_tests.rs
  crates/perl-dap/tests/dap_breakpoint_matrix_tests.rs
  features.toml
Due: dap

feat: add support for inline values in DAP and update related capabilities and tests
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/dispatcher.rs
  crates/perl-dap/src/protocol.rs
  crates/perl-dap/tests/dap_comprehensive_test.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
  crates/perl-dap/tests/session_lifecycle_tests.rs
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp/src/features/map.rs
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/notebook.rs
  crates/perl-lsp/tests/lsp_comprehensive_3_17_test.rs
  crates/perl-lsp/tests/lsp_features_snapshot_test.rs
  crates/perl-lsp/tests/snapshots/lsp_features_snapshot_test__advertised_vs_caps.snap
  crates/perl-lsp/tests/snapshots/production_capabilities.json
  features.toml
Due: lsp, dap

feat(dap): update DAP capabilities and feature descriptions, disable unsupported options
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-lsp/tests/snapshots/lsp_features_snapshot_test__advertised_vs_caps.snap
  docs/LSP_MISSING_FEATURES_REPORT.md
  docs/TODO.md
  features.toml
Due: dap

feat(dap): add feature catalog and enhance DAP capabilities with new tests
  Cargo.lock
  crates/perl-dap/Cargo.toml
  crates/perl-dap/build.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/feature_catalog.rs
  crates/perl-dap/src/lib.rs
  crates/perl-dap/tests/dap_preview_e2e_receipts.rs
  crates/perl-dap/tests/dap_smoke_e2e.rs
  features.toml
Due: dap

refactor(symbol): simplify moo_attribute_expr function signature and logic
  crates/perl-semantic-analyzer/src/analysis/symbol.rs
Due: none

Fix clippy warnings and update CI gates for tree-sitter microcrates
  ci/check_unsafe_prod.sh
  ci/check_unwraps_prod.sh
  ci/todo_baseline.txt
  corpus_audit_report.json
  crates/perl-ts-heredoc-analysis/src/statement_tracker.rs
  crates/perl-ts-logos-lexer/src/context_lexer_simple.rs
  crates/perl-ts-logos-lexer/src/context_lexer_v2.rs
  docs/CURRENT_STATUS.md
  docs/ROADMAP.md
  scripts/forbid-fatal-constructs.sh
Due: none

Refactor workspace rename functionality and improve tests
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/tests/lsp_behavioral_tests.rs
  crates/perl-lsp/tests/lsp_cancellation_infrastructure_tests.rs
  crates/perl-lsp/tests/lsp_cancellation_parser_integration_tests.rs
  crates/perl-lsp/tests/lsp_cancellation_performance_tests.rs
  crates/perl-lsp/tests/lsp_cancellation_protocol_tests.rs
  crates/perl-lsp/tests/lsp_real_world_integration.rs
  crates/perl-parser/tests/index_lifecycle_tests.rs
  crates/perl-parser/tests/scope_analyzer_tests.rs
  crates/perl-parser/tests/semantic_smoke_tests.rs
  crates/perl-refactoring/src/refactor/workspace_rename.rs
  crates/perl-refactoring/tests/workspace_rename_tests.rs
  crates/perl-tdd-support/src/tdd/tdd_workflow.rs
Due: lsp

Improve error recovery tests and documentation for variable declaration handling
  crates/perl-lsp/tests/lsp_error_recovery.rs
  crates/perl-parser/tests/support/mod.rs
  crates/perl-parser/tests/test_utils.rs
  crates/tree-sitter-perl-rs/tests/unreachable_elimination_ac_tests.rs
Due: none

Fix TODO scanner to ignore string literals and restore Perl-correct $TODO
  ci/check_todos.sh
  ci/todo_baseline.txt
  crates/perl-lsp/tests/lsp_real_world_integration.rs
Due: none

Replace tautological AC1 tests with real unit tests
  crates/perl-ts-logos-lexer/src/simple_parser.rs
  crates/perl-ts-logos-lexer/src/simple_parser_v2.rs
  crates/tree-sitter-perl-rs/tests/unreachable_elimination_ac_tests.rs
  crates/tree-sitter-perl-rs/tests/unreachable_verification_tests.rs
Due: none

Fix flaky #307: replace degraded-behavior fallback with convergence retry
  crates/perl-lsp/tests/lsp_error_recovery.rs
Due: none

Enhance TODO checking script and update baseline; improve diagnostic recovery test output
  ci/check_todos.sh
  ci/todo_baseline.txt
  crates/perl-lsp/tests/lsp_error_recovery.rs
Due: none

Tighten TODO scanner regex and add --list switch
  ci/check_todos.sh
Due: none

Enhance #307 diagnostics with symbol range info
  crates/perl-lsp/tests/lsp_error_recovery.rs
Due: none

Enhance benchmarks, improve documentation hygiene checks, and update TODO policies
  benches/three_way_comparison.rs
  ci/check_doc_hygiene.sh
  ci/check_todos.sh
  ci/todo_baseline.txt
  crates/perl-lsp/src/security/sandbox.rs
  crates/perl-lsp/tests/lsp_completion_tests.rs
  crates/perl-ts-heredoc-analysis/src/anti_pattern_detector.rs
  crates/perl-ts-heredoc-analysis/src/dynamic_delimiter_recovery.rs
  crates/perl-ts-heredoc-analysis/src/encoding_aware_lexer.rs
  crates/perl-ts-heredoc-analysis/src/runtime_heredoc_handler.rs
  crates/tree-sitter-perl-rs/examples/special_heredoc_usage.rs
  crates/tree-sitter-perl-rs/tests/comprehensive_feature_tests.rs
  justfile
  scripts/ignored-test-count.sh
Due: lsp

Enhance context-aware lexer with regex parsing and improve token handling; update tests for string interpolation
  crates/perl-ts-logos-lexer/src/context_lexer_simple.rs
  crates/perl-ts-logos-lexer/src/context_lexer_v2.rs
  crates/perl-ts-logos-lexer/src/simple_parser_v2.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/minimal_parser.rs
  crates/tree-sitter-perl-rs/src/parser_v2.rs
  crates/tree-sitter-perl-rs/src/test_slash.rs
Due: none

Refactor Perl parser grammar and improve brace counting logic; update test assertions and current status metrics
  corpus_audit_report.json
  crates/perl-parser-pest/src/grammar.pest
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/src/grammar.pest
  crates/tree-sitter-perl-rs/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/src/test_slash.rs
  docs/CURRENT_STATUS.md
  justfile
Due: none

fix(clippy): resolve Rust 1.93 clippy warnings across workspace
  crates/perl-dap/tests/session_lifecycle_tests.rs
  crates/perl-error/src/lib.rs
  crates/perl-lsp/tests/common/mod.rs
  crates/perl-lsp/tests/lsp_cancel_test.rs
  crates/perl-lsp/tests/lsp_unhappy_paths.rs
  crates/perl-lsp/tests/support/lsp_harness.rs
  crates/perl-lsp/tests/support/test_helpers.rs
  crates/perl-parser-pest/src/pure_rust_parser.rs
  crates/perl-parser/tests/extreme_input_edge_cases.rs
  crates/perl-parser/tests/parser_boundary_validation_tests.rs
  crates/perl-parser/tests/parser_glob_assignment_test.rs
  crates/perl-ts-advanced-parsers/src/full_parser.rs
  crates/perl-ts-partial-ast/src/phase_aware_parser.rs
  crates/tree-sitter-perl-rs/src/pure_rust_parser.rs
  crates/tree-sitter-perl-rs/tests/all_features_tests.rs
  crates/tree-sitter-perl-rs/tests/edge_case_tests.rs
  crates/tree-sitter-perl-rs/tests/enhanced_parser_tests.rs
  crates/tree-sitter-perl-rs/tests/heredoc_integration_tests.rs
  crates/tree-sitter-perl-rs/tests/integration_tests.rs
  crates/tree-sitter-perl-rs/tests/parser_error_hardening_tests.rs
  crates/tree-sitter-perl-rs/tests/test_additional_edge_cases.rs
  crates/tree-sitter-perl-rs/tests/test_heredoc_recovery.rs
  crates/tree-sitter-perl-rs/tests/test_heredoc_simple.rs
  crates/tree-sitter-perl-rs/tests/test_missing_edge_cases.rs
Due: none

refactor: update benchmark naming for clarity and improve file path matching tests
  benches/three_way_comparison.rs
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-refactoring/src/refactor/refactoring.rs
  flake.nix
Due: dap

feat(dap): Enhance DAP server with bridge mode and improve capabilities
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/dispatcher.rs
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/main.rs
  crates/perl-dap/src/protocol.rs
  docs/FRICTION_POINTS_AND_GAPS.md
  features.toml
Due: dap

Enhance Perl LSP Documentation and Features
  book/book.toml
  book/src/resources/adr.md
  book/src/resources/benchmarks.md
  book/src/resources/forensics.md
  book/src/resources/issue-tracking.md
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/lib.rs
  crates/perl-dap/src/protocol.rs
  crates/perl-lsp-protocol/src/capabilities.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/code_actions.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/completion.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/diagnostics.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/inlay_hints.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/rename.rs
  crates/perl-lsp/README.md
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-lsp/tests/fixtures/lsp/concurrent_request_fixtures.rs
  crates/perl-lsp/tests/fixtures/lsp/protocol_mock_data.rs
  crates/perl-lsp/tests/fixtures/mocks/test_infrastructure_mocks.rs
  crates/perl-lsp/tests/lsp_api_contracts.rs
  crates/perl-lsp/tests/lsp_caps_contract_shapes.rs
  crates/perl-lsp/tests/lsp_comprehensive_3_17_test.rs
  crates/perl-lsp/tests/lsp_integration_tests.rs
  crates/perl-lsp/tests/snapshots/ga_lock_capabilities.json
  crates/perl-lsp/tests/snapshots/production_capabilities.json
  docs/DEVELOPMENT.md
  docs/INDEX.md
  docs/INSTALLATION.md
  docs/LSP_DOCUMENTATION.md
  docs/ORIENTATION.md
  docs/README.md
  features.toml
  scripts/populate-book.sh
Due: lsp, dap

refactor: streamline DAP protocol imports and enhance code clarity
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-dap/src/lib.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/code_actions.rs
  crates/perl-lsp-providers/src/ide/lsp_compat/completion.rs
Due: dap

lsp: fix fileOperation glob brace expansion and add .psgi watcher
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/watchers.rs
Due: lsp

feat(tests): add corpus-level NodeKind coverage tests and helpers
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-parser/tests/corpus_nodekind_coverage_test.rs
  crates/perl-parser/tests/nodekind_helpers/mod.rs
  crates/perl-parser/tests/semantic_nodekind_coverage_tests.rs
  test_corpus/low_frequency_nodekinds_expression_positions.pl
Due: dap

Refactor node kind tests and helpers for improved clarity and efficiency
  crates/perl-ast/src/ast.rs
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-lsp/src/execute_command.rs
  crates/perl-lsp/src/runtime/language/colors.rs
  crates/perl-lsp/src/runtime/language/misc.rs
  crates/perl-lsp/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp/src/runtime/lifecycle/watchers.rs
  crates/perl-lsp/src/runtime/mod.rs
  crates/perl-lsp/src/runtime/window.rs
  crates/perl-lsp/tests/lsp_definition_tests.rs
  crates/perl-lsp/tests/lsp_file_operations_tests.rs
  crates/perl-lsp/tests/lsp_hover_tests.rs
  crates/perl-lsp/tests/lsp_progress_tests.rs
  crates/perl-lsp/tests/lsp_references_tests.rs
  crates/perl-lsp/tests/lsp_registration_tests.rs
  crates/perl-lsp/tests/lsp_rename_tests.rs
  crates/perl-lsp/tests/lsp_selection_range_tests.rs
  crates/perl-lsp/tests/lsp_signature_help_tests.rs
  crates/perl-lsp/tests/lsp_symbols_tests.rs
  crates/perl-lsp/tests/lsp_trace_tests.rs
  crates/perl-lsp/tests/lsp_workspace_symbol_tests.rs
  crates/perl-lsp/tests/lsp_workspace_tests.rs
  crates/perl-parser/tests/corpus_nodekind_coverage_test.rs
  crates/perl-parser/tests/label_uppercase_regression_test.rs
  crates/perl-parser/tests/nodekind_combination_data_structures.rs
  crates/perl-parser/tests/nodekind_combination_error_handling_edge_cases.rs
  crates/perl-parser/tests/nodekind_combination_io_operations.rs
  crates/perl-parser/tests/nodekind_combination_regex_pattern_matching.rs
  crates/perl-parser/tests/nodekind_helpers/mod.rs
  crates/perl-parser/tests/semantic_nodekind_coverage_tests.rs
  xtask/src/tasks/corpus_audit/nodekind_analysis.rs
Due: lsp, dap

feat(dap): enhance path validation and goto target management in debug adapter
  crates/perl-dap/src/debug_adapter.rs
  crates/perl-parser/tests/corpus_nodekind_coverage_test.rs
  crates/perl-parser/tests/label_uppercase_regression_test.rs
Due: dap

feat(tests): add various Perl test scripts for NodeKind coverage and functionality
  crates/perl-parser-core/src/engine/parser/statements.rs
  crates/perl-parser/tests/comprehensive_unicode_edge_cases.rs
  crates/perl-parser/tests/corpus_nodekind_coverage_test.rs
  crates/perl-parser/tests/label_uppercase_regression_test.rs
  scripts/.ignored-baseline
  scripts/dead-code-check.sh
  test_corpus/clean_class_method.pl
  test_corpus/clean_for_labeled.pl
  test_corpus/clean_given_when.pl
  test_corpus/clean_misc_kinds.pl
  test_corpus/clean_phase_blocks.pl
  test_corpus/clean_regex_substitution.pl
  test_corpus/clean_signatures.pl
  test_corpus/clean_try_catch.pl
Due: none

fix(dap): replace expect/panic with Result returns in tests
  crates/perl-dap/src/breakpoints.rs
  crates/perl-dap/src/debug_adapter.rs
Due: dap

chore: regenerate computed status docs
  docs/CURRENT_STATUS.md
  docs/ROADMAP.md
Due: none

Update corpus audit report with new metadata and inventory statistics
  AGENTS.md
  corpus_audit_report.json
Due: none
