Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

chore(swarm): add PR template and review rules (#8197) (#90)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/swarm/review-rules.md
Due: none

docs(project): mark active development moved to swarm (#8197)
  docs/project/status/development-moved-to-perl-lsp-swarm.md
Due: none

docs(project): mark active development moved to swarm (#8197) (#9551)
  docs/project/status/development-moved-to-perl-lsp-swarm.md
Due: none

docs(swarm): define upstream sync protocol (#8197) (#92)
  docs/project/status/development-moved-to-perl-lsp-swarm.md
  docs/swarm/sync-protocol.md
Due: none

docs(project): align swarm migration marker (#8197)
  docs/project/status/development-moved-to-perl-lsp-swarm.md
Due: none

sync: import source master through b7e8506 (#8197) (#91)
  crates/perl-parser/src/dead_code/mod.rs
  crates/perl-parser/tests/dead_code_detector.rs
  docs/swarm/operating-model.md
  docs/swarm/source-syncs/2026-05-20-source-master-b7e8506.md
Due: parser

docs(swarm): add release-lineage sync protocol (#8197)
  docs/swarm/sync-protocol.md
Due: none

chore(xtask): validate active goal manifest (#8197)
  .perl-lsp/goals/README.md
  .perl-lsp/goals/active.toml
  docs/reference/COMMANDS_REFERENCE.md
  xtask/src/main.rs
  xtask/src/tasks/active_goal_manifest.rs
  xtask/src/tasks/mod.rs
  xtask/tests/active_goal_manifest_cli.rs
  xtask/tests/list_commands_cli.rs
Due: none

chore(clippy): activate unnecessary_trailing_comma lint (#8608)
  Cargo.toml
  crates/perl-dap/src/variables/renderer.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
  crates/perl-incremental-parsing/tests/incremental_efficiency_tests.rs
  crates/perl-lsp-rs-core/src/features/contracts.rs
  crates/perl-lsp-rs-core/src/features/policy.rs
  crates/perl-lsp-rs-core/src/providers/navigation/definition_shadow.rs
  crates/perl-lsp-rs-core/src/providers/navigation/references_shadow.rs
  crates/perl-lsp-rs-core/src/runtime/launcher/mod.rs
  crates/perl-lsp-rs-core/tests/diag_snap.rs
  crates/perl-lsp-rs/src/runtime/language/semantic_tokens_runtime_quality_tests.rs
  crates/perl-module/tests/import_comprehensive_unit_tests.rs
  crates/perl-parser-comparison/tests/differential.rs
  crates/perl-parser-core/src/engine/parser/chained_deref_method_tests.rs
  crates/perl-parser-core/src/engine/parser/coderef_invocation_tests.rs
  crates/perl-parser-core/src/engine/parser/declaration_in_args_tests.rs
  crates/perl-parser-core/src/engine/parser/eval_goto_tests.rs
  crates/perl-parser-core/src/engine/parser/qualified_variable_subscript_tests.rs
  crates/perl-parser-core/src/engine/parser/typed_variable_declaration_tests.rs
  crates/perl-parser-core/src/engine/parser/variables.rs
  crates/perl-parser-core/tests/delimiter_recovery_tests.rs
  crates/perl-parser-core/tests/fix_else_elsif_recovery.rs
  crates/perl-parser-core/tests/fix_field_keyword_regression.rs
  crates/perl-refactoring/tests/rename_extract_coverage.rs
  crates/perl-tdd-support/tests/test_helper_coverage.rs
  crates/perl-workspace/tests/dual_indexing_tests.rs
  policy/clippy-lints.toml
  xtask/src/tasks/check_lint_policy.rs
  xtask/src/tasks/ci_metrics.rs
  xtask/src/tasks/metrics/release_health.rs
  xtask/src/tasks/parser_corpus_sweep.rs
  xtask/src/tasks/update_status/parser.rs
Due: dap

fix(diagnostics): expand from_message coverage for 4 common Perl compiler messages (#9553)
  crates/perl-diagnostics/src/codes/metadata.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
Due: none

fix(lsp): improve client compatibility for JetBrains and Sublime Text (#7505)
  crates/perl-lsp-rs/src/runtime/lifecycle/capabilities.rs
  crates/perl-lsp-rs/src/runtime/lifecycle/workspace.rs
  crates/perl-lsp-rs/src/runtime/workspace.rs
Due: none

test(perl-parser): cover BEGIN heredoc with commented brace (#8197)
  crates/perl-parser/src/heredoc_anti_patterns/detectors/tests.rs
Due: parser

test(perl-token): cover inverted span saturation and dedupe len logic (#8197)
  crates/perl-token/src/lib.rs
  crates/perl-token/src/token.rs
Due: none

test(perl-uri): cover legacy localhost UNC key normalization (#8197)
  crates/perl-uri/tests/classify_boundary_cases.rs
Due: none

test(perl-lexer): cover lexer mode delimiter predicate (#8197)
  crates/perl-lexer/src/mode.rs
Due: lexer

fix(perl-tdd-support): preserve edge-case test arity (#8197)
  crates/perl-tdd-support/src/tdd/tdd_workflow.rs
Due: none

test(perl-lexer): harden line scanning helpers (#0000) (#58)
  crates/perl-lexer/src/lexer/helpers/line_scanning.rs
Due: lexer

test(perl-parser-core): expand percentile unit coverage (#0000) (#11)
  crates/perl-parser-core/src/syntax/percentile.rs
Due: none

test(perl-dap): remove unwrap/expect in safe eval docs test (#0000) (#47)
  crates/perl-dap/tests/safe_eval_documentation_clarification_test.rs
Due: none

fix(xtask): tolerate doc command punctuation (#0000) (#49)
  xtask/src/tasks/devex_docs.rs
Due: none

test(xtask): cover supersede title handling (#0000) (#50)
  xtask/src/tasks/pr/title_check.rs
Due: none

fix(diagnostics): expand from_message coverage for 4 common Perl compiler messages (#9553) (#112)
  crates/perl-diagnostics/src/codes/metadata.rs
  crates/perl-diagnostics/tests/codes_comprehensive_unit_tests.rs
Due: none

fix(version-sync): track flake.nix version in collect_doc_sites (#4357) (#118)
  crates/perl-ci-hygiene/src/version_sync/mod.rs
  flake.nix
Due: none

fix(docs): resolve broken intra-doc links in perl-parser (#9022) (#121)
  crates/perl-parser/src/heredoc_anti_patterns/mod.rs
  crates/perl-parser/src/refactor/inline.rs
Due: parser

test(ux): add real editor trust smoke receipt (#8197) (#122)
  .perl-lsp/goals/active.toml
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/tests/ux_scenario_44_real_editor_trust_smoke_receipt.rs
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

fix(xtask): normalize backslash crate-dir input (#0000) (#51)
  xtask/src/tasks/targeted_checks.rs
  xtask/tests/fmt_package_lookup_tests.rs
Due: none

test(ux): add safe-delete referenced blocker receipt (#8197) (#124)
  .perl-lsp/goals/active.toml
  crates/perl-lsp-ux-tests/fixtures/editor_ux_fixture_matrix.json
  crates/perl-lsp-ux-tests/tests/ux_scenario_45_safe_delete_referenced_source_blocker.rs
  docs/project/status/provider_confidence_matrix.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

fix(xtask): match unwired TODO wiring comments case-insensitively (#0000) (#52)
  xtask/src/tasks/unwired_scan.rs
Due: none

refactor(xtask-tests): share git fixture helpers (#8197) (#69)
  xtask/tests/check_file_policy.rs
  xtask/tests/git_test_support.rs
  xtask/tests/non_rust_propose.rs
Due: none

test(rename): lock copyable edit-freshness receipts (#8197) (#142)
  .perl-lsp/goals/active.toml
  crates/perl-lsp-rs/src/runtime/language/refactor_runtime_blocker_tests.rs
  docs/project/status/provider_confidence_matrix.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

test(xtask): remove expect usage in pr title checks (#8197) (#145)
  xtask/tests/pr_title_check.rs
Due: none

docs(tree-sitter-perl-c): clarify purpose and route to ts-parser-perl (#20)
  crates/tree-sitter-perl-c/Cargo.toml
  crates/tree-sitter-perl-c/README.md
Due: none

refactor(perl-lexer): tighten data marker prefilter tests (#8197) (#78)
  crates/perl-lexer/src/tokenizer/util.rs
Due: lexer

test(workspace-symbols): add generated no-source variant receipt (#8197) (#158)
  .perl-lsp/goals/active.toml
  crates/perl-lsp-rs/src/runtime/language/symbols_runtime_quality_tests.rs
  crates/perl-lsp-rs/src/runtime/workspace.rs
  docs/project/status/provider_confidence_matrix.md
  docs/project/status/real_perl_editor_trust_v1.md
Due: none

refactor(perl-token): dedupe empty-span validation logic (#8197) (#68)
  crates/perl-token/src/token.rs
Due: none

fix(perl-dap): treat whitespace perl path config as empty (#8197) (#46)
  crates/perl-dap/src/platform/mod.rs
Due: dap
