Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

docs(metrics): add contributor-facing metric-stack and ratchet model summary (#4123)
  docs/INDEX.md
  docs/project/metrics/README.md
Due: none

docs(articles): swarm-operations learnings (#4125)
  docs/articles/SWARM_OPERATIONS_2026_04_11.md
Due: none

docs(forensics): PR #4090 false-premise cascade case study (#4127)
  docs/forensics/2026-04-11-pragma-phase-block-case-study.md
Due: none

docs(forensics): underselling pattern analysis (#4128)
  docs/forensics/2026-04-11-underselling-pattern-analysis.md
Due: none

features(catalog): surface refactoring, hover, completion, and code-action capabilities (#4114)
  README.md
  docs/project/ROADMAP.md
  features.toml
Due: none

test(dap-variables): strengthen undef type_name assertion in deep truncation tests
  crates/perl-dap-variables/tests/dap_deep_structure_truncation.rs
Due: none

test(dap-variables): add edge case coverage for past-end pagination and Reference child expansion
  crates/perl-dap-variables/tests/dap_deep_structure_truncation.rs
Due: none

test(dap): add deeply-nested structure truncation tests (#3487) (#4153)
  crates/perl-dap-variables/tests/dap_deep_structure_truncation.rs
  crates/perl-dap-variables/tests/deep_truncation.rs
Due: none

fix(status): strict-clean row shows 'unverified' not misleading pass ratio when receipt absent
  docs/project/status/parser.md
  xtask/src/tasks/update_status.rs
Due: none

fix(articles): correct stale gold fixture directory references in scorecard journey
  docs/articles/SCORECARD_SEQUENCING_JOURNEY.md
Due: none

docs(articles): scorecard sequencing journey — from theoretical to empirical (#4062) (#4145)
  docs/articles/SCORECARD_SEQUENCING_JOURNEY.md
Due: none

features(catalog): surface refactoring, hover, completion, and code-action capabilities (#4114) (#4126)
  README.md
  docs/project/ROADMAP.md
  features.toml
Due: none

test(dap): add end-to-end workflow session harness and 3 E2E tests (#3486)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/parsing.rs
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/common/mod.rs
  crates/perl-dap/tests/dap_e2e_workflow_tests.rs
  crates/perl-dap/tests/fixtures/workflow_e2e.pl
Due: dap

fix(workspace): handle workspace/symbol in Building state and rank by folder (#4152)
  crates/perl-lsp/src/fallback/text.rs
  crates/perl-lsp/src/runtime/symbol_extraction.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/multi_root_workspace_tests.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: lsp

feat(diagnostics): bootstrap gold corpus with 10 seed fixtures, loader, and test suite (#4065)
  crates/perl-corpus/src/gold.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
  justfile
  test_corpus/gold/README.md
  test_corpus/gold/eval_string_pragma/expected.json
  test_corpus/gold/eval_string_pragma/fixture.pl
  test_corpus/gold/hello_world/expected.json
  test_corpus/gold/hello_world/fixture.pl
  test_corpus/gold/local_special_var/expected.json
  test_corpus/gold/local_special_var/fixture.pl
  test_corpus/gold/map_with_default_var/expected.json
  test_corpus/gold/map_with_default_var/fixture.pl
  test_corpus/gold/missing_strict/expected.json
  test_corpus/gold/missing_strict/fixture.pl
  test_corpus/gold/open_lexical_filehandle/expected.json
  test_corpus/gold/open_lexical_filehandle/fixture.pl
  test_corpus/gold/parse_error_recovery/expected.json
  test_corpus/gold/parse_error_recovery/fixture.pl
  test_corpus/gold/push_arrayref/expected.json
  test_corpus/gold/push_arrayref/fixture.pl
  test_corpus/gold/use_if_strict/expected.json
  test_corpus/gold/use_if_strict/fixture.pl
  test_corpus/gold/v5_40_suppresses_strict/expected.json
  test_corpus/gold/v5_40_suppresses_strict/fixture.pl
Due: corpus

chore: update Cargo.lock after formatting and clippy fixes
  Cargo.lock
Due: none

test(corpus): fix gold fixture assertions to match actual diagnostic output
  test_corpus/gold/eval_string_pragma/expected.json
  test_corpus/gold/hello_world/expected.json
  test_corpus/gold/local_special_var/expected.json
  test_corpus/gold/map_with_default_var/expected.json
  test_corpus/gold/missing_strict/expected.json
  test_corpus/gold/open_lexical_filehandle/expected.json
  test_corpus/gold/parse_error_recovery/expected.json
  test_corpus/gold/push_arrayref/expected.json
  test_corpus/gold/use_if_strict/expected.json
  test_corpus/gold/v5_40_suppresses_strict/expected.json
Due: none

fix(standards-review): format, clippy, and test suite fixes for PR #4155
  crates/perl-corpus/src/gold.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
Due: corpus

features(catalog): Stage 2 — surface inlay hints, semantic tokens, and workspace symbols (#4114)
  crates/perl-dap/features_sot.toml
  crates/perl-lsp-feature-contracts/features_sot.toml
  crates/perl-lsp/features_sot.toml
  crates/perl-parser/features_sot.toml
  features.toml
Due: none

feat(status): surface parser scorecard + per-crate engineering-health metrics (#4070) (#4124)
  .github/workflows/ci-nightly.yml
  docs/project/status/parser.md
  docs/project/status/quality.md
  xtask/src/tasks/update_status.rs
Due: none

fix(deep-review): harden gold suite harness and fix use_if_strict fixture
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
  test_corpus/gold/README.md
  test_corpus/gold/use_if_strict/fixture.pl
Due: none

test(dap): strengthen E2E line assertions and fix multi-breakpoint test
  crates/perl-dap/tests/common/mod.rs
  crates/perl-dap/tests/dap_e2e_workflow_tests.rs
  crates/perl-dap/tests/fixtures/workflow_e2e.pl
Due: none

chore: xtask fmt pass on diagnostics_gold_suite.rs
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
Due: none

fix(review): add markupMessageSupport test and correct features.toml test reference
  crates/perl-lsp/tests/lsp_diagnostic_enrichment_test.rs
  features.toml
Due: none

docs(features): catalog implemented LSP 3.18 markupMessageSupport + update counts (#4099)
  README.md
  features.toml
Due: none

fix(catalog): correct semantic_tokens description — full+range only, not delta protocol
  crates/perl-dap/features_sot.toml
  crates/perl-lsp-feature-contracts/features_sot.toml
  crates/perl-lsp/features_sot.toml
  crates/perl-parser/features_sot.toml
  features.toml
Due: none

test(dap): add E2E workflow session harness and 3 integration tests (#3486) (#4156)
  crates/perl-dap/Cargo.toml
  crates/perl-dap/src/debug_adapter/mod.rs
  crates/perl-dap/src/debug_adapter/parsing.rs
  crates/perl-dap/src/debug_adapter/process.rs
  crates/perl-dap/tests/common/mod.rs
  crates/perl-dap/tests/dap_e2e_workflow_tests.rs
Due: dap

test(deep-review): edge case guards for gold corpus loader and harness
  crates/perl-corpus/src/gold.rs
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
Due: corpus

feat(xtask): metrics subcommand tree and parser-stats leaf (#4106)
  .ci/metrics/.gitkeep
  xtask/src/main.rs
  xtask/src/tasks/metrics/diagnostics_stats.rs
  xtask/src/tasks/metrics/lsp_stats.rs
  xtask/src/tasks/metrics/memory.rs
  xtask/src/tasks/metrics/mod.rs
  xtask/src/tasks/metrics/parser_stats.rs
  xtask/src/tasks/metrics/release_health.rs
  xtask/src/tasks/metrics/workspace_stats.rs
  xtask/src/tasks/mod.rs
Due: none

docs(workspace): update stale doc comment for handle_workspace_symbols_v2
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

features(catalog): Stage 2 — surface inlay hints, semantic tokens, and workspace symbols (#4114) (#4158)
  crates/perl-dap/features_sot.toml
  crates/perl-lsp-feature-contracts/features_sot.toml
  crates/perl-lsp/features_sot.toml
  crates/perl-parser/features_sot.toml
  features.toml
Due: none

docs(features): catalog implemented LSP 3.18 markupMessageSupport + update counts (#4099) (#4146)
  README.md
  crates/perl-lsp/tests/lsp_diagnostic_enrichment_test.rs
  features.toml
Due: none

test(corpus): bootstrap gold corpus seed fixtures and loader (#4065) (#4155)
  Cargo.lock
  crates/perl-corpus/src/gold.rs
  crates/perl-corpus/src/lib.rs
  crates/perl-lsp-diagnostics/Cargo.toml
  crates/perl-lsp-diagnostics/tests/diagnostics_gold_suite.rs
  justfile
  test_corpus/gold/README.md
  test_corpus/gold/eval_string_pragma/expected.json
  test_corpus/gold/eval_string_pragma/fixture.pl
  test_corpus/gold/hello_world/expected.json
  test_corpus/gold/hello_world/fixture.pl
  test_corpus/gold/local_special_var/expected.json
  test_corpus/gold/local_special_var/fixture.pl
  test_corpus/gold/map_with_default_var/expected.json
  test_corpus/gold/map_with_default_var/fixture.pl
  test_corpus/gold/missing_strict/expected.json
  test_corpus/gold/missing_strict/fixture.pl
  test_corpus/gold/open_lexical_filehandle/expected.json
  test_corpus/gold/open_lexical_filehandle/fixture.pl
  test_corpus/gold/parse_error_recovery/expected.json
  test_corpus/gold/parse_error_recovery/fixture.pl
  test_corpus/gold/push_arrayref/expected.json
  test_corpus/gold/push_arrayref/fixture.pl
  test_corpus/gold/use_if_strict/expected.json
  test_corpus/gold/use_if_strict/fixture.pl
  test_corpus/gold/v5_40_suppresses_strict/expected.json
  test_corpus/gold/v5_40_suppresses_strict/fixture.pl
Due: corpus

fix(workspace): handle workspace/symbol in Building state and rank by folder (#4152) (#4157)
  crates/perl-lsp/src/fallback/text.rs
  crates/perl-lsp/src/runtime/symbol_extraction.rs
  crates/perl-lsp/src/runtime/test_api.rs
  crates/perl-lsp/src/runtime/workspace.rs
  crates/perl-lsp/tests/multi_root_workspace_tests.rs
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: lsp

test(xtask): add 3 fix-forward tests for parser-stats metrics (#4106)
  xtask/src/tasks/metrics/parser_stats.rs
Due: none

feat(module-resolution): add consumer consistency harness for goto/hover/diagnostic agreement (#4067)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
  justfile
  test_corpus/gold/README.md
  test_corpus/gold/inc_findbin_relative/expected_module.json
  test_corpus/gold/inc_findbin_relative/fixture.pl
  test_corpus/gold/inc_findbin_relative/lib/FindBinModule.pm
  test_corpus/gold/inc_no_lib_cancellation/expected_module.json
  test_corpus/gold/inc_no_lib_cancellation/fixture.pl
  test_corpus/gold/inc_no_lib_cancellation/lib/GoneModule.pm
  test_corpus/gold/inc_relative_include_path/expected_module.json
  test_corpus/gold/inc_relative_include_path/fixture.pl
  test_corpus/gold/inc_relative_include_path/lib/GreetModule.pm
  test_corpus/gold/inc_system_inc/expected_module.json
  test_corpus/gold/inc_system_inc/fixture.pl
  test_corpus/gold/inc_use_lib_lexical/expected_module.json
  test_corpus/gold/inc_use_lib_lexical/fixture.pl
  test_corpus/gold/inc_use_lib_lexical/lib/LexicalModule.pm
Due: none

feat(xtask): metrics subcommand tree and parser-stats leaf (#4106) (#4160)
  .ci/metrics/.gitkeep
  xtask/src/main.rs
  xtask/src/tasks/metrics/diagnostics_stats.rs
  xtask/src/tasks/metrics/lsp_stats.rs
  xtask/src/tasks/metrics/memory.rs
  xtask/src/tasks/metrics/mod.rs
  xtask/src/tasks/metrics/parser_stats.rs
  xtask/src/tasks/metrics/release_health.rs
  xtask/src/tasks/metrics/workspace_stats.rs
  xtask/src/tasks/mod.rs
Due: none

fix(module-resolution): correct implementation file path references in status doc
  docs/project/status/module_resolution.md
Due: none

fix(docs): correct FindBin fixture path in gold corpus README
  test_corpus/gold/README.md
Due: none

feat(module-resolution): add consumer consistency harness for goto/hover/diagnostic agreement (#4067) (#4147)
  crates/perl-lsp-ux-tests/tests/ux_scenario_14_inc_conformance.rs
  docs/project/status/module_resolution.md
  justfile
  test_corpus/gold/README.md
  test_corpus/gold/inc_findbin_relative/expected_module.json
  test_corpus/gold/inc_findbin_relative/fixture.pl
  test_corpus/gold/inc_findbin_relative/lib/FindBinModule.pm
  test_corpus/gold/inc_no_lib_cancellation/expected_module.json
  test_corpus/gold/inc_no_lib_cancellation/fixture.pl
  test_corpus/gold/inc_no_lib_cancellation/lib/GoneModule.pm
  test_corpus/gold/inc_relative_include_path/expected_module.json
  test_corpus/gold/inc_relative_include_path/fixture.pl
  test_corpus/gold/inc_relative_include_path/lib/GreetModule.pm
  test_corpus/gold/inc_system_inc/expected_module.json
  test_corpus/gold/inc_system_inc/fixture.pl
  test_corpus/gold/inc_use_lib_lexical/expected_module.json
  test_corpus/gold/inc_use_lib_lexical/fixture.pl
  test_corpus/gold/inc_use_lib_lexical/lib/LexicalModule.pm
Due: none
