Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70..100"

  status:
    project:
      default:
        target: 70%           # Initial baseline target
        threshold: 1%         # Allow 1% coverage drop without failing
        if_ci_failed: error   # Fail if CI failed
    patch:
      default:
        target: 75%           # New code should have higher coverage
        threshold: 2%         # Allow 2% variance for patch coverage
        if_ci_failed: error

# Files/patterns to exclude from coverage analysis
ignore:
  - "archive/**"
  - "crates/tree-sitter-perl-rs/**"
  - "crates/tree-sitter-perl-c/**"
  - "crates/*/tests/**"
  - "crates/*/benches/**"
  - "crates/*/examples/**"
  - "crates/*/build.rs"
  - "xtask/**"
  - "fuzz/**"
  - "**/*_generated.rs"

# Per-crate coverage flags for detailed tracking
flags:
  parser:
    paths:
      - crates/perl-parser/src/
    target: 75%
  lsp:
    paths:
      - crates/perl-lsp/src/
    target: 70%
  lexer:
    paths:
      - crates/perl-lexer/src/
    target: 80%
  dap:
    paths:
      - crates/perl-dap/src/
    target: 65%
  corpus:
    paths:
      - crates/perl-corpus/src/
    target: 60%

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

fix(perl-module): harden FindBin use-lib path normalization (#4692)
  crates/perl-module/src/resolution/use_lib.rs
  crates/perl-module/tests/use_lib_resolution_unit_tests.rs
Due: none

fix(workspace-folder): accept uppercase file URI schemes (#4693)
  crates/perl-workspace-index/src/folder/mod.rs
Due: none

fix(dap-inline-values): clamp end bounds and preserve legacy package separators (#4696)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(color): correct xterm 256-color cube conversion (#4702)
  crates/perl-lsp-rs-core/src/providers/color/mod.rs
Due: none

ci: run full merge-gate on every PR (closes #4675) (#4677)
  .github/workflows/ci.yml
Due: none

fix(performance): preserve deterministic parallel result ordering (#4680)
  crates/perl-lsp-rs-core/src/performance/mod.rs
Due: none

fix(ci-hygiene): detect lowercase todo/fixme markers (#4681)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(performance): normalize node range checks in incremental parser (#4682)
  crates/perl-lsp-rs-core/src/performance/mod.rs
  crates/perl-lsp-rs-core/tests/performance_module_shape.rs
Due: none

fix(ci-hygiene): treat /Users/user as generic docs example (#4704)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(workspace-index): parse comma-packed use parent/base args (#0000) (#4705)
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(dap-inline): avoid treating array length marker as comment (#4709)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(workspace-folder): preserve rootPath file URIs (#4712)
  crates/perl-workspace-index/src/folder/mod.rs
Due: none

fix(parser): robust BEGIN heredoc detection in nested blocks (#4716)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

fix(dap): handle legacy namespace sigils in inline value scan
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(parser): normalize heredoc anti-pattern location columns
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

fix(workspace-discovery): deduplicate git ls-files results (#0000)
  crates/perl-workspace-index/src/discovery/mod.rs
Due: none

fix(modernize): avoid false negatives for quoted or-die text
  crates/perl-lsp-rs-core/src/providers/code_actions/modernize.rs
Due: none

fix(ci-hygiene): handle Rust c-string literals in TODO scanner
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(workspace-index): reject stale document store updates
  crates/perl-workspace-index/src/workspace/document_store.rs
  crates/perl-workspace-index/tests/comprehensive_unit_tests.rs
Due: none

fix(performance): preserve parallel processing result order
  crates/perl-lsp-rs-core/src/performance/mod.rs
  crates/perl-lsp-rs-core/tests/performance_module_shape.rs
Due: none

fix(dap): treat apostrophe namespace separators as code
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(perl-dap): honor unknown-frame parser option
  crates/perl-dap/src/stack/parser.rs
Due: dap

fix(dap-inline-values): clamp end line at EOF
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(ci-hygiene): detect lowercase todo/fixme markers
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(perl-dap): honor configured stack trace starting id
  crates/perl-dap/src/stack/parser.rs
Due: dap

fix(dap): ignore quote-like literals in inline value scans
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(ci-hygiene): detect perl inline hash TODO comments
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): detect TODOs in multiline rust block comments
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): handle escaped single quotes in hash comment TODO scan
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(parser): normalize heredoc anti-pattern location columns (#4690)
  crates/perl-parser/src/heredoc_anti_patterns.rs
Due: parser

fix(ci-hygiene): detect TODOs in multiline rust block comments (#4694)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): handle escaped single quotes in hash comment TODO scan (#4700)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): detect Perl inline hash TODO comments
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(perl-dap): honor unknown-frame parser option (#4728)
  crates/perl-dap/src/stack/parser.rs
Due: dap

feat(perl-lsp): add SQL::Abstract method completion, hover, and signature help
  crates/perl-lsp-completion/src/completion.rs
  crates/perl-lsp-completion/src/completion/methods.rs
  crates/perl-lsp-completion/src/lib.rs
  crates/perl-lsp-completion/tests/sql_abstract_completion_tests.rs
  crates/perl-lsp/src/runtime/language/hover.rs
  crates/perl-lsp/tests/sql_abstract_hover_signature_tests.rs
Due: lsp

fix(perl-dap): honor configured stack trace starting id (#4732)
  crates/perl-dap/src/stack/parser.rs
Due: dap

fix(perl-dap): ignore Perl quote-like literals in inline value scans
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(ci-hygiene): treat /Users/Shared as generic doc path
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(workspace-index): count skipped directories in walk discovery
  crates/perl-workspace-index/src/discovery/mod.rs
Due: none

fix(ci-hygiene): detect TODO hash comments after commas
  crates/perl-ci-hygiene/src/main.rs
Due: none
