Repository EffortlessMetrics/perl-lsp: changes, and which Codecov flags are due for each by the changed paths.
All: parser, lsp, lexer, dap, corpus

fix(ci-hygiene): narrow AC ignore classifier matching
  crates/perl-ci-hygiene/src/main.rs
Due: none

test(perl-lsp): harden security edge-case assertions
  crates/perl-lsp/tests/lsp_security_edge_cases.rs
Due: none

feat(async-await): Add LSP support for Perl 5.36+ async/await keywords (#3538)
  .hermes/conveyor/work-02a1ac3f/adr.md
  .hermes/conveyor/work-02a1ac3f/specs.md
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/async_await_keyword_presence_tests.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/keywords.rs
  crates/perl-lsp-rs-core/src/providers/semantic_tokens/semantic_tokens.rs
  crates/perl-lsp-rs-core/tests/async_await_lsp_tests.rs
  crates/perl-module/src/rename/mod.rs
Due: lexer

fix(ci-hygiene): ignore TODO markers inside Rust string literals
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): ignore TODO tokens in quoted hash literals
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): ignore TODO markers inside Rust literals
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(code-actions): treat insertion-inside-replacement as fixAll conflict
  crates/perl-lsp/src/runtime/language/code_actions.rs
Due: lsp

fix(ci-hygiene): scan all hash comment starts for TODO markers
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(perl-ci-hygiene): handle hash comments after quoted literals
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): ignore TODO markers inside quoted hash strings
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(dap): tighten inline value extraction bounds and legacy filtering
  crates/perl-dap/src/inline_values.rs
Due: dap

test(parser-core): align paren recovery assertions with diagnostics
  crates/perl-parser-core/tests/cpan_test_helpers/mod.rs
  crates/perl-parser-core/tests/paren_recovery_tests.rs
Due: none

test(perl-workspace): make member-count guard resilient to workspace evolution
  crates/perl-workspace-index/tests/collapse_edge_cases_tests.rs
Due: none

fix(workspace): make module-name boundary checks unicode-safe
  crates/perl-lsp/src/runtime/workspace.rs
Due: lsp

fix(refactor): honor new package qualifier in workspace rename
  crates/perl-refactoring/src/refactor/workspace_rename.rs
Due: none

test(workspace): relax stale member-count floor for collapse guard
  crates/perl-workspace-index/tests/collapse_edge_cases_tests.rs
Due: none

fix(dap): harden inline value extraction around non-code regions
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(workspace-index): parse non-paren qw delimiters for parent/base deps
  crates/perl-workspace-index/src/workspace/workspace_index.rs
Due: none

fix(ci-hygiene): sync single-crate hook package resolution (#4512)
  crates/perl-ci-hygiene/src/main.rs
Due: none

feat(diagnostics): unreachable code detection in continue blocks (#3374) (#4488)
  .hermes/conveyor/work-afb1f466-adr.md
  .hermes/conveyor/work-afb1f466-specs.md
  .hermes/conveyor/work-afb1f466/adr-spec-agent-findings.md
  .hermes/conveyor/work-afb1f466/adr.md
  .hermes/conveyor/work-afb1f466/specs.md
  .hermes/conveyor/work-afb1f466/task_list.md
  crates/perl-lsp-rs-core/src/providers/diagnostics/lints/unreachable_code.rs
  crates/perl-lsp-rs-core/tests/unreachable_code_continue_tests.rs
Due: none

docs(adr): add nix flake fix ADR and specs
  .hermes/conveyor/work-24c7cfb5/adr.md
  .hermes/conveyor/work-24c7cfb5/specs.md
Due: none

test(xtask): add flake.nix configuration verification tests
  xtask/tests/flake_config_test.rs
Due: none

fix(nix): sync version to 0.12.4 and add perl to dev shell
  flake.nix
Due: none

feat(async-await): Add LSP support for Perl 5.36+ async/await keywords (#3538) (#4485)
  .hermes/conveyor/work-02a1ac3f/adr.md
  .hermes/conveyor/work-02a1ac3f/specs.md
  crates/perl-lexer/src/keywords/mod.rs
  crates/perl-lexer/tests/async_await_keyword_presence_tests.rs
  crates/perl-lsp-rs-core/src/providers/completion/completion/keywords.rs
  crates/perl-lsp-rs-core/src/providers/semantic_tokens/semantic_tokens.rs
  crates/perl-lsp-rs-core/tests/async_await_lsp_tests.rs
Due: lexer

docs(dap): clarify safe eval provides syntactic validation only, not sandbox
  crates/perl-dap/tests/safe_eval_documentation_clarification_test.rs
  docs/adr/0019-security-first-dap.md
  docs/adr/0028-safe-eval-timeout.md
  docs/tutorials/DAP_USER_GUIDE.md
Due: none

fix(ci-hygiene): detect TODO comments after quoted hash content (#4606)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): avoid TODO false positives inside string literals (#4620)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): sync generated pre-push hook single-crate mapping (#4621)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): classify TODO(#issue) ignores as infra (#4622)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(ci-hygiene): narrow AC ignore classifier matching (#4629)
  crates/perl-ci-hygiene/src/main.rs
Due: none

fix(dap): stabilize variable paging cache and child refs (#4608)
  crates/perl-dap/src/debug_adapter/parsing.rs
  crates/perl-dap/src/debug_adapter/variables.rs
Due: dap

fix(dap): support legacy Perl namespace separators in inline values (#4613)
  crates/perl-dap/src/inline_values.rs
Due: dap

fix(dap-stack): tighten hash frame heuristic (#0000) (#4614)
  crates/perl-dap/src/stack/parser.rs
  crates/perl-dap/tests/stack_malformed_debugger_output_tests.rs
Due: dap

test(parser-core): re-enable stable unclosed bracket regressions (#4617)
  crates/perl-parser-core/tests/unclosed_bracket_fixes_tests.rs
Due: none

test(parser-core): align paren recovery assertions with diagnostics (#4639)
  crates/perl-parser-core/tests/cpan_test_helpers/mod.rs
  crates/perl-parser-core/tests/paren_recovery_tests.rs
Due: none

fix(performance): honor zero-worker parallel requests safely (#4618)
  crates/perl-lsp-rs-core/src/performance/mod.rs
  crates/perl-lsp-rs-core/tests/performance_module_shape.rs
Due: none

fix(lsp): broaden mojolicious route goto-definition matching (#4610)
  crates/perl-lsp/src/runtime/language/navigation.rs
  crates/perl-lsp/tests/mojolicious_navigation_tests.rs
Due: lsp

fix(grid): scope multi-profile advertised counts to selected profiles (#4611)
  crates/perl-lsp-rs-core/src/features/grid.rs
Due: none

test(perl-lsp): harden security edge-case assertions (#4630)
  crates/perl-lsp/tests/lsp_security_edge_cases.rs
Due: none

Path conditions:
  parser: any of: crates/perl-parser/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lsp: any of: crates/perl-lsp/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  lexer: any of: crates/perl-lexer/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  dap: any of: crates/perl-dap/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
  corpus: any of: crates/perl-corpus/src/, but not: archive/**, crates/tree-sitter-perl-rs/**, crates/tree-sitter-perl-c/**, crates/*/tests/**, crates/*/benches/**, crates/*/examples/**, crates/*/build.rs, xtask/**, fuzz/**, **/*_generated.rs
